{% extends "../_templates/layout_blank.njk" %}
{% block content %}

<div class="modal-pop window active stock-maching-modal" id="content">
    <div class="modal-dialog">
        <div class="modal-inner">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>상품 매칭하기</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                <div class="list-wrap">
                    <div class="order-product">
                        <div class="title">
                            <i class="tit-ico ico1"></i>
                            <h3>주문상품</h3>
                        </div>
                        <div class="list-box">
                            <div class="search-box">
                                <input type="text">
                                <button type="submit">찾기</button>
                            </div>
                            <ul class="list-type01">
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLUE/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        RED/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLACK/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        IVORY/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        WHITE/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLUE/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        RED/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLACK/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        IVORY/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        WHITE/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLUE/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        RED/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLACK/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        IVORY/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        WHITE/FREE
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="matching">
                        <div class="title">
                            <i class="tit-ico ico2"></i>
                            <h3 class="ftpointcolor">매칭</h3>
                        </div>
                        <div class="list-box">
                            <ul class="list-type01">
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLUE/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLUE/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLUE/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        RED/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLUE/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        RED/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLUE/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        RED/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLUE/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        RED/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLUE/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        RED/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLUE/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        RED/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        BLUE/FREE
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                    <div class="product-name">
                                        에이미 스트라이프 레글런 니트
                                    </div>
                                    <div class="product-option">
                                        RED/FREE
                                    </div>
                                </li>
                            </ul>
                            <div class="matching-info">
                                <div class="matching-icon">
                                </div>
                            </div>
                            <ul class="list-type02">
                                <li>
                                    <a href="javascript: void(0);" class="product-info">
                                        <div class="figure">
                                            <img src="../../img/cart-product-img.png" alt="product-img">
                                        </div>
                                        <div class="info">
                                            <div class="name"><strong class="product-code">(P000000L)</strong> <span class="product-name">스트라이프 레글런 니트</span></div>
                                            <div class="option">BLUE/FREE</div>
                                            <div class="price">29,000</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sale-product">
                        <div class="title">
                            <i class="tit-ico ico3"></i>
                            <h3>판매상품</h3>
                        </div>
                        <div class="list-box">
                            <div class="search-box">
                                <select name="" id="" class="default-select">
									<option value="">상품명</option>
									<option value="">상품코드</option>
								</select>
                                <div class="search">
                                    <input type="text">
                                    <button type="submit">찾기</button>
                                </div>
                            </div>
                            <ul class="list-type02">
                                <li>
                                    <a href="javascript: void(0);" class="product-info">
                                        <div class="figure">
                                            <img src="../../img/cart-product-img.png" alt="product-img">
                                        </div>
                                        <div class="info">
                                            <div class="name"><strong class="product-code">(P000000L)</strong> <span class="product-name">스트라이프 레글런 니트</span></div>
                                            <div class="option">BLUE/FREE</div>
                                            <div class="price">29,000</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="product-info">
                                        <div class="figure">
                                            <img src="../../img/cart-product-img.png" alt="product-img">
                                        </div>
                                        <div class="info">
                                            <div class="name"><strong class="product-code">(P000000L)</strong> <span class="product-name">스트라이프 레글런 니트</span></div>
                                            <div class="option">BLUE/FREE</div>
                                            <div class="price">29,000</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="product-info">
                                        <div class="figure">
                                            <img src="../../img/cart-product-img.png" alt="product-img">
                                        </div>
                                        <div class="info">
                                            <div class="name"><strong class="product-code">(P000000L)</strong> <span class="product-name">스트라이프 레글런 니트</span></div>
                                            <div class="option">BLUE/FREE</div>
                                            <div class="price">29,000</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="product-info">
                                        <div class="figure">
                                            <img src="../../img/cart-product-img.png" alt="product-img">
                                        </div>
                                        <div class="info">
                                            <div class="name"><strong class="product-code">(P000000L)</strong> <span class="product-name">스트라이프 레글런 니트</span></div>
                                            <div class="option">BLUE/FREE</div>
                                            <div class="price">29,000</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="product-info">
                                        <div class="figure">
                                            <img src="../../img/cart-product-img.png" alt="product-img">
                                        </div>
                                        <div class="info">
                                            <div class="name"><strong class="product-code">(P000000L)</strong> <span class="product-name">스트라이프 레글런 니트</span></div>
                                            <div class="option">BLUE/FREE</div>
                                            <div class="price">29,000</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="product-info">
                                        <div class="figure">
                                            <img src="../../img/cart-product-img.png" alt="product-img">
                                        </div>
                                        <div class="info">
                                            <div class="name"><strong class="product-code">(P000000L)</strong> <span class="product-name">스트라이프 레글런 니트</span></div>
                                            <div class="option">BLUE/FREE</div>
                                            <div class="price">29,000</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="product-info">
                                        <div class="figure">
                                            <img src="../../img/cart-product-img.png" alt="product-img">
                                        </div>
                                        <div class="info">
                                            <div class="name"><strong class="product-code">(P000000L)</strong> <span class="product-name">스트라이프 레글런 니트</span></div>
                                            <div class="option">BLUE/FREE</div>
                                            <div class="price">29,000</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="product-info">
                                        <div class="figure">
                                            <img src="../../img/cart-product-img.png" alt="product-img">
                                        </div>
                                        <div class="info">
                                            <div class="name"><strong class="product-code">(P000000L)</strong> <span class="product-name">스트라이프 레글런 니트</span></div>
                                            <div class="option">BLUE/FREE</div>
                                            <div class="price">29,000</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="product-info">
                                        <div class="figure">
                                            <img src="../../img/cart-product-img.png" alt="product-img">
                                        </div>
                                        <div class="info">
                                            <div class="name"><strong class="product-code">(P000000L)</strong> <span class="product-name">스트라이프 레글런 니트</span></div>
                                            <div class="option">BLUE/FREE</div>
                                            <div class="price">29,000</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="product-info">
                                        <div class="figure">
                                            <img src="../../img/cart-product-img.png" alt="product-img">
                                        </div>
                                        <div class="info">
                                            <div class="name"><strong class="product-code">(P000000L)</strong> <span class="product-name">스트라이프 레글런 니트</span></div>
                                            <div class="option">BLUE/FREE</div>
                                            <div class="price">29,000</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point matching-btn">매칭하기</button>	
                    <button type="button" name="button" class="btn btn-lg btn-outline-gray">매칭해제</button>	
                    <button type="button" name="button" class="btn btn-lg btn-outline-gray">비우기</button>	
                    <button type="button" name="button" class="btn btn-lg btn-darkgray" onclick='window.open("about:blank","_self").close();'>닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 07/13 수정 -->
<script>
    $(function(){
        $('.stock-maching-modal .matching-btn').click(function(){
            $('.stock-maching-modal .modal-body .list-wrap>div .list-box .matching-info').addClass('on');
        })
    })
</script><!-- 07/13 수정 -->

{% endblock %}