{% extends "../_templates/layout.njk" %}
{% block content %}
<!-- 2022 08 01 .img-wrap 추가 -->
<div id="wrap" class="img-wrap">

  <div class="content-head">
    <div class="page-title">
      <h3 class="h3-tit">상품상세</h3>
      <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
      <div class="form-box">
        <form onsubmit="return submitHandler();">
          <fieldset>
            <legend class="skip">통합검색</legend>
            <label for="total-search" class="skip">검색어 입력</label>
            <input type="search" name="total-search" id="total-search" title="검색어 입력" class="text"
              placeholder="상품을 검색해보세요.">
            <input type="submit" value="검색" class="submit">
          </fieldset>
        </form>
      </div>
      <!-- 2022-09-28 EZP-6975 장바구니 버튼 추가 -->
      <a href="" class="direct-cart-btn" target="_blank" title="장바구니 바로가기">장바구니 바로가기</a>
    </div>

    <div class="cont-info-right">
      <ul class="breadcrumb">
        <li>공급</li>
        <li class="now" title="현재 페이지">상품상세</li>
      </ul>
    </div>
  </div>

  <div class="product-detail-section">
    <div class="product-detail-box">
      <div class="prd-img-box">
        <ul>
          <li class="one-item">
            <div class="figure"
              style="background-image : url('../assets/images/goods-images/goods-detail-bigthumb.png'); background-size : cover;"></div>
          </li>
          <li>
            <div class="figure"
              style="background-image : url('../assets/images/goods-images/goods-detail-bigthumb.png')"></div>
          </li>
          <li>
            <div class="figure"
              style="background-image : url('../assets/images/goods-images/goods-detail-horizonthumb.png')"></div>
          </li>
          <li>
            <div class="figure"
              style="background-image : url('../assets/images/goods-images/goods-detail-horizonthumb.png')"></div>
          </li>
          <li>
            <div class="figure"
              style="background-image : url('../assets/images/goods-images/goods-detail-bigthumb.png')"></div>
          </li>
          <li>
            <div class="figure"
              style="background-image : url('../assets/images/goods-images/goods-detail-bigthumb.png')"></div>
          </li>
        </ul>
      </div>
      <div class="prd-info-box">
        <div class="sticky-box">
          <div class="info-title">
            <div class="product-title">
              <a href="#">
                <dl>
                  <dt>
                    톰과 체리나무
                  </dt>
                  <dd>
                    디오트 1동 2층 A열 345호
                  </dd>
                </dl>
              </a>
              <!-- 2022-12-05 EZP-6415 내 쇼핑몰 공급사 버튼 추가 -->
              <div class="store-btn">
                <a href="#">내 쇼핑몰 공급사로 등록 <i class="m-l-2"><img src="../assets/images/round-arrow.svg"></i></a>
                <!-- 2023-02-16 EZP-6415 퍼블 화면상 버튼 상단 여백 추가 -->
                <p class="m-t-5">내 쇼핑몰 공급사로 등록 <i class="m-l-2"><img src="../assets/images/small-check.svg"></i></p>
              </div>
              <div class="info-name-wrap">
                <h4>
                  기본T 롱 원피스
                  <i class="new-icon"><img src="../assets/images/icons/goods-new-icon.png" alt="goods new icon"></i>
                  <i class="best-icon"><img src="../assets/images/icons/goods-best-icon.png" alt="goods best icon"></i>
                </h4>
              </div>
            </div>
            <div class="dflex align-bottom">
              <div class="info-text-wrap">
                <p>상품코드 : E5954016801</p>
                <div class="hastag-wrap">
                  <a href="#">#30대</a>
                  <a href="#">#40대</a>
                  <a href="#">#모던시크</a>
                  <a href="#">#섹시글램</a>
                  <a href="#">#페미닌</a>
                  <a href="#">#여성</a>
                </div>
                <h6>71,000원</h6>
              </div>
              <div class="info-btn-wrap">

                <!-- 2022 08 01 수정 픽샵만 있는경우 -->
                <div class="btn-small-wrap only-pick-shop">
                  <div class="btn-small toggle-btn pick-shop">
                    <i></i>
                    <span>픽샵</span>
                  </div>
                </div>
                <!-- 픽샵만있는경우 end -->

                <div class="btn-small-wrap">
                  <div class="btn-small toggle-btn pick-shop">
                    <i></i>
                    <span>픽샵</span>
                  </div>
                  <div class="btn-small question" onclick="targetModalPopup('modal-goods-detail-contact')">
                    <i></i>
                    <span>문의</span>
                  </div>
                </div>
                <!-- on 추가시 아이콘 체크로 바뀌게 됩니다. -->
                <div class="btn-full" onclick="targetModalPopup('re-modal-add-shopping-goods')">
                  <!-- 2022-12-05 EZP-6415 이미지 제거
                  <i></i>
                   -->
                  <span>내 쇼핑몰 상품으로 등록</span>
                </div>
                <p class="registered-product">등록상품 <i class="m-l-5"><img src="../assets/images/medium-check.svg"></i></p>
              </div>
            </div>
          </div>
          <div class="info-option">
            <dl class="cate-check">
              <dt>카테고리</dt>
              <dd>
                <p class="cate-detail">
                  <span>여성</span>
                  <i><img src="../assets/images/icons/goods-cate-arrow.png" alt="goods category arrow icon"></i>
                  <span>원피스</span>
                  <i><img src="../assets/images/icons/goods-cate-arrow.png" alt="goods category arrow icon"></i>
                  <span>롱원피스</span>
                </p>
                <p class="cate-detail">
                  <span>여성</span>
                  <i><img src="../assets/images/icons/goods-cate-arrow.png" alt="goods category arrow icon"></i>
                  <span>상의</span>
                  <i><img src="../assets/images/icons/goods-cate-arrow.png" alt="goods category arrow icon"></i>
                  <span>티셔츠</span>
                </p>
                <p class="cate-detail">
                  <span>여성</span>
                  <i><img src="../assets/images/icons/goods-cate-arrow.png" alt="goods category arrow icon"></i>
                  <span>상의</span>
                  <i><img src="../assets/images/icons/goods-cate-arrow.png" alt="goods category arrow icon"></i>
                  <span>티셔츠</span>
                </p>
              </dd>
            </dl>
            <dl>
              <dt>소재</dt>
              <dd>
                <p>겉감 : 면 32%, 레이온 65%, 스판덱스 3%</p>
                <p>안감 : 폴리에스테르 100%</p>
              </dd>
            </dl>
            <dl>
              <dt>제조국가</dt>
              <dd>대한민국</dd>
            </dl>
            <dl class="option-check option-color">
              <dt>색상</dt>
              <dd>
                <ul>
                  <li class="on"><a href="#">블랙</a></li>
                  <li class="sold-out"><a href="#">화이트</a></li>
                  <li class="dashed"><a href="#">오렌지</a></li>
                  <li><a href="#">아이보리</a></li>
                  <li><a href="#">퍼플</a></li>
                  <li><a href="#">브라운</a></li>
                  <li><a href="#">카키</a></li>
                </ul>
              </dd>
            </dl>
            <dl class="option-check option-size">
              <dt>사이즈</dt>
              <dd>
                <ul>
                  <li><a href="#">S</a></li>
                  <li><a href="#">M</a></li>
                  <li><a href="#">L</a></li>
                  <li class="on"><a href="#">XL</a></li>
                  <li class="sold-out"><a href="#">XXL</a></li>
                </ul>
              </dd>
            </dl>
            <!-- 
                            옵션 4개이상 들어갈때에
                            클래스명 scroll-wrap 주시면 
                            스크롤 걸리게 잡아놓았습니다.
                         -->
            <ul class="product-option-wrap scroll-wrap">
              <li>
                <div class="prd-name-wrap">
                  <dl>
                    <dt>블랙</dt>
                    <dd>S</dd>
                  </dl>
                  <span class="caption">최소주문수량 1개</span>
                </div>
                <div class="prd-amount-wrap">
                  <div class="amount-btn">
                    <a class="amount-ctrl amount-down"></a>
                    <input type="text" name="" value="1" maxlength="5" />
                    <a class="amount-ctrl amount-up"></a>
                  </div>
                  <strong class="amount-price">12,000원</strong>
                  <div class="amount-close"></div>
                </div>
              </li>
              <li>
                <div class="prd-name-wrap">
                  <dl>
                    <dt>블랙</dt>
                    <dd>S</dd>
                  </dl>
                  <span class="caption">최소주문수량 1개</span>
                </div>
                <div class="prd-amount-wrap">
                  <div class="amount-btn">
                    <a class="amount-ctrl amount-down"></a>
                    <input type="text" name="" value="1" maxlength="5" />
                    <a class="amount-ctrl amount-up"></a>
                  </div>
                  <strong class="amount-price">12,000원</strong>
                  <div class="amount-close"></div>
                </div>
              </li>
              <li>
                <div class="prd-name-wrap">
                  <dl>
                    <dt>블랙</dt>
                    <dd>S</dd>
                  </dl>
                  <span class="caption">최소주문수량 1개</span>
                </div>
                <div class="prd-amount-wrap">
                  <div class="amount-btn">
                    <a class="amount-ctrl amount-down"></a>
                    <input type="text" name="" value="1" maxlength="5" />
                    <a class="amount-ctrl amount-up"></a>
                  </div>
                  <strong class="amount-price">12,000원</strong>
                  <div class="amount-close"></div>
                </div>
              </li>
              <li>
                <div class="prd-name-wrap">
                  <dl>
                    <dt>블랙</dt>
                    <dd>S</dd>
                  </dl>
                  <span class="caption">최소주문수량 1개</span>
                </div>
                <div class="prd-amount-wrap">
                  <div class="amount-btn">
                    <a class="amount-ctrl amount-down"></a>
                    <input type="text" name="" value="1" maxlength="5" />
                    <a class="amount-ctrl amount-up"></a>
                  </div>
                  <strong class="amount-price">12,000원</strong>
                  <div class="amount-close"></div>
                </div>
              </li>
            </ul>
          </div>
          <div class="info-buy">
            <div class="price-wrap">
              <p>총금액</p>
              <h5>
                <span class="count">(0개)</span>
                <b class="price">71,000원</b>
              </h5>
            </div>
            <div class="btn-wrap">
              <div class="inter-btn">
                <!-- 각 버튼마다 on 클래스 붙을시 활성화됩니다. -->
                <div class="info-like-btn"></div>
                <div class="btn-big sample on" onclick="targetModalPopup('modal-goods-detail-sample')">샘플신청하기</div>
                <div class="btn-big basket on">장바구니 담기</div>
                <div class="btn-big selfick on">
                  셀픽주문
                  <span>직거래 • 셀프픽업 주문</span>
                </div>
                <div class="btn-big easypick on" onclick="targetModalPopup('direct-order-modal-case03')">
                  이지픽주문
                  <span>사입대행 주문</span>
                </div>
                <div class="btn-full sold-out">SOLD OUT</div>
              </div>
            </div>
            <div class="order-type-wrap">
              <p>이지픽주문과 셀픽주문의 차이점이 궁금하신가요?</p>
              <button type="button" onclick="targetModalPopup('modal-order-type')">
                <i><img src="../assets/images/icons/order-type-ico.png" alt="bang ico"></i>
                <span>주문타입</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="prid6-slide-wrap">
      <div class="slide-title-box">
        <dl>
          <dt>이런 상품은 어때요?</dt>
          <dd>
            <a href="#">
              <span>더보기</span>
              <i><img src="../assets/images/icons/detail-slide-arrow.png" alt="slide viewmore arrow"></i>
            </a>
          </dd>
        </dl>
        <div class="prd-slide-arrow">
          <span class="prd-slide-prev">
            <i><img src="../assets/images/icons/prd-slide-prev.png" alt="prd slide arrow"></i>
          </span>
          <span class="prd-slide-next">
            <i><img src="../assets/images/icons/prd-slide-next.png" alt="prd slide arrow"></i>
          </span>
        </div>
      </div>
      <ul id="prd7-slide" class="prd7-slide">
        <li>
          <ul class="prd-grid-wrap prd-grid7-wrap">
            <li>
              <div>
                <div class="img-box sold-out">
                  <a href="#" style="background-image : url('../assets/images/goods-images/goods-img23.png');"></a>
                  <div class="like-btn active"></div>
                </div>
                <div class="text-box">
                  <a href="#" class="prd-cate">[디오트] 라이트워터</a>
                  <a href="#" class="prd-name">빈티지 캔버스 스니커즈 뮬</a>
                  <b class="prd-price">29,000</b>
                </div>
              </div>
            </li>
            <li>
              <div>
                <div class="img-box">
                  <a href="https://www.naver.com"
                    style="background-image : url('../assets/images/goods-images/goods-img-horizon.png');"></a>
                  <div class="like-btn active"></div>
                </div>
                <div class="text-box">
                  <a href="https://www.daum.net" class="prd-cate">[디오트] 라이트워터</a>
                  <a href="https://www.google.co.kr" class="prd-name">빈티지 캔버스 스니커즈 뮬</a>
                  <b class="prd-price">29,000</b>
                </div>
              </div>
            </li>
            <li>
              <div>
                <div class="img-box">
                  <a href="#" style="background-image : url('../assets/images/goods-images/goods-img02.png');"></a>
                  <div class="like-btn"></div>
                </div>
                <div class="text-box">
                  <a href="#" class="prd-cate">[디오트] 라이트워터</a>
                  <a href="#" class="prd-name">빈티지 캔버스 스니커즈 뮬</a>
                  <b class="prd-price">29,000</b>
                </div>
              </div>
            </li>
            <li>
              <div>
                <!-- 2023-01-03 EZP-6829 soldout + sample case 추가 -->
                <div class="img-box sample sold-out">
                  <a href="#" style="background-image : url('../assets/images/goods-images/goods-img28.png');"></a>
                  <div class="like-btn"></div>
                </div>
                <div class="text-box">
                  <a href="#" class="prd-cate">[디오트] 라이트워터</a>
                  <a href="#" class="prd-name">빈티지 캔버스 스니커즈 뮬</a>
                  <b class="prd-price">29,000</b>
                </div>
              </div>
            </li>
            <li>
              <div>
                <!-- 2023-01-03 EZP-6829 sample case 추가 -->
                <div class="img-box sample">
                  <a href="#" style="background-image : url('../assets/images/goods-images/goods-img24.png');"></a>
                  <div class="like-btn"></div>
                </div>
                <div class="text-box">
                  <a href="#" class="prd-cate">[디오트] 라이트워터</a>
                  <a href="#" class="prd-name">빈티지 캔버스 스니커즈 뮬</a>
                  <b class="prd-price">29,000</b>
                </div>
              </div>
            </li>
            <li>
              <div>
                <div class="img-box">
                  <a href="#" style="background-image : url('../assets/images/goods-images/goods-img14.png');"></a>
                  <div class="like-btn active"></div>
                </div>
                <div class="text-box">
                  <a href="#" class="prd-cate">[디오트] 라이트워터</a>
                  <a href="#" class="prd-name">빈티지 캔버스 스니커즈 뮬</a>
                  <b class="prd-price">29,000</b>
                </div>
              </div>
            </li>
            <li>
              <div>
                <div class="img-box">
                  <a href="#" style="background-image : url('../assets/images/goods-images/goods-img25.png');"></a>
                  <div class="like-btn"></div>
                </div>
                <div class="text-box">
                  <a href="#" class="prd-cate">[디오트] 라이트워터</a>
                  <a href="#" class="prd-name">빈티지 캔버스 스니커즈 뮬</a>
                  <b class="prd-price">29,000</b>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <ul class="prd-grid-wrap prd-grid7-wrap">
            <li>
              <div>
                <div class="img-box">
                  <a href="#" style="background-image : url('../assets/images/goods-images/goods-img11.png');"></a>
                  <div class="like-btn active"></div>
                </div>
                <div class="text-box">
                  <a href="#" class="prd-cate">[디오트] 라이트워터</a>
                  <a href="#" class="prd-name">빈티지 캔버스 스니커즈 뮬</a>
                  <b class="prd-price">29,000</b>
                </div>
              </div>
            </li>
            <li>
              <div>
                <div class="img-box">
                  <a href="#" style="background-image : url('../assets/images/goods-images/goods-img14.png');"></a>
                  <div class="like-btn"></div>
                </div>
                <div class="text-box">
                  <a href="#" class="prd-cate">[디오트] 라이트워터</a>
                  <a href="#" class="prd-name">빈티지 캔버스 스니커즈 뮬</a>
                  <b class="prd-price">29,000</b>
                </div>
              </div>
            </li>
            <li>
              <div>
                <div class="img-box sold-out">
                  <a href="#" style="background-image : url('../assets/images/goods-images/goods-img17.png');"></a>
                  <div class="like-btn active"></div>
                </div>
                <div class="text-box">
                  <a href="#" class="prd-cate">[디오트] 라이트워터</a>
                  <a href="#" class="prd-name">빈티지 캔버스 스니커즈 뮬</a>
                  <b class="prd-price">29,000</b>
                </div>
              </div>
            </li>
            <li>
              <div>
                <div class="img-box">
                  <a href="#" style="background-image : url('../assets/images/goods-images/goods-img18.png');"></a>
                  <div class="like-btn"></div>
                </div>
                <div class="text-box">
                  <a href="#" class="prd-cate">[디오트] 라이트워터</a>
                  <a href="#" class="prd-name">빈티지 캔버스 스니커즈 뮬</a>
                  <b class="prd-price">29,000</b>
                </div>
              </div>
            </li>
            <li>
              <div>
                <div class="img-box">
                  <a href="#" style="background-image : url('../assets/images/goods-images/goods-img03.png');"></a>
                  <div class="like-btn"></div>
                </div>
                <div class="text-box">
                  <a href="#" class="prd-cate">[디오트] 라이트워터</a>
                  <a href="#" class="prd-name">빈티지 캔버스 스니커즈 뮬</a>
                  <b class="prd-price">29,000</b>
                </div>
              </div>
            </li>
            <li>
              <div>
                <div class="img-box">
                  <a href="#" style="background-image : url('../assets/images/goods-images/goods-img08.png');"></a>
                  <div class="like-btn active"></div>
                </div>
                <div class="text-box">
                  <a href="#" class="prd-cate">[디오트] 라이트워터</a>
                  <a href="#" class="prd-name">빈티지 캔버스 스니커즈 뮬</a>
                  <b class="prd-price">29,000</b>
                </div>
              </div>
            </li>
            <li>
              <div>
                <div class="img-box">
                  <a href="#" style="background-image : url('../assets/images/goods-images/goods-img28.png');"></a>
                  <div class="like-btn active"></div>
                </div>
                <div class="text-box">
                  <a href="#" class="prd-cate">[디오트] 라이트워터</a>
                  <a href="#" class="prd-name">빈티지 캔버스 스니커즈 뮬</a>
                  <b class="prd-price">29,000</b>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="product-moreinfo-section">
      <div class="product-moreinfo-wrap">
        <ul class="tab infotab-menu-wrap">
          <li data-tab="moreinfoTab1" class="active"><a href="javascript:void(0)">상품 상세정보</a></li>
          <li data-tab="moreinfoTab2"><a href="javascript:void(0)">반품/교환/환불</a></li>
        </ul>
      </div>
      <div class="goods-info-box tab-content tabCont" id="moreinfoTab1">
        <dl class="icon">
          <dt>세탁방법</dt>
          <dd>
            <ul>
              <li>
                <i><img src="../assets/images/icons/laundry-icon01.png" alt="laundry icon"></i>
                <span>약하게</span>
              </li>
              <li>
                <i><img src="../assets/images/icons/laundry-icon02.png" alt="laundry icon"></i>
                <span>단독손세탁</span>
              </li>
              <li>
                <i><img src="../assets/images/icons/laundry-icon03.png" alt="laundry icon"></i>
                <span>기계세탁가능</span>
              </li>
              <li>
                <i><img src="../assets/images/icons/laundry-icon04.png" alt="laundry icon"></i>
                <span>비틀기금지</span>
              </li>
              <li>
                <i><img src="../assets/images/icons/laundry-icon05.png" alt="laundry icon"></i>
                <span>표백금지</span>
              </li>
              <li>
                <i><img src="../assets/images/icons/laundry-icon06.png" alt="laundry icon"></i>
                <span>그늘에건조</span>
              </li>
              <li>
                <i><img src="../assets/images/icons/laundry-icon07.png" alt="laundry icon"></i>
                <span>중성세제</span>
              </li>
              <li>
                <i><img src="../assets/images/icons/laundry-icon08.png" alt="laundry icon"></i>
                <span>드라이크리닝</span>
              </li>
              <li>
                <i><img src="../assets/images/icons/laundry-icon09.png" alt="laundry icon"></i>
                <span>천대고다림질</span>
              </li>
              <li>
                <i><img src="../assets/images/icons/laundry-icon10.png" alt="laundry icon"></i>
                <span>전용세제</span>
              </li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt>A/S접수 및 고객센터</dt>
          <dd>02-6296-8794</dd>
        </dl>
        <dl class="radio">
          <dt>상품부가정보</dt>
          <dd>
            <div class="checkbox-wrap">
              <span>계절감</span>
              <fieldset>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" disabled /> 봄 / 가을
                </label>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" disabled /> 여름
                </label>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" checked /> 겨울
                </label>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" disabled /> 사계절
                </label>
              </fieldset>
            </div>
            <div class="checkbox-wrap">
              <span>착용감</span>
              <fieldset>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" checked /> 슬림핏
                </label>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" disabled /> 적당함
                </label>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" disabled /> 루즈핏
                </label>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" disabled /> 오버핏
                </label>
              </fieldset>
            </div>
            <div class="checkbox-wrap">
              <span>신축성</span>
              <fieldset>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" disabled /> 없음
                </label>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" checked /> 적당함
                </label>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" disabled /> 좋음
                </label>
              </fieldset>
            </div>
            <div class="checkbox-wrap">
              <span>두께감</span>
              <fieldset>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" checked /> 얇음
                </label>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" disabled /> 적당함
                </label>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" disabled /> 두꺼움
                </label>
              </fieldset>
            </div>
            <div class="checkbox-wrap">
              <span>비침</span>
              <fieldset>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" checked /> 비침없음
                </label>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" disabled /> 조금비침
                </label>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" disabled /> 비침
                </label>
                <label>
                  <input type="checkbox" name="hobby" value="exercise" disabled /> 사계절
                </label>
              </fieldset>
            </div>
          </dd>
        </dl>
        <dl>
          <dt>상품특성</dt>
          <dd>
            <p>스타일 : 캐주얼,모던시크,러블리</p>
            <p>패턴 : 체크</p>
            <p>디테일 : 노컬러,라운드넥,레이스,니트꽈배기</p>
          </dd>
        </dl>
        <dl>
          <dt>상세설명</dt>
          <dd>
            <p>~라이크워터~</p>
            <p>디오트4층 G17호</p>
            <p>전화주문/카톡주문:010-4687-1221</p>
            <p>카톡/카스/위쳇 ID : likewater1221</p>
            <p>Instagram:likewater_official_</p>
            <p>카스/인스타 추가시 더 많은 상세사진을 보실수있어요!</p>
          </dd>
        </dl>
      </div>
      <div class="goods-change-box tab-content tabCont hidden" id="moreinfoTab2">
        <h6>상품 배송 안내</h6>
        <ul>
          <li>
            <p class="info-caption">국내 직배송</p>
            <ul class="number-ul">
              <li>① 주문한 시점으로 익일 오전에 이지픽 사입삼촌이 상품을 직접 배송해드립니다.</li>
              <li>② 배송비는 배송과 사입량(중량/부피)에 따라 차이가 있으며, 별도 계약으로 진행됩니다.</li>
            </ul>
          </li>
          <li>
            <p class="info-caption">국내 택배</p>
            <ul class="number-ul">
              <li>① 대금결제 확인 후 익일로부터 2~3 영업일 정도가 소요됩니다.</li>
              <li>② 택배를 통해 배송되며, 3,000원(부가세 별도)의 배송비가 적용됩니다. </li>
            </ul>
            <div class="reference-caption-wrap">
              <p>※ 도서산간 지역은 추가배송비가 발생할 수 있습니다.</p>
            </div>
          </li>
          <li>
            <p class="info-caption">해외 택배</p>
            <ul class="number-ul">
              <li>① 해외 택배 배송기간은 국가별 배송 정책, 물류 상황 및 현지 택배사에 따라 달라질 수 있습니다.</li>
              <li>② 해외 배송 전 국내에서 발송 준비 기간은 3 영업일 정도가 소요됩니다.</li>
              <li>③ 사입 전에는 상품의 중량을 측정할 수 없기 때문에 총 상품 금액의 일정 %만큼 배송비를 추가로 선결제 청구합니다.</li>
              <li>④ 사입 후 배송하기 직전 상품의 정확한 중량 및 실 배송비가 책정이 되면 선결제한 배송비를 기준으로 정산됩니다.</li>
            </ul>
            <div class="reference-caption-wrap">
              <p>※ 모든 배송은 평일에만 진행됩니다. (*공휴일, 주말, 마켓 휴무일 제외)</p>
              <p>※ 도서산간 지역은 1~2영업일의 배송기간이 추가적으로 소요됩니다.</p>
              <p>※ 배송사의 사정 또는 천재지변, 도매처의 상황, 통관 문제 등으로 예상보다 더 지연될 수 있습니다.</p>
            </div>
          </li>
        </ul>
        <h6>상품 교환 안내</h6>
        <ul>
          <li>
            <ul class="number-ul">
              <li>
                ① 아래와 같은 2가지 이유
                <div>
                  1) 하자 상품의 수량<br />
                  2) 하자인 사유
                </div>
              </li>
            </ul>
            <div class="reference-caption-wrap">
              <p>※ 위와 같은 교환신청을 하지 않고 상품을 반송지로 보내실 경우에는 교환처리가 불가할 수 있으며, 상품 분실 및 불이익에 대해서 당사는 책임지지 않습니다.</p>
            </div>
            <ul class="number-ul mt10">
              <li>
                ② 또는 [바로주문-불량주문] 페이지를 통해 아래 내용들을 함께 작성하여 불량접수 신청을 하실 수 있습니다.
                <div>
                  1) 거래처명 <br />
                  2) 거래처주소 <br />
                  3) 연락처 <br />
                  4) 거래처 상품명 <br />
                  5) 색상 및 사이즈 <br />
                  6) 단가와 수량
                </div>
              </li>
              <li class="mt10">
                ③ 상품은 처음에 배송된대로의 상태를 그대로 유지하여 반드시 도착하여야 합니다. <br />
                상품에 포함된 가격표, 관련 기프트 및 무료 샘플이 배송되었다면 동봉하여 반송되어야 합니다.
              </li>
              <li class="mt10">
                ④ 반송된 상품이 불완전하거나 손상, 사용, 개조된 경우, 청결하지 못한 경우, <br />
                또는 그 외 기타 사용의 흔적이 보이는 경우에는 교환이 불가능합니다.
              </li>
              <li class="mt10">
                ⑤ 안내해드린 주소로 반드시 상품이 도착해야지만 교환이 가능합니다.
              </li>
            </ul>
          </li>
        </ul>
        <h6>상품 품절 및 환불 안내</h6>
        <ul>
          <li>
            <p class="info-caption">품절상품 환불</p>
            <ul class="number-ul">
              <li>① 품절상품 환불 내역 확인 : '검수완료' 즉시 [주문관리] 메뉴의 [환불내역] 페이지를 통해 확인이 가능합니다.</li>
              <li>② 환불 방법 : 환불 처리는 '검수완료' 즉시 완료되며, 예치금으로 적립됩니다.</li>
            </ul>
            <div class="reference-caption-wrap">
              <p>※ 회원 탈퇴 시 예치금 잔액이 환불계좌로 지급됩니다.</p>
              <p>※ 회원 탈퇴 전 예치금 잔액을 환불계좌로 지급받기를 원하실 경우 이지픽 고객센터(02-6296-8794) 로 문의해주시기 바랍니다.</p>
            </div>
          </li>
          <li>
            <p class="info-caption">환불계좌 변경</p>
            <ul class="number-ul">
              <li>① 환불계좌는 가입하실 때 입력한 회원 본인 명의의 계좌로만 변경 가능합니다.</li>
              <li>② 환불계좌 변경은 [마이페이지] 메뉴 > [회원정보수정]페이지에서 가능합니다.</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>


</div>


<script>
  $(document).ready(function () {

    $('#prd7-slide').slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      speed: 1000,
      arrows: true,
      dots: false,
      autoplay: false,
      autoplaySpeed: 3000,
      pauseOnHover: false,
      fade: false,
      vertical: false,
      prevArrow: $(".prd-slide-prev"),
      nextArrow: $(".prd-slide-next"),
      draggable: true,

    });

    // 상품 정보 하단 like-btn 토글 
    $('.info-like-btn').click(function () {
      $(this).toggleClass('active');
    })



    //2022-12-15 EZP-6415 전부 제거후 다시작성
    // 상품상세 상품등록 모달
    // $('#product-category .deps2 .open-2deps').hide();
    // $('#product-category>.deps2>i').click(function () {
    //   $(this).parent('li').toggleClass('active');
    //   if ($(this).parent('li').hasClass('active') == true) {
    //     $(this).parent('li').find('.open-2deps').show();
    //   } else {
    //     $(this).parent('li').find('.open-2deps').hide();
    //   }
    // })

    // const cate1 = $('#product-category .cate1 > .icon-cate-text');
    // const cate2 = $('#product-category .cate2 > .icon-cate-text');
    // const myCate = $('#my-category');
    // cate1.click(function () {
    //   const val1 = $(this).find('input').val();
    //   const dep1 = $(this).parent('li');
    //   const dataCode1 = dep1.attr('id');
    //   if (dep1.hasClass('on') == false) {
    //     myCate.append(`<li class="mycate" data-code="${dataCode1}"><span>${val1}</span><button type="button" name="button" class="btn btn-del">삭제</button></li>`);
    //   }
    //   dep1.addClass('on');
    //   $('#my-category li button').click(function () {
    //     const dep2 = $(this).parent('li');
    //     const dataCode2 = dep2.attr('data-code');
    //     $('#' + dataCode2).removeClass('on');
    //     dep2.remove();
    //   })
    // })
    // cate2.click(function () {
    //   const val1 = $(this).find('input').val();
    //   const val2 = $(this).parents('.deps').find('input').val();
    //   const dep1 = $(this).parent('li');
    //   const dataCode1 = dep1.attr('id');
    //   if (dep1.hasClass('on') == false) {
    //     myCate.append(`<li class="mycate" data-code="${dataCode1}"><span>${val2}<i></i>${val1}</span><button type="button" name="button" class="btn btn-del">삭제</button></li>`);
    //   }
    //   dep1.addClass('on');
    //   $('#my-category li button').click(function () {
    //     const dep2 = $(this).parent('li');
    //     const dataCode2 = dep2.attr('data-code');
    //     $('#' + dataCode2).removeClass('on');
    //     dep2.remove();
    //   })
    // })

    // // 상품등록 모달 옵션 x 버튼
    // $(".modal-add-shopping-goods .option-wrap ul li .close-btn").click(function () {
    //   $(this).parent().remove();
    // })

    // // 상품등록 모달 인풋 숨겨놓기
    // $(".modal-add-shopping-goods .ex-input-box").hide();
    // $(".modal-add-shopping-goods .easy-pick-popup-info table td").click(function (e) {
    //   const $clickTarget = $(e.target);
    //   if (!$clickTarget.hasClass('option')) {
    //     $(this).find('.ex-input-box').show();
    //   }
    // })

    // 2022-12-15 EZP-6415 상품등록 관련 script 재수정 시작
    $('#product-category .deps2 .open-2deps').hide();
      $('#product-category .deps2 .open-3deps').hide();
      $('#product-category .deps2 .open-4deps').hide();
      $('#product-category>.deps2>i').click(function () {
        $(this).parent('li').toggleClass('active');
        if ($(this).parent('li').hasClass('active') == true) {
        $(this).parent('li').find('.open-2deps').show();
        } else {
        $(this).parent('li').find('.open-2deps').hide();
        }
      })
      $('#product-category .open-2deps > .cate2 >i').click(function () {
        $(this).parent('li').toggleClass('active');
        if ($(this).parent('li').hasClass('active') == true) {
        $(this).parent('li').find('.open-3deps').show();
        } else {
        $(this).parent('li').find('.open-3deps').hide();
        }
      })
      $('#product-category .open-3deps > .cate3 >i').click(function () {
        $(this).parent('li').toggleClass('active');
        if ($(this).parent('li').hasClass('active') == true) {
        $(this).parent('li').find('.open-4deps').show();
        } else {
        $(this).parent('li').find('.open-4deps').hide();
        }
      })

      const cate1 = $('#product-category .cate1 > .icon-cate-text');
      const cate2 = $('#product-category .cate2 > .icon-cate-text');
      const cate3 = $('#product-category .cate3 > .icon-cate-text');
      const cate4 = $('#product-category .cate4 > .icon-cate-text');

      const myCate = $('#my-category');
      cate1.click(function () {
        const val1 = $(this).find('input').val();
        const dep1 = $(this).parent('li');
        const dataCode1 = dep1.attr('id');
        if (dep1.hasClass('on') == false) {
        myCate.append(
          `<li class="mycate" data-code="${dataCode1}"><span>${val1}</span><button type="button" name="button" class="btn btn-del">삭제</button></li>`
          );
        }
        dep1.addClass('on');
        $('#my-category li button').click(function () {
        const dep2 = $(this).parent('li');
        const dataCode2 = dep2.attr('data-code');
        $('#' + dataCode2).removeClass('on');
        dep2.remove();
        })
      })
      cate2.click(function () {
        const val1 = $(this).find('input').val();
        const val2 = $(this).parents('.deps').find('input').val();
        const dep1 = $(this).parent('li');
        const dataCode1 = dep1.attr('id');
        if (dep1.hasClass('on') == false) {
        myCate.append(
          `<li class="mycate" data-code="${dataCode1}"><span>${val2}<i>&gt;</i>${val1}</span><button type="button" name="button" class="btn btn-del">삭제</button></li>`
          );
        }
        dep1.addClass('on');
        $('#my-category li button').click(function () {
        const dep2 = $(this).parent('li');
        const dataCode2 = dep2.attr('data-code');
        $('#' + dataCode2).removeClass('on');
        dep2.remove();
        })
      })
      cate3.click(function () {
        const val1 = $(this).find('input').val();
        const val2 = $(this).parents('.cate2').find('input').val();
        const val3 = $(this).parents('.deps').find('input').val();
        const dep1 = $(this).parent('li');
        const dataCode1 = dep1.attr('id');
        if (dep1.hasClass('on') == false) {
          myCate.append(
          `<li class="mycate" data-code="${dataCode1}"><span>${val3}<i>&gt;</i>${val2}<i>&gt;</i>${val1}</span><button type="button" name="button" class="btn btn-del">삭제</button></li>`
          );
        }
        dep1.addClass('on');
        $('#my-category li button').click(function () {
        const dep2 = $(this).parent('li');
        const dataCode2 = dep2.attr('data-code');
        $('#' + dataCode2).removeClass('on');
        dep2.remove();
        })
      })
      cate4.click(function () {
        const val1 = $(this).find('input').val();
        const val2 = $(this).parents('.cate3').find('input').val();
        const val3 = $(this).parents('.cate2').find('input').val();
        const val4 = $(this).parents('.deps').find('input').val();
        const dep1 = $(this).parent('li');
        const dataCode1 = dep1.attr('id');
        if (dep1.hasClass('on') == false) {
        myCate.append(
          `<li class="mycate" data-code="${dataCode1}"><span>${val4}<i>&gt;</i>${val3}<i>&gt;</i>${val2}<i>&gt;</i>${val1}</span><button type="button" name="button" class="btn btn-del">삭제</button></li>`
          );
        }
        dep1.addClass('on');
        $('#my-category li button').click(function () {
        const dep2 = $(this).parent('li');
        const dataCode2 = dep2.attr('data-code');
        $('#' + dataCode2).removeClass('on');
        dep2.remove();
        })
      })

      //2022-12-12 EZP-6415 쇼핑몰 상품등록 버튼
      $('.product-registraion .option-box li.option').click(function(){
          $(this).toggleClass('on');
      })

      //2022-12-14 EZP-6415 상품 모달 인풋 숨겨놓기
      $('.product-registraion.ui-popup .tbl-register-row td.option .option-box ul .ex-input-box').hide();
      $('.product-registraion.ui-popup .tbl-register-row td.option .option-box').click(function(e){
          if(!$(e.target).parent().hasClass('option')){
              $(this).find('.ex-input-box').show();
          }
      })

      //2022-12-12 EZP-6415 쇼핑몰 상품등록 버튼
      $('.re-shopping-goods .option-box li.option').click(function(){
          $(this).toggleClass('on');
      })


      // 상품등록 모달 옵션 x 버튼
      $(".re-shopping-goods .option-wrap ul li .close-btn").click(function () {
        $(this).parent().remove();
      })

      // 2022-12-15 EZP-6415 기존 상품등록모달 제거 후 새로 작성 (상품등록 모달 인풋 숨겨놓기)
      $(".re-shopping-goods .modal-body .txt-cont .easypick-popup-info dl dd .tbl-register-row tbody tr td.option>div .option-box ul .ex-input-box").hide();
      $(".re-shopping-goods .modal-body .txt-cont .easypick-popup-info dl dd .tbl-register-row tbody tr td.option>div .option-box").click(function (e) {
        if(!$(e.target).parent().hasClass('option')){
          $(this).find('.ex-input-box').show();
        }
      })

      //swicth 버튼 클릭시 해당 내용 disabled 처리
			$('.re-shopping-goods .easypick-popup-info .btn-switch').click(function(){
				if($(this).children().is(':checked')){
					$(this).parents().next('td').removeClass('off');
					$(this).parents().next('.memjoin_wrap .prd-list').removeClass('off');
				} else {
					$(this).parents().next('td').addClass('off');
					$(this).parents().next('.product-detail').addClass('off');
				}
			})
    });
    // 2022-12-15 EZP-6415 상품등록 관련 script 재수정 끝

</script>


<!-- 문의 modal -->
{% include("./modals/shop/modal-goods-detail-contact.njk") %}

<!-- 상품등록 modal -->
{% include("./modals/shop/modal-add-shopping-goods.njk") %}

<!-- 샘플 modal -->
{% include("./modals/shop/modal-goods-detail-sample.njk") %}

<!-- 주문타입 modal -->
{% include("./modals/shop/modal-order-type.njk") %}

<!-- EC 상품등록 -->
{% include("./modals/stock-today/modal-stock-ecregis.njk") %}

<!-- 주문 허용 알림 -->
{% include("./modals/direct-order/direct-order-modal-case03.njk") %}

{% endblock %}