<!-- 개인정보약관 -->
<div class="modal-pop modal-easypick-privacy" id="modal-easypick-privacy">
    <div class="modal-dialog">
        <div class="modal-inner w650">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>개인정보 제3자 제공 동의 (필수)</h1>
                </div>
            </section>
            <div class="modal-body">
                <h6>1. 개인정보 제공 목적</h6>
                <p>카페24 계정 연동 및 이용자 식별, 이지픽 서비스 신규 가입, 마켓플러스에서 이지픽 서비스 이용<p>
                <h6>2. 제공하는 개인정보 항목</h6>
                <ul>
                    <li>
                        이지픽 서비스 신규 신청일 경우 : 카페24 아이디, 이메일, 담당자 정보 <br />
                        (이름, 휴대폰번호), 사업자 정보(대표자명, 사업장 주소, 사업자등록증)
                    </li>
                    <li>기존 이지픽 계정연동일 경우 : 카페24 아이디</li>
                </ul>
                <h6>3. 제공받는 곳</h6>
                <p>제이씨어패럴(주)</p>
                <h6>4. 제공받는 자의 개인정보 보유 및 이용 기간</h6>
                <p>원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 단, 관계 법령의 규정에 의하여 일정 기간 보존이 필요한 경우에는 해당 기간만큼 보관 후 삭제합니다.<p>
                <h6>* 해당 동의를 거부할 수 있으나, 거부 시 서비스 이용에 제한이 있을 수 있습니다.</h6>
            </div>

            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-easypick-point page-close">확인</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<!-- 이지픽계정연동하기 -->
<div class="modal-pop modal-easypick-account" id="modal-easypick-account">
    <div class="modal-dialog">
        <div class="modal-inner w650">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>이지픽 계정 연동하기</h1>
                </div>
            </section>
            <div class="modal-body">
                <div class="title-wrap">
                    <span>이용 중인 이지픽 기존 계정으로 로그인해주세요!</span>
                    <p>
                        마켓플러스에 이지픽 계정이 연동되어 <br />
                        이용 정보 그대로 마켓플러스에서 이지픽을 이용하실 수 있습니다!
                    </p>
                </div>
                <div class="user-area-wrap">
                    <div class="form-control">
                        <input type="text" placeholder="이메일 아이디 입력 (easypick@easypick.com)">
                    </div>
                    <div class="form-control">
                        <input type="text" placeholder="비밀번호 입력">
                    </div>
                    <a href="#">아이디 비밀번호 찾기</a>
                </div>
            </div>

            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-easypick-point page-close">로그인</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>
