{% extends "../_templates/layout.njk" %}
{% block content %}

<div class="wrapper" id="wrap">
    <div class="content" id="content">
        <div class="content-head">
            <div class="page-title">
                <h3 class="h3-tit">개인정보처리방침</h3>
                <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                <div class="form-box">
                    <form onsubmit="return submitHandler();">
                        <fieldset>
                            <legend class="skip">통합검색</legend>
                            <label for="total-search" class="skip">검색어 입력</label>
                            <input type="search" name="total-search" id="total-search" title="검색어 입력" class="text"
                                placeholder="상품을 검색해보세요.">
                            <input type="submit" value="검색" class="submit">
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="cont-info-right">
                <ul class="breadcrumb">
                    <li>공급</li>
                    <li>설정</li>
                    <li>이지픽설정</li>
                    <li class="now" title="현재 페이지">개인정보처리방침</li>
                </ul>
            </div>
        </div>


        <div class="top-wrap mb5 prev-privacy-button">
            <div class="select-control">
                <button type="button" class="btn-sel renewal-lightblack-text">이전처리방침보기</button>
                <ul class="sel-panel">
                    <li class="active"><a href="#">개인정보 처리방침 (yyyymmdd)</a></li>
                    <li><a href="#">개인정보 처리방침 (yyyymmdd)</a></li>
                    <li class="disabled">disabled <a href="#">개인정보 처리방침 (yyyymmdd)</a></li>
                    <li><a href="#">개인정보 처리방침 (yyyymmdd)</a></li>
                </ul>
            </div>
        </div>

        <!-- 개인정보처리방침 -->
        <div class="privacy-policy-wrap privacy-agree-box">
            <p class="top-msg">
                제이씨어패럴 주식회사는 (이하 "회사"는) 고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호에 관한 법률" 등 관련법령을 준수하고 있습니다. <br />
                회사는 개인정보처리방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.
            </p>
            <div class="article-text-wrap">
                <h3 class="terms-title">수집하는 개인정보 항목 및 수집방법</h3>
                <p>① 수집하는 개인정보의 항목</p>
                <ul class="deps1-text">
                    <li>회사는 회원가입 및 서비스 이용 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.</li>
                </ul>
                <b>개인사업자</b>
                <ul class="deps2-text">
                    <li>(필수) 대표자명, 상호, 사업자등록번호, 사업장주소, 사업자등록증, 계정정보(아이디(이메일), 비밀번호), 담당자정보(이름, 휴대폰번호), 배송지(쇼핑몰명, 기본배송지)</li>
                    <li>(선택) 환불계좌정보</li>
                </ul>
                <b>법인사업자</b>
                <ul class="deps2-text">
                    <li>(필수) 법인명, 법인등록번호, 사업자등록번호, 사업장주소, 사업자등록증, 계정정보(아이디(이메일), 비밀번호), 담당자정보(이름, 휴대폰번호), 배송지정보(쇼핑몰명, 기본배송지)</li>
                    <li>(선택) 환불계좌정보</li>
                </ul>
                <ul class="deps1-text">
                    <li>서비스 이용 과정이나 사업 처리 과정에서 서비스 이용기록, 접속로그, 쿠키, 접속 IP, 결제 기록, 불량이용 기록이 생성되어 수집될 수 있습니다.</li>
                </ul>
                <p>② 수집방법</p>
                <ul class="deps1-text">
                    <li>온라인 사이트, 앱(APP), 서면양식을 통한 회원가입</li>
                    <li>전화 등을 통한 고객상담 및 서비스 이용관리</li>
                    <li>이벤트(경품행사) 응모, 배송요청</li>
                    <li>제휴사로부터의 제공</li>
                    <li>생성정보 수집툴을 통한 수집</li>
                </ul>
            </div>
            <div class="article-text-wrap">
                <h3 class="terms-title">개인정보의 수집 및 이용목적</h3>
                <p>회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.</p>
                <ul class="deps1-text">
                    <li>
                        서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산 <br />
                        상품 및 콘텐츠 제공 , 구매 및 요금 결제 , 물품 배송 또는 청구서 등 발송 , 금융거래 본인 인증 및 금융 서비스
                    </li>
                    <li>
                        회원 관리 <br />
                        회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 연령확인, 불만처리 등
                    </li>
                    <li>민원처리, 고지사항 전달</li>
                    <li>
                        신규서비스 개발 및 마케팅, 광고 <br />
신규서비스(제품) 개발 및 특화, 인구통계학적 특성에 따른 서비스 제공 및 광고 게재, 접속빈도 파악, 회원의 서비스 이용에 대한 통계, 이벤트 등 광고성 정보 전달
                    </li>
                </ul>
            </div>
            <div class="article-text-wrap">
                <h3 class="terms-title">개인정보의 수집 및 이용목적</h3>
                <p class="mb20">
                    원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. <br />
                    다만, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.
                </p>
                <ul class="deps1-text noafter">
                    <li class="mb20">
                        ① 회사 내부방침에 의한 정보보유 사유 <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;회원이 탈퇴한 경우에도 불량회원의 부정한 이용의 재발을 방지, 분쟁해결 및 수사기관의 요청에 따른 협조를 위하여, 이용계약 해지일로부터 6개월간 회원의 정보를 보유할 수 있습니다.
                    </li>
                    <li>
                        ② 관련 법령에 의한 정보 보유 사유 <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;전자상거래등에서의소비자보호에관한법률 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.
                    </li>
                </ul>
                <b>계약 또는 청약철회 등에 관한 기록</b>
                <ul class="deps2-text">
                    <li>보존이유 : 전자상거래등에서의소비자보호에관한법률</li>
                    <li>보존기간 : 5년</li>
                </ul>
                <b>대금 결제 및 재화 등의 공급에 관한 기록</b>
                <ul class="deps2-text">
                    <li>보존이유: 전자상거래등에서의소비자 보호에관한법률</li>
                    <li>보존기간 : 5년</li>
                </ul>
                <b>소비자 불만 또는 분쟁처리에 관한 기록</b>
                <ul class="deps2-text">
                    <li>보존이유 : 전자상거래등에서의소비자보호에관한법률</li>
                    <li>보존기간 : 3년</li>
                </ul>
                <b>로그 기록</b>
                <ul class="deps2-text">
                    <li>보존이유: 통신비밀보호법</li>
                    <li>보존기간 : 3개월</li>
                </ul>
            </div>
        </div>

        
</div>

{% endblock %}