{% extends "../_templates/layout.njk" %}
{% block content %}

<div class="wrapper" id="wrap">
    <div class="content" id="content">
        <div class="content-head">
            <div class="page-title">
                <h3 class="h3-tit">이지픽설정</h3>
                <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
            </div>
            <div class="cont-info-right">
                <ul class="breadcrumb">
                    <li>공급</li>
                    <li>설정</li>
                    <li class="now" title="현재 페이지">이지픽설정</li>
                </ul>
            </div>
        </div>

        <!-- 2022 08 19 text 수정 -->
        <div class="tab-top-round">
            <ul class="tab-rounds tab">
                <li>
                    <a href="setting-easypickinfo-case1-1.html"><span>이지픽 정보</span></a>
                </li>
                <li class="active">
                    <a href="setting-easypickinfo-case2.html">큐레이션 정보</a>
                </li>
                <li>
                    <a href="setting-easypickinfo-case3.html">셀픽주문 사입삼촌 정보</a>
                </li>
            </ul>
        </div>
        
        <div class="easypick-case3-wrap">
            <div class="banner-wrap">
                <i><img src="../assets/images/easypick-case3-banner-logo.png" alt="case3 banner logo"></i>
                <h2>
                    고객님 쇼핑몰에는 어떤 상품이 필요하신가요? <br />
                    큐레이션 정보를 관리해주세요! <br />
                    <b>이지픽이 고객님 취향에 딱 맞는 가게와 상품들을 추천드려요!</b>
                </h2>
                <p>(큐레이션 정보 변경 후 [공급 > 이지픽사입하기 > 맞춤상품추천] 에서 새로운 추천 정보를 확인하실 수 있어요.)</p>
            </div>
            <ul class="step-wrap">
                <li class="age">
                    <div class="step-title-wrap">
                        <dl>
                            <dt>
                                <i><img src="../assets/images/icons/easypick-case3-step1.png" alt="easypick case3 icon"></i>
                            </dt>
                            <dd>연령대</dd>
                        </dl>
                        <span>(최대 2개 선택 가능)</span>
                    </div>
                    <ul class="step-cate-wrap">
                        <li><a href="#">전연령</a></li>
                        <li><a href="#">유/아동</a></li>
                        <li><a href="#">10대</a></li>
                        <li class="on"><a href="#">20대</a></li>
                        <li class="on"><a href="#">30대</a></li>
                        <li><a href="#">40대</a></li>
                        <li><a href="#">50대 이상</a></li>
                    </ul>
                </li>
                <li class="cate">
                    <div class="step-title-wrap">
                        <dl>
                            <dt>
                                <i><img src="../assets/images/icons/easypick-case3-step2.png" alt="easypick case3 icon"></i>
                            </dt>
                            <dd>상품 유형</dd>
                        </dl>
                        <span>(중복 선택 가능)</span>
                    </div>
                    <ul class="step-cate-wrap">
                        <li><a href="#">여성</a></li>
                        <li class="on"><a href="#">남성</a></li>
                    </ul>
                </li>
                <li class="style">
                    <div class="step-title-wrap">
                        <dl>
                            <dt>
                                <i><img src="../assets/images/icons/easypick-case3-step3.png" alt="easypick case3 icon"></i>
                            </dt>
                            <dd>스타일</dd>
                        </dl>
                        <span>(최대 3개 선택 가능)</span>
                    </div>
                    <ul class="step-cate-wrap">
                        <li><a href="#">캐주얼</a></li>
                        <li><a href="#">모던시크</a></li>
                        <li><a href="#">베이직</a></li>
                        <li class="on"><a href="#">클래식</a></li>
                        <li class="on"><a href="#">스트릿</a></li>
                        <li><a href="#">스포티</a></li>
                        <li><a href="#">레트로</a></li>
                        <li class="on"><a href="#">페미닌</a></li>
                        <li><a href="#">오피스</a></li>
                        <li><a href="#">러블리</a></li>
                        <li><a href="#">유니섹스</a></li>
                        <li><a href="#">섹시글램</a></li>
                    </ul>
                </li>
                <li class="main-cate">
                    <div class="step-title-wrap">
                        <dl>
                            <dt>
                                <i><img src="../assets/images/icons/easypick-case3-step4.png" alt="easypick case3 icon"></i>
                            </dt>
                            <dd>주력 카테고리</dd>
                        </dl>
                        <span>(2차 분류 또는 3차 분류를 최대 10개까지 선택 가능)</span>
                    </div>
                    <div class="add-cate-wrap">
                        <div class="depth-one">
                            <ul class="elem-list">
                                <li class="active">여성</li>
                            </ul>
                        </div>
                        <div class="depth-two">
                            <ul class="elem-list">
                                <li class="active">아우터</li>
                                <li>상의</li>
                                <li>블라우스/셔츠</li>
                                <li>원피스</li>
                                <li>니트</li>
                                <li>팬츠</li>
                                <li>스커트</li>
                                <li>홈/언더웨어</li>
                                <li>신발</li>
                            </ul>
                            <button type="button" name="button" class="depth-add-btn">
                                <span>2차 분류 추가</span>
                            </button>
                        </div>
                        <div class="depth-three">
                            <ul class="elem-list">
                                <li>코트</li>
                                <li>재킷</li>
                                <li>데님</li>
                                <li>패딩</li>
                                <li class="active">점퍼</li>
                                <li>가디건/베스트</li>
                            </ul>
                            <button type="button" name="button" class="depth-add-btn">
                                <span>3차 분류 추가</span>
                            </button>
                        </div>
                    </div>
                    <div class="cate-name-wrap">
                        <ul>
                            <li>
                              <div>
                                <span>1차분류명</span>
                                <i class="arrow-icon"><img src="../assets/images/icons/main-cate-arrow.png" alt="main cate arrow"></i>
                                <span>2차분류명</span>
                              </div>
                              <i class="close-btn"></i>
                            </li>
                            <li>
                                <div>
                                  <span>1차분류명</span>
                                  <i class="arrow-icon"><img src="../assets/images/icons/main-cate-arrow.png" alt="main cate arrow"></i>
                                  <span>2차분류명</span>
                                </div>
                                <i class="close-btn"></i>
                              </li>
                              <li>
                                <div>
                                  <span>1차분류명</span>
                                  <i class="arrow-icon"><img src="../assets/images/icons/main-cate-arrow.png" alt="main cate arrow"></i>
                                  <span>2차분류명</span>
                                </div>
                                <i class="close-btn"></i>
                              </li>
                              <li>
                                <div>
                                  <span>1차분류명</span>
                                  <i class="arrow-icon"><img src="../assets/images/icons/main-cate-arrow.png" alt="main cate arrow"></i>
                                  <span>2차분류명</span>
                                </div>
                                <i class="close-btn"></i>
                              </li>
                          </ul>
                    </div>
                </li>
                <li class="market">
                    <div class="step-title-wrap">
                        <dl>
                            <dt>
                                <i><img src="../assets/images/icons/easypick-case3-step5.png" alt="easypick case3 icon"></i>
                            </dt>
                            <dd>자주 가는 마켓</dd>
                        </dl>
                        <span>(최대 3개 선택 가능)</span>
                    </div>
                    <ul class="select-list">
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_1" class="chkMarket">
                            <label for="market_1">프로모션</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_2" class="chkMarket">
                            <label for="market_2">APM</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_3" class="chkMarket">
                            <label for="market_3">APM럭스</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_4" class="chkMarket">
                            <label for="market_4">APM플레이스</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_5" class="chkMarket">
                            <label for="market_5">
                                DDP
                                <small>(유어스)</small>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_6" class="chkMarket">
                            <label for="market_6">DWP</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_7" class="chkMarket">
                            <label for="market_7">
                                SSF
                                <small>(상상팩토리)</small>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_8" class="chkMarket">
                            <label for="market_8">남평화</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_9" class="chkMarket">
                            <label for="market_9">누죤</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_10" class="chkMarket">
                            <label for="market_10">동평화</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_11" class="chkMarket">
                            <label for="market_11">디오트</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_12" class="chkMarket">
                            <label for="market_12">디자이너클럽</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_13" class="chkMarket">
                            <label for="market_13">맥스타일</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_14" class="chkMarket">
                            <label for="market_14">
                                무궁화회관
                                <small>(디오트외곽)</small>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_15" class="chkMarket">
                            <label for="market_15">벨포스트</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_16" class="chkMarket">
                            <label for="market_16">스튜디오W</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_17" class="chkMarket">
                            <label for="market_17">신발상가 A동</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_18" class="chkMarket">
                            <label for="market_18">신발상가 B동</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_19" class="chkMarket" checked="checked">
                            <label for="market_19">신발상가 C동</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_20" class="chkMarket">
                            <label for="market_20">신발상가 D동</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_21" class="chkMarket">
                            <label for="market_21">신평화</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_22" class="chkMarket">
                            <label for="market_22">제일평화</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_23" class="chkMarket" checked="checked">
                            <label for="market_23">청계상가</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_24" class="chkMarket">
                            <label for="market_24">청평화</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_25" class="chkMarket">
                            <label for="market_25">
                                퀸즈스퀘어
                                <small>(광희)</small>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_26" class="chkMarket">
                            <label for="market_26">테크노</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_27" class="chkMarket">
                            <label for="market_27">팀204</label>
                          </span>
                        </li>
                        <li>
                          <span class="checkbox">
                            <input type="checkbox" name="" id="market_28" class="chkMarket">
                            <label for="market_28">평화시장</label>
                            </span>
                          </li>
                      </ul>
                </li>
            </ul>
        </div>
        
</div>

{% include ("../_templates/content-footer/easypick-setting-footer-case3.njk") %}

{% endblock %}