{% extends "../_templates/layout.njk" %}
{% block content %}

<div class="wrapper" id="wrap">
    <div class="content" id="content">
        <div class="content-head">
            <div class="page-title">
                <h3 class="h3-tit">서비스이용약관</h3>
                <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                <div class="form-box">
                    <form onsubmit="return submitHandler();">
                        <fieldset>
                            <legend class="skip">통합검색</legend>
                            <label for="total-search" class="skip">검색어 입력</label>
                            <input type="search" name="total-search" id="total-search" title="검색어 입력" class="text"
                                placeholder="상품을 검색해보세요.">
                            <input type="submit" value="검색" class="submit">
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="cont-info-right">
                <ul class="breadcrumb">
                    <li>공급</li>
                    <li>설정</li>
                    <li>이지픽설정</li>
                    <li class="now" title="현재 페이지">서비스이용약관</li>
                </ul>
            </div>
        </div>


        <!-- 서비스이용약관 -->
        <div class="terms-service-wrap privacy-agree-box">
            <div class="article-text-wrap">
                <h3 class="terms-title">제 1조(목적)</h3>
                <p>이 약관은 제이씨어패럴 주식회사(이하 "회사"라 합니다)가 운영하는 이지픽서비스를 통하여 쇼핑몰 등을 운영하는 회원이 판매상품을 구매함에 있어 서비스 이용에 관한 권리 의무 및 기타 필요한 제반 사항을 규정하여, 상호 간의 권익을 보호하고 상호 번영에 기여함을 목적으로 합니다.</p>
            </div>
            <div class="article-text-wrap">
                <h3 class="terms-title">제 2 조 (용어의 정의)</h3>
                <p>① 이 약관에서 사용하는 용어의 정의는 다음 각호와 같습니다.</p>
                <ul>
                    <li>1. "이지픽서비스"(이하 "서비스" 또는 “사입서비스”라 한다)이라 함은 회사가 회원을 대신하여 판매상품을 사입하여 주는 서비스를 말한다.</li>
                    <li>2. "회원"이라 함은 회사에서 제공하는 홈페이지(www.easypick.co.kr)를 통하여 고객정보등록 절차를 거쳐 이용약관에 동의한 후 회원가입 절차가 완료되어 회원으로 등록된 자를 말합니다.</li>
                    <li>3. “홈페이지”라 함은 회사가 이지픽 서비스를 제공하는 사이트를 말합니다.</li>
                    <li>4. “미송”이라 함은 주문한 상품이 품절인 경우 구매예약을 접수하여 상품이 입고되면 자동으로 구매하는 방식을 말합니다.</li>
                </ul>
                <p class="mb0">② 전항에 정의되지 아니한 용어는 회사의 서비스 안내 또는 상관례에 따라 해석됩니다.</p>
            </div>
            <div class="article-text-wrap">
                <h3 class="terms-title">제 3 조 (약관 등의 개시와 개정)</h3>
                <p>① 회사는 이 약관의 내용을 회원이 쉽게 알 수 있도록 홈페이지 초기화면에 게시합니다.</p>
                <p>② 회사는 약관의규제에관한법률, 정보통신망이용촉진및정보보호등에관한법률 등 관련법을 위배하지 아니하는 범위에서 이 약관을 개정할 수 있습니다.</p>
                <p>③ 회사가 이 약관을 개정하는 경우에는 개정사유 및 적용일자를 명시하여 그 적용일자로부터 7일 이전부터 초기화면 또는 초기화면과의 연결화면을 통해 공지합니다. 다만, 회원에게 불리하게 계약내용을 변경하는 경우에는 30일의 유예기간을 두고 공지합니다.</p>
                <p>④ 회사가 전항에 따라 회원에게 공지하면서 적용일 이내 회원에게 의 사표시를 하지 않으면 승인한 것으로 본다는 뜻을 명확하게 고지하였음에도 의사표시가 없는 경우에는 변경된 약관을 승인한 것으로 봅니다. 회원이 개정약관에 동의하지 않을 경우 회원은 이용계약을 해지할 수 있습니다.</p>
                <p>⑤ 회사는 각 서비스에 따른 개별약관 및 운영정책을 정할 수 있으며 회원은 이를 준수하여야 합니다.</p>
                <p class="mb0">⑥ 이 약관에서 정하지 아니한 사항에 대해서는 관계법령 및 상관례에 따라 적용합니다.</p>
            </div>
            <div class="article-text-wrap">
                <h3 class="terms-title">제 4 조 (이용계약의 성립)</h3>
                <p class="mb10">① 이용계약은 회원이 이 약관에 동의하고 고객정보등록을 완료하면 회사가 이를 심사하여 승낙함으로써 성립합니다.</p>
                <p class="mb10">② 회사는 회원에게 필요정보 및 서류를 요구할 수 있으며, 제출완료 시까지 서비스 개시를 유보할 수 있습니다.</p>
                <p>③ 회사는 회원의 서비스 신청 시 다음 각 호에 해당하는 사유가 있는 경우 승낙하지 아니하거나 승낙을 철회할 수 있습니다.</p>
                <ul>
                    <li>1. 필요한 정보 및 서류를 누락, 오기하거나 제출하지 아니한 경우</li>
                    <li>2. 회사가 제공하는 일체의 서비스에서 계약위반 이력이 있거나 잔존하는 미납금액이 있는 경우</li>
                    <li>3. 14세 미만 아동이 법정대리인의 동의를 얻지 아니하고 신청한 경우</li>
                    <li>4. ‘신용정보의이용및보호에관한법률’에 의거 신용불량자로 등록된 경우</li>
                    <li>5. 선정적이고 미풍약속을 해치는 정보를 기반으로 신청한 경우</li>
                    <li>6. 회원의 귀책사유로 인하여 승인이 불가능하거나 기타 회사의 운영정책에 부합하지 아니하는 경우</li>
                </ul>
                <p>④ 회사는 다음 각 호에 해당하는 경우 이용계약의 승낙을 유보할 수 있습니다.</p>
                <ul>
                    <li>1. 천재지변, 전쟁 등 국가초유의 비상사태</li>
                    <li>2. 업무수행에 지장이 초래할 정보의 지극히 곤란한 사유가 있는 경우</li>
                    <li>3. 품질유지가 곤란하거나 필요한 설비, 인력이 부족한 경우</li>
                    <li>4. 기타 회사의 사정으로 안정적인 서비스 제공이 곤란한 경우</li>
                </ul>
                <p>⑤ 회사는 이용계약의 승낙 후 본 조 제3항, 제4항에 해당하는 경우 제6조에 따라 사전 통지 후 이용계약의 승낙을 철회할 수 있습니다.</p>
                <p class="mb0">⑥ 이 약관에서 정하지 아니한 사항에 대해서는 관계법령 및 상관례에 따라 적용합니다.</p>
            </div>
            <div class="article-text-wrap">
                <h3 class="terms-title">제 5 조 (개인정보보호)</h3>
                <p class="mb0">회사는 ‘정보통신망이용촉진및정보보호등에관한법률’, ‘개인정보보호법’ 등 개인정보 관련법령 및 『개인정보 안전성 확보조치 기준』 등에 따라 개인정보 안전성 확보에 필요한 관리적 기술적 조치를 취하며 회사의 개인정보처리방침에 따라 회원의 개인정보를 보호합니다.
                </p>
            </div>
        </div>

        
</div>

{% endblock %}