{% extends "../_templates/layout.njk" %}
{% block content %}

<div class="wrapper" id="wrap">
    <!-- container -->
    <div class="container" id="container">
        <!-- content -->
        <div class="content" id="content">
            <div class="content-head">
              <div class="page-title">
                <h3 class="h3-tit">적립금내역</h3>
                <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                <div class="form-box">
                  <form onsubmit="return submitHandler();">
                    <fieldset>
                      <legend class="skip">통합검색</legend>
                      <label for="total-search" class="skip">검색어 입력</label>
                      <input type="search" name="total-search" id="total-search" title="검색어 입력" class="text" placeholder="상품을 검색해보세요.">
                      <input type="submit" value="검색" class="submit">
                    </fieldset>
                  </form>
                </div>
              </div>
              <div class="cont-info-right">
                <ul class="breadcrumb">
                  <li>공급</li>
                  <li>정산관리</li>
                  <li class="now" title="현재 페이지">적립금내역</li>
                </ul>
              </div>
            </div>

            <div class="notice-wrap db renewal">
                <p class="ico-notice fnsize13">
                    적립/차감된 적립금 내역을 확인 할 수 있습니다.
                </p>
                <ul class="mt5">
                    <li>금액을 클릭하면 주문상세 또는 정산상세 페이지에서 자세한 적립 내역을 확인할 수 있습니다.</li>
                </ul>
            </div>

            <div class="mSearchEngine folder">
                <div class="tborder-box">
                    <div class="tbl-top-search">
                        <div class="table-row">
                            <table class="tbl-top">
                                <colgroup>
                                    <col style="width:120px;">
                                    <col style="width:calc(100% - 120px);">
                                </colgroup>
                                <tbody>
                                    <tr class="rowFix rowFold">
                                        <th>발생일</th>
                                        <td>
                                            <div class="form-inline">
                                                <div class="sel-date-type ml0">
                                                    <button type="button" class="label-date active">1개월</button>
                                                    <ul class="sel-date-list">
                                                        <li class="label-date">오늘</li>
                                                        <li class="label-date">3일</li>
                                                        <li class="label-date">7일</li>
                                                        <li class="label-date active">1개월</li>
                                                        <li class="label-date">3개월</li>
                                                        <li class="label-date">6개월</li>
                                                        <li class="label-date">1년</li>
                                                        <li class="label-date">선택</li>
                                                    </ul>
                                                </div>
                                                <div class="calendar-box time">
                                                    <div class="form-inline">
                                                        <div class="form-control">
                                                            <input type="text" class="cal-input" data-range="cal02" value="2022-03-13">
                                                        </div>
                                                        <div class="wave-txt">~</div>
                                                        <div class="form-control">
                                                            <input type="text" class="cal-input" data-range="cal02" value="2022-04-12">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="rowFix rowFold">
                                        <th>구분</th>
                                        <td>
                                            <div class="form-inline">
                                                <div class="form-control">
                                                    <label>
                                                        <input type="checkbox">
                                                        <span>전체</span>
                                                    </label>
                                                </div>
                                                <div class="form-control">
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <span>적립</span>
                                                    </label>
                                                </div>
                                                <div class="form-control">
                                                    <label>
                                                        <input type="checkbox">
                                                        <span>차감</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="rowFix rowFold">
                                        <th>유형</th>
                                        <td>
                                            <div class="form-inline">
                                                <div class="form-control">
                                                    <label>
                                                        <input type="checkbox">
                                                        <span>전체</span>
                                                    </label>
                                                </div>
                                                <div class="form-control">
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <span>주문차감</span>
                                                    </label>
                                                </div>
                                                <div class="form-control">
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <span>주문취소</span>
                                                    </label>
                                                </div>
                                                <div class="form-control">
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <span>정산환불</span>
                                                    </label>
                                                </div>
                                                <div class="form-control">
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <span>추가정산</span>
                                                    </label>
                                                </div>
                                                <div class="form-control">
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <span>관리자적립</span>
                                                    </label>
                                                </div>
                                                <div class="form-control">
                                                    <label>
                                                        <input type="checkbox">
                                                        <span>관리자차감</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="top-btn-search">
                            <button type="button" name="button" class="btn btn-lg btn-point">검색</button>
                            <div class="search-btns">
                                <a href="#" class="serchsortbtn">
                                    <button type="button" class="btn btn-lg btn-sub-primary sarchsortbtn">검색관리</button>
                                    <div class="top-search-sort">
                                        <button type="button" class="reset"><i class="ico ico-reset"></i>초기화</button>
                                        <div class="top-search-depth">
                                            <button type="button" class="add-search-save"><i class="ico ico-plus-blue"></i>검색조건 저장</button>
                                            <ul class="add-search-element">
                                                <li class="dflex">
                                                    <div class="form-control">
                                                        <input type="text" value="저장1">
                                                    </div>
                                                    <div class="s-search-btns">
                                                        <button type="button" class="btn btn-write">쓰기</button>
                                                        <button type="button" class="btn btn-del">삭제</button>
                                                    </div>
                                                </li>
                                                <li class="dflex">
                                                    <div class="form-control">
                                                        <input type="text" value="저장1">
                                                    </div>
                                                    <div class="s-search-btns">
                                                        <button type="button" class="btn btn-write">쓰기</button>
                                                        <button type="button" class="btn btn-del">삭제</button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="gridTableArea">
                <div class="table-top-info">
                    <div class="top-txt-inline">
                        <span class="txt-inline">검색결과 <strong><span class="txt-link-blue">1,000</span></strong>건</span>
                    <span class="txt-inline">현재잔액 <strong><span class="txt-link-blue">200,000</span></strong>원</span>
                    </div>
                    <div class="sort-sel-area">
                        <select id="list_limit" class="default-select">
                          <option value="20" selected="selected">20개씩 보기</option>
                          <option value="30">30개씩 보기</option>
                          <option value="50">50개씩 보기</option>
                          <option value="100">100개씩 보기</option>
                          <option value="200">200개씩 보기</option>
                          <!-- 2023-02-17 EZP-7830 보기 옵션 추가 시작 -->
                          <option value="300">300개씩 보기</option>
                          <option value="500">500개씩 보기</option>
                          <!-- 2023-02-17 EZP-7830 보기 옵션 추가 끝 -->
                        </select>
                    </div>
                </div>
            
                <div class="tround-box">
                    <div class="tbl-round ">
                        <div class="tbl-info-area">
                            <div class="f-right">
                                <div class="dflex">
                                    <div class="btns-multi">
                                        <button type="button" name="button" class="btn btn-sm btn-outline-gray"><i class="ico ico-excel"></i>엑셀다운로드</button>
                                        <button type="button" name="button" class="btn btn-ico btn-outline-gray"><i class="ico ico-sort"></i>설정</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 그리드 테이블-->
                        <!-- 그리드 테이블-->
                        <div class="mGridTable tbl-height01">
                            <table id="eMultiTable" class="eChkColor">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width:70px;" class="resizable">
                                          No
                                        </th>
                                        <th scope="col" style="width:200px;" class="resizable">
                                          발행일시
                                        </th>
                                        <th scope="col" style="width:200px;" class="resizable">
                                          유형
                                        </th>
                                        <th scope="col" style="width:590px;" class="resizable">
                                            내용
                                        </th>
                                        <th scope="col" style="width:300px;" class="resizable">
                                          금액
                                        </th>
                                        <th scope="col" style="width:300px;">
                                          잔액
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="h36">
                                    <tr>
                                        <td>7</td>
                                        <td>2022-04-05 15:30:23</td>
                                        <td>
                                          주문취소
                                        </td>
                                        <td>20220405-0000023</td>
                                        <td class="tar">
                                          + 20,000
                                        </td>
                                        <td class="tar">
                                            230,000
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>6</td>
                                        <td>2022-04-05 15:30:23</td>
                                        <td>주문사용</td>
                                        <td>20220405-0000023</td>
                                        <td class="tar">
                                          - 20,000
                                        </td>
                                        <td class="tar">
                                            230,000
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>5</td>
                                        <td>2022-04-05 15:30:23</td>
                                        <td>관리자차감</td>
                                        <td>추가 정산이 확인되어 관리자가 차감</td>
                                        <td class="tar">
                                          + 280,000
                                        </td>
                                        <td class="tar">
                                            230,000
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>4</td>
                                        <td>2022-04-05 15:30:23</td>
                                        <td>정산환불</td>
                                        <td>2022-04-02 정산완료</td>
                                        <td class="tar">
                                          + 280,000
                                        </td>
                                        <td class="tar">
                                            230,000
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td>2022-04-05 15:30:23</td>
                                        <td>추가정산</td>
                                        <td>관리자가 xx 사유로 적립금 지급</td>
                                        <td class="tar">
                                          + 280,000
                                        </td>
                                        <td class="tar">
                                            230,000
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>2</td>
                                        <td>2022-04-05 15:30:23</td>
                                        <td>관리자지급</td>
                                        <td>2022-01-31 정산완료</td>
                                        <td class="tar">
                                          + 280,000
                                        </td>
                                        <td class="tar">
                                            230,000
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>2022-04-05 15:30:23</td>
                                        <td>주문취소</td>
                                        <td>20220123-0000001</td>
                                        <td class="tar">
                                          + 280,000
                                        </td>
                                        <td class="tar">
                                            230,000
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div> 
                        <!-- //그리드 테이블-->
                    </div>
                </div>
                {% include("../_templates/default/pagination.njk") %}
            </div>

            <!-- 데이터 없을시 -->
            <div class="gridTableArea">
                <div class="table-top-info">
                    <div class="top-txt-inline">
                        <span class="txt-inline">검색결과 <strong><span class="txt-link-blue">1,000</span></strong>건</span>
                    <span class="txt-inline">현재잔액 <strong><span class="txt-link-blue">200,000</span></strong>원</span>
                    </div>
                    <div class="sort-sel-area">
                        <select id="list_limit" class="default-select">
                          <option value="20" selected="selected">20개씩 보기</option>
                          <option value="30">30개씩 보기</option>
                          <option value="50">50개씩 보기</option>
                          <option value="100">100개씩 보기</option>
                          <option value="200">200개씩 보기</option>
                          <!-- 2023-02-17 EZP-7830 보기 옵션 추가 시작 -->
                          <option value="300">300개씩 보기</option>
                          <option value="500">500개씩 보기</option>
                          <!-- 2023-02-17 EZP-7830 보기 옵션 추가 끝 -->
                        </select>
                    </div>
                </div>
            
                <div class="tround-box">
                    <div class="tbl-round ">
                        <div class="tbl-info-area">
                            <div class="f-right">
                                <div class="dflex">
                                    <div class="btns-multi">
                                        <button type="button" name="button" class="btn btn-sm btn-outline-gray"><i class="ico ico-excel"></i>엑셀다운로드</button>
                                        <button type="button" name="button" class="btn btn-ico btn-outline-gray"><i class="ico ico-sort"></i>설정</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 그리드 테이블-->
                        <!-- 그리드 테이블-->
                        <div class="mGridTable tbl-height01">
                            <table id="eMultiTable1" class="eChkColor">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width:70px;" class="resizable">
                                          No
                                        </th>
                                        <th scope="col" style="width:200px;" class="resizable">
                                          발행일시
                                        </th>
                                        <th scope="col" style="width:200px;" class="resizable">
                                          유형
                                        </th>
                                        <th scope="col" style="width:590px;" class="resizable">
                                            내용
                                        </th>
                                        <th scope="col" style="width:300px;" class="resizable">
                                          금액
                                        </th>
                                        <th scope="col" style="width:300px;">
                                          잔액
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="h36">
                                    <tr class="tr-empty">
                                      <td>
                                        <div class="txt">
                                          <i><img src="../assets/images/guide-ico.png" alt="guide-icon"></i>
                                          <span>검색 결과가 없습니다.</span>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                            </table>
                        </div> 
                        <!-- //그리드 테이블-->
                    </div>
                </div>
                {% include("../_templates/default/pagination.njk") %}
            </div>

        </div>
        <!-- //content -->
    </div>
    <!-- container -->
</div>

<script>
    $(document).ready(function() {
        $('#eMultiTable').fixResize({
            colResize: true,
            resizeVer: 'flex'
        });
        // 데이터 없을시 새로운 테이블
        $('#eMultiTable1').fixResize({
        colResize: true,
        resizeVer: 'flex'
        });

        // 검색결과 없을때 tr 높이 조절
        const emptyTh = $('.tr-empty').parents('table').find('thead tr th').length;
        const emptyMt = $('.tr-empty').parents('table').css('margin-top').replace('-', '');
        const emptyMg = emptyMt.replace('px', '');
        $('.tr-empty td').attr('colspan', emptyTh);
        $('.tr-empty').parents('table').css('height', `calc(100% + ${emptyMg}px)`);
    });
</script>

{% endblock %}
