<div class="modal-pop modal-process-status" id="sample-processing-status">
    <div class="modal-dialog">
        <div class="modal-inner">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>샘플상품 처리 현황</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                 <p class="process-title-msg">
                    <span class="black-text">처리상태 :</span>
                    <span class="red-text">처리중</span>
                    <span class="grey-text">(최근수정일시 : 2019-04-06 05:55:55)</span>
                </p>
                <div class="trec-box">
                    <div>
                        <table class="process-status-table-head">
                            <colgroup>
                                <col style="width:100px">
                                <col style="width:100px">
                                <col style="width:100px">
                                <col style="width:auto">
                                <col style="width:auto">
                                <col style="width:auto">
                                <col style="width:auto">
                                <col style="width:auto">
                                <col style="width:110px">
                                <col style="width:130px">
                                <col style="width:130px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th rowspan="2">처리일시</th>
                                    <th rowspan="2">발주일</th>
                                    <th rowspan="2">구분</th>
                                    <th colspan="5">수량</th>
                                    <th rowspan="2">판매가</th>
                                    <th rowspan="2">구매자 메모</th>
                                    <th rowspan="2">입고 메모</th>
                                </tr>
                                <tr>
                                    <th>발주</th>
                                    <th>입고</th>
                                    <th>환불</th>
                                    <th>누적</th>
                                    <th>잔여</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- 그리드 테이블-->
                <div class="mGridTable tbl-line process-status-table-body">
                    <table id="eModalTable" class="eChkColor">
                            <colgroup>
                                <col style="width:100px">
                                <col style="width:100px">
                                <col style="width:100px">
                                <col style="width:auto">
                                <col style="width:auto">
                                <col style="width:auto">
                                <col style="width:auto">
                                <col style="width:auto">
                                <col style="width:110px">
                                <col style="width:130px">
                                <col style="width:130px">
                            </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    2022-03-16<br>
                                    15:52:02
                                </td>
                                <td>2022-03-16</td>
                                <td>입고<br>(04/07)</td>
                                <td>40</td>
                                <td class="td-unline">5</td>
                                <td>-</td>
                                <td class="blue-bg">15/50</td>
                                <td>35</td>
                                <td class="text-ar"><b>6,000</b></td>
                                <td>꼭 주세요</td>
                                <td>(2022-10-13)</td>
                            </tr>
                            <tr>
                                <td>2022-03-16<br />15:52:02</td>
                                <td>2022-03-16</td>
                                <td>주문</td>
                                <td>50</td>
                                <td class="td-unline">10</td>
                                <td>-</td>
                                <td class="blue-bg">10/50</td>
                                <td>40</td>
                                <td class="text-ar"><b>6,000</b></td>
                                <td>미송 잡아 주세요~</td>
                                <td>미송수량 다음주 입고 예정입니다.</td>
                            </tr>
                            <tr>
                                <td>2022-03-16<br />15:52:02</td>
                                <td>2022-03-16</td>
                                <td>접수</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td class="blue-bg">0/50</td>
                                <td>-</td>
                                <td class="text-ar"><b>6,000</b></td>
                                <td>미송 잡아 주세요~</td>
                                <td>-</td>
                            </tr>

                        </tbody>
                </table>
            </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>