<div class="modal-pop modal-goods-detail-sample" id="modal-goods-detail-sample">
    <div class="modal-dialog">
        <div class="modal-inner w650">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>샘플 신청하기</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body pb40">

                <ul class="notice-ul renewal hypen">
                    <li>
                        - 판매가, 입력수량과 상관없이 옵션별 무료샘플 1개를 신청할 수 있습니다.
                    </li>
                    <li>
                        - 도매처의 사정에 따라 샘플이 제공되지 않을 수 있습니다.
                    </li>
                </ul>

                <div class="option-info-wrap">
                    <dl>
                        <dt>가게명</dd>
                        <dd>마켓명 1층 1열 1호</dd>
                    </dl>
                    <h6>기본 T롱 원피스</h6>
                    <ul>
                        <li>블랙 / S</li>
                        <li>블랙 / L</li>
                        <li>아이보리 / S</li>
                        <li>아이보리 / L</li>
                        <li>브라운 / S</li>
                        <li>브라운 / L</li>
                    </ul>
                </div>


            </div>

            <div class="modal-footer">
                <div class="modal-footer-btn renewal">
                    <button type="button" name="button" class="btn btn-re-xl btn-darkgray page-close">장바구니 담기</button>
                    <button type="button" name="button" class="btn btn-re-xl btn-outline-black page-close">
                        <b>셀픽주문</b>
                        <p>직거래 • 셀프픽업 주문</p>
                    </button>
                    <button type="button" name="button" class="btn btn-re-xl btn-green page-close">
                        <b>이지픽주문</b>
                        <p>사입대행 주문</p>
                    </button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>
