<div class="modal-pop price-check-modal" id="modal-price-check-case1">
    <div class="modal-dialog">
        <div class="modal-inner">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>가게 별 금액확인</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                <div class="top-info mb20">
                    <p>셀픽 주문은 가게에 직접 상품금액 + 부가세를 입금해 주세요.</p>
                    <p>가게 별 주문한 상품의 금액을 확인할 수 있습니다.</p>
                    <h6>[금액안내]</h6>
                    <ul>
                        <li>- 주문상품금액 : 주문한 상품의 총 금액 (판매가*주문수량 합계)</li>
                        <li>- 주문결제금액 : 주문한 상품의 결제 금액 (주문금액과 동일)</li>
                    </ul>
                    <div class="search-shop-wrap">
                        <dl>
                            <dt>가게명</dt>
                            <dd class="result-box">
                                <input type="text" value="" class="result1" placeholder="가게명을 입력해주세요.">
                                <ul class="result-list result-case1">
                                    <li>
                                        <label>
                                            <span>진짜피카소</span><span>(디오트 1층 B열 32호)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <span>가게명2</span><span>(주소)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <span>가게명3</span><span>(주소)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <span>가게명4</span><span>(주소)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <span>가게명5</span><span>(주소)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <span>가게명6</span><span>(주소)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <span>가게명7</span><span>(주소)</span>
                                        </label>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    
                </div>
                <div class="tround-box detail-tbl detail-tbl-type02 mb0">
                    <div>
                        <table class="tbl-list-view">
                            <colgroup>
                                <col style="width: 60px;">
                                <col style="width: auto;">
                                <col style="width: auto;">
                                <col style="width: auto;">
                                <col style="width: auto;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>가게명</th>
                                    <th>주소</th>
                                    <th>
                                        주문상품금액<br />
                                        (상품금액 + 부가세)
                                    </th>
                                    <th>
                                        주문결제금액<br />
                                        (상품금액 + 부가세)
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- 그리드 테이블-->
                <div class="mGridTable tbl-line">
                    <table id="eModalTable" class="eModalTable eChkColor">
                            <colgroup>
                                <col style="width: 60px;">
                                <col style="width: auto;">
                                <col style="width: auto;">
                                <col style="width: auto;">
                                <col style="width: auto;">
                            </colgroup>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="modal-shop-name" onclick="targetModalPopup('modal-price-check-case1-1')">진짜피카소</td>
                                <td>
                                    <span>디오트 4층 A열 1호</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="modal-shop-name" onclick="targetModalPopup('modal-price-check-case1-1')">핫핑</td>
                                <td>
                                    <span>APM 2층 E열 7호</span>
                                </td>
                                <td class="text-ar">
                                    <b>1,100,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                                <td class="text-ar">
                                    <b>1,100,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="modal-shop-name" onclick="targetModalPopup('modal-price-check-case1-1')">가게명</td>
                                <td>
                                    <span>APM 2층 E열 7호</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="modal-shop-name" onclick="targetModalPopup('modal-price-check-case1-1')">가게명</td>
                                <td>
                                    <span>APM 2층 E열 7호</span>
                                </td>
                                <td class="text-ar">
                                    <b>1,100,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                                <td class="text-ar">
                                    <b>1,100,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="modal-shop-name" onclick="targetModalPopup('modal-price-check-case1-1')">가게명</td>
                                <td>
                                    <span>APM 2층 E열 7호</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td class="modal-shop-name" onclick="targetModalPopup('modal-price-check-case1-1')">진짜피카소</td>
                                <td>
                                    <span>APM 2층 E열 7호</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td class="modal-shop-name" onclick="targetModalPopup('modal-price-check-case1-1')">진짜피카소</td>
                                <td>
                                    <span>APM 2층 E열 7호</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                            </tr>
                            <!-- -->
                            <tr>
                                <td>7</td>
                                <td class="modal-shop-name" onclick="targetModalPopup('modal-price-check-case1-1')">진짜피카소</td>
                                <td>
                                    <span>APM 2층 E열 7호</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td class="modal-shop-name" onclick="targetModalPopup('modal-price-check-case1-1')">진짜피카소</td>
                                <td>
                                    <span>APM 2층 E열 7호</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td class="modal-shop-name" onclick="targetModalPopup('modal-price-check-case1-1')">진짜피카소</td>
                                <td>
                                    <span>APM 2층 E열 7호</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                                <td class="text-ar">
                                    <b>550,000</b>
                                    <span>(500,000 + 50,0555)</span>
                                </td>
                            </tr>

                        </tbody>
                </table>
            </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">닫기</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<div class="modal-pop price-shopname-mini-modal" id="modal-price-check-case1-1">
    <div class="modal-dialog">
        <div class="modal-inner w300">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>가게정보</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                <div class="info-wrap">
                    <dl>
                        <dt>가게명</dt>
                        <dd>진짜피카소</dd>
                    </dl>
                    <dl>
                        <dt>주소</dt>
                        <dd>디오트 4층 A열 1호</dd>
                    </dl>
                    <dl>
                        <dt>연락처</dt>
                        <dd>010-1234-1234</dd>
                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>	
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>