<!-- 2022-12-15 EZP-6415 기존 모달 제거
<div class="modal-pop modal-add-shopping-goods" id="modal-add-shopping-goods">
    <div class="modal-dialog">
        <div class="modal-inner w650">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>쇼핑몰로 상품등록</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body pb40">

                <div class="notice-wrap db renewal">
                    <p class="ico-notice lh-1-8">
                      <b class="renewal-help">이지픽 상품을 EC에 등록합니다.</b>
                      <br />
                      등록된 상품은 <a href="#" class="admin-link">EC Admin>상품관리>상품 목록</a>에서 확인할 수 있습니다.
                    </p>
                </div>

                <div class="easy-pick-popup-info">
                    <dl>
                        <dt>가게정보</dt>
                        <dd>톰과 체리나무 (디오트 1동 2층 A열 345호)</dd>
                    </dl>
                    <dl>
                        <dt>이지픽 상품 정보를 확인해주세요.<span class="label label-point ml6">필수</span></dt>
                        <dd>
                            <table class="tbl-register-row">
                                <colgroup>
                                    <col style="width:149px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                    <tr>
                                    <th>상품명</th>
                                    <td>
                                        <div class="form-inline">
                                            <div class="form-control">
                                            <input type="text" placeholder="" class="w340" value="기본T 롱 원피스">
                                            </div>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                    <th>판매가</th>
                                    <td>
                                        <div class="form-inline">
                                            <div class="form-control">
                                            <input type="text" placeholder="" class="w120" value="12,000"> 원
                                            </div>
                                        </div>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </dd>
                    </dl>
                    <dl>
                        <dt>상품분류를 선택해주세요.</dt>
                        <dd>
                            <div class="category-box">
                                <div class="icon-cate-box">
                                    <ul id="product-category">
                                        <li class="not-selected" id="c01">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) 미진열" readonly="readonly">
                                            </div>
                                        </li>
                                        <li class="deps2 deps cate1" id="c02">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Outerwear" readonly="readonly">
                                            </div>
                                            <ul class="open-2deps">
                                                <li class="cate2" id="c02-1">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Skirts" readonly="readonly">
                                                    </div>
                                                </li>
                                                <li class="cate2" id="c02-2">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Pants" readonly="readonly">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="deps2 deps cate1" id="c03">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Tops" readonly="readonly">
                                            </div>
                                            <ul class="open-2deps">
                                                <li class="cate2" id="c03-1">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Skirts" readonly="readonly">
                                                    </div>
                                                </li>
                                                <li class="cate2" id="c03-2">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Pants" readonly="readonly">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="deps1 deps cate1" id="c04">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Dresses" readonly="readonly">
                                            </div>
                                        </li>
                                        <li class="deps2 deps cate1" id="c05">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Bottoms" readonly="readonly">
                                            </div>
                                            <ul class="open-2deps">
                                                <li class="cate2" id="c05-1">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Skirts" readonly="readonly">
                                                    </div>
                                                </li>
                                                <li class="cate2" id="c05-2">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Pants" readonly="readonly">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="deps1 deps cate1" id="c06">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Dresses" readonly="readonly">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-cate-box">
                                    <ul id="my-category">
                                        
                                    </ul>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>이지픽 상품의 옵션 정보를 확인해주세요.</dt>
                        <dd>
                            <table class="tbl-register-row">
                                    <colgroup>
                                        <col style="width:149px;">
                                        <col style="width:auto;">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>색상</th>
                                            <td>
                                                <div class="option-wrap">
                                                    <ul>
                                                        <li class="option">
                                                            <span>블랙</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                        <li class="option">
                                                            <span>브라운</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                        <li class="option">
                                                            <span>아이보리</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                    </ul>
                                                    <div class="ex-input-box form-inline">
                                                        <div class="form-control">
                                                            <input type="text" placeholder="예시)화이트" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="caption-msg">※ 세미콜론(;) 또는 Enter, Tab키를 통해 옵션값을 연속적으로 입력하세요.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>사이즈</th>
                                            <td>
                                                <div class="option-wrap">
                                                    <ul>
                                                        <li>
                                                            <span>S</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                        <li>
                                                            <span>M</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                        <li>
                                                            <span>L</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                    </ul>
                                                    <div class="ex-input-box form-inline">
                                                        <div class="form-control">
                                                            <input type="text" placeholder="예시)화이트" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="caption-msg">※ 세미콜론(;) 또는 Enter, Tab키를 통해 옵션값을 연속적으로 입력하세요.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
                        </dd>
                    </dl>
                </div>


            </div>

            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">등록</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<div class="modal-pop modal-add-shopping-goods" id="modal-add-shopping-goods">
    <div class="modal-dialog">
        <div class="modal-inner w650">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>쇼핑몰로 상품등록</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body pb40">

                <div class="notice-wrap db renewal">
                    <p class="ico-notice lh-1-8">
                      <b class="renewal-help">이지픽 상품을 EC에 등록합니다.</b>
                      <br />
                      등록된 상품은 <a href="#" class="admin-link">EC Admin>상품관리>상품 목록</a>에서 확인할 수 있습니다.
                    </p>
                </div>

                <div class="easy-pick-popup-info">
                    <dl>
                        <dt>가게정보</dt>
                        <dd>톰과 체리나무 (디오트 1동 2층 A열 345호)</dd>
                    </dl>
                    <dl>
                        <dt>이지픽 상품 정보를 확인해주세요.<span class="label label-point ml6">필수</span></dt>
                        <dd>
                            <table class="tbl-register-row">
                                <colgroup>
                                    <col style="width:149px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                    <tr>
                                    <th>상품명</th>
                                    <td>
                                        <div class="form-inline">
                                            <div class="form-control">
                                            <input type="text" placeholder="" class="w340" value="기본T 롱 원피스">
                                            </div>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                    <th>판매가</th>
                                    <td>
                                        <div class="form-inline">
                                            <div class="form-control">
                                            <input type="text" placeholder="" class="w120" value="12,000"> 원
                                            </div>
                                        </div>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </dd>
                    </dl>
                    <dl>
                        <dt>상품분류를 선택해주세요.</dt>
                        <dd>
                            <div class="category-box">
                                <div class="icon-cate-box">
                                    <ul id="product-category">
                                        <li class="not-selected" id="c01">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) 미진열" readonly="readonly">
                                            </div>
                                        </li>
                                        <li class="deps2 deps cate1" id="c02">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Outerwear" readonly="readonly">
                                            </div>
                                            <ul class="open-2deps">
                                                <li class="cate2" id="c02-1">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Skirts" readonly="readonly">
                                                    </div>
                                                </li>
                                                <li class="cate2" id="c02-2">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Pants" readonly="readonly">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="deps2 deps cate1" id="c03">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Tops" readonly="readonly">
                                            </div>
                                            <ul class="open-2deps">
                                                <li class="cate2" id="c03-1">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Skirts" readonly="readonly">
                                                    </div>
                                                </li>
                                                <li class="cate2" id="c03-2">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Pants" readonly="readonly">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="deps1 deps cate1" id="c04">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Dresses" readonly="readonly">
                                            </div>
                                        </li>
                                        <li class="deps2 deps cate1" id="c05">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Bottoms" readonly="readonly">
                                            </div>
                                            <ul class="open-2deps">
                                                <li class="cate2" id="c05-1">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Skirts" readonly="readonly">
                                                    </div>
                                                </li>
                                                <li class="cate2" id="c05-2">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Pants" readonly="readonly">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="deps1 deps cate1" id="c06">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Dresses" readonly="readonly">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-cate-box">
                                    <ul id="my-category">
                                        
                                    </ul>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>이지픽 상품의 옵션 정보를 확인해주세요.</dt>
                        <dd>
                            <table class="tbl-register-row">
                                    <colgroup>
                                        <col style="width:149px;">
                                        <col style="width:auto;">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>색상</th>
                                            <td>
                                                <div class="option-wrap">
                                                    <ul>
                                                        <li class="option">
                                                            <span>블랙</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                        <li class="option">
                                                            <span>브라운</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                        <li class="option">
                                                            <span>아이보리</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                    </ul>
                                                    <div class="ex-input-box form-inline">
                                                        <div class="form-control">
                                                            <input type="text" placeholder="예시)화이트" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="caption-msg">※ 세미콜론(;) 또는 Enter, Tab키를 통해 옵션값을 연속적으로 입력하세요.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>사이즈</th>
                                            <td>
                                                <div class="option-wrap">
                                                    <ul>
                                                        <li>
                                                            <span>S</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                        <li>
                                                            <span>M</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                        <li>
                                                            <span>L</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                    </ul>
                                                    <div class="ex-input-box form-inline">
                                                        <div class="form-control">
                                                            <input type="text" placeholder="예시)화이트" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="caption-msg">※ 세미콜론(;) 또는 Enter, Tab키를 통해 옵션값을 연속적으로 입력하세요.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
                        </dd>
                    </dl>
                </div>


            </div>

            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">등록</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>




<div class="modal-pop modal-add-shopping-goods" id="modal-add-shopping-goods">
    <div class="modal-dialog">
        <div class="modal-inner w650">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>쇼핑몰로 상품등록</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body pb40">

                <div class="notice-wrap db renewal">
                    <p class="ico-notice lh-1-8">
                      <b class="renewal-help">이지픽 상품을 EC에 등록합니다.</b>
                      <br />
                      등록된 상품은 <a href="#" class="admin-link">EC Admin>상품관리>상품 목록</a>에서 확인할 수 있습니다.
                    </p>
                </div>

                <div class="easy-pick-popup-info">
                    <dl>
                        <dt>가게정보</dt>
                        <dd>톰과 체리나무 (디오트 1동 2층 A열 345호)</dd>
                    </dl>
                    <dl>
                        <dt>이지픽 상품 정보를 확인해주세요.<span class="label label-point ml6">필수</span></dt>
                        <dd>
                            <table class="tbl-register-row">
                                <colgroup>
                                    <col style="width:149px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                    <tr>
                                    <th>상품명</th>
                                    <td>
                                        <div class="form-inline">
                                            <div class="form-control">
                                            <input type="text" placeholder="" class="w340" value="기본T 롱 원피스">
                                            </div>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                    <th>판매가</th>
                                    <td>
                                        <div class="form-inline">
                                            <div class="form-control">
                                            <input type="text" placeholder="" class="w120" value="12,000"> 원
                                            </div>
                                        </div>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </dd>
                    </dl>
                    <dl>
                        <dt>상품분류를 선택해주세요.</dt>
                        <dd>
                            <div class="category-box">
                                <div class="icon-cate-box">
                                    <ul id="product-category">
                                        <li class="not-selected" id="c01">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) 미진열" readonly="readonly">
                                            </div>
                                        </li>
                                        <li class="deps2 deps cate1" id="c02">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Outerwear" readonly="readonly">
                                            </div>
                                            <ul class="open-2deps">
                                                <li class="cate2" id="c02-1">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Skirts" readonly="readonly">
                                                    </div>
                                                </li>
                                                <li class="cate2" id="c02-2">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Pants" readonly="readonly">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="deps2 deps cate1" id="c03">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Tops" readonly="readonly">
                                            </div>
                                            <ul class="open-2deps">
                                                <li class="cate2" id="c03-1">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Skirts" readonly="readonly">
                                                    </div>
                                                </li>
                                                <li class="cate2" id="c03-2">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Pants" readonly="readonly">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="deps1 deps cate1" id="c04">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Dresses" readonly="readonly">
                                            </div>
                                        </li>
                                        <li class="deps2 deps cate1" id="c05">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Bottoms" readonly="readonly">
                                            </div>
                                            <ul class="open-2deps">
                                                <li class="cate2" id="c05-1">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Skirts" readonly="readonly">
                                                    </div>
                                                </li>
                                                <li class="cate2" id="c05-2">
                                                    <i></i>
                                                    <div class="icon-cate-text">
                                                        <input type="text" class="" value="(중분류) Pants" readonly="readonly">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="deps1 deps cate1" id="c06">
                                            <i></i>
                                            <div class="icon-cate-text">
                                                <input type="text" class="" value="(대분류) Dresses" readonly="readonly">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-cate-box">
                                    <ul id="my-category">
                                        
                                    </ul>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>이지픽 상품의 옵션 정보를 확인해주세요.</dt>
                        <dd>
                            <table class="tbl-register-row">
                                    <colgroup>
                                        <col style="width:149px;">
                                        <col style="width:auto;">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>색상</th>
                                            <td>
                                                <div class="option-wrap">
                                                    <ul>
                                                        <li class="option">
                                                            <span>블랙</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                        <li class="option">
                                                            <span>브라운</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                        <li class="option">
                                                            <span>아이보리</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                    </ul>
                                                    <div class="ex-input-box form-inline">
                                                        <div class="form-control">
                                                            <input type="text" placeholder="예시)화이트" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="caption-msg">※ 세미콜론(;) 또는 Enter, Tab키를 통해 옵션값을 연속적으로 입력하세요.</p>
                                        <tr>
                                            <th>사이즈</th>
                                            <td>
                                                <div class="option-wrap">
                                                    <ul>
                                                        <li>
                                                            <span>S</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                        <li>
                                                            <span>M</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                        <li>
                                                            <span>L</span>
                                                            <button type="button" class="close-btn"></button>
                                                        </li>
                                                    </ul>
                                                    <div class="ex-input-box form-inline">
                                                        <div class="form-control">
                                                            <input type="text" placeholder="예시)화이트" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="caption-msg">※ 세미콜론(;) 또는 Enter, Tab키를 통해 옵션값을 연속적으로 입력하세요.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
                        </dd>
                    </dl>
                </div>


            </div>

            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">등록</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div> -->
                            </td>
                                        </tr>
                


<!-- 2022-12-09 EZP-6415 쇼핑몰등록창 리뉴얼 -->
<div class="modal-pop re-shopping-goods" id="re-modal-add-shopping-goods">
    <div class="modal-dialog">
        <div class="modal-inner w900">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>내 쇼핑몰 상품으로 등록</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body pb40">

                <div class="notice-wrap db renewal">
                    <p class="ico-notice lh-1-8">
                      <b class="renewal-help">이지픽 상품을 EC(자사몰) 상품으로 등록합니다.</b>
                      <br />
                      - 등록된 상품은 <a href="#" class="admin-link">EC Admin>상품관리>상품 목록</a>에서 확인할 수 있습니다.
                      <!-- 2023-01-18 EZP-6415 텍스트 추가 -->
                      <br/>
                      - 등록된 상품의 진열 및 판매 상태는 '진열안함','판매안함'으로 기본 설정되어 있으며,EC에서 수정할 수 있습니다.
                    </p>
                </div>

                <div class="txt-cont pb30">
                    <div class="easypick-popup-info">
                        <dl>
                            <dt>상품 기본 정보</dt>
                            <dd>
                                <table class="tbl-register-row">
                                    <colgroup>
                                        <col style="width: 160px;">
                                        <col style="width: auto;">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th><span>상품명</span><em class="ftpointcolor1">*</em></th>
                                            <td>
                                                <div class="form-control">
                                                    <input type="text" placeholder="상품명 입력" value="기본 T 롱 원피스">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><span>판매가</span><em class="ftpointcolor1">*</em></th>
                                            <td>
                                                <div class="form-control calc-input">
                                                    <input type="text"placeholder="판매가 입력" value="99,000,000" style="max-width: 670px;">원
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span style="float:left;">상품분류<em class="ftpointcolor1">*</em></span>
                                                <div class="tool-tip-wrap tool-gray ml5" style="float:left">
                                                    <a href="javascript:void(0)" class="tool-tip hover-tool-tip">툴팁</a>
                                                    <div class="tool-tip-area renewal-tool-tip-area left1" style="width: 390px;">
                                                        <section class="tool-tip-title">
                                                        <div class="tool-tip-inner">
                                                            <ul>
                                                                <li class="re-dash">
                                                                    <span class="title">상품분류</span>
                                                                    <p>상품분류를 지정하지 않을 경우 '(대분류)이지픽상품'으로 자동 설정됩니다.</p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>
                                                <div class="category-box">
                                                    <div class="icon-cate-box">
                                                        <ul id="product-category">
                                                        <li class="not-selected" id="c01">
                                                            <i></i>
                                                            <div class="icon-cate-text">
                                                            <input type="text" value="(대분류) 이지픽상품" class="not-addclear" readonly>
                                                            </div>
                                                        </li>
                                                        <li class="deps2 deps cate1" id="c02">
                                                            <i></i>
                                                            <div class="icon-cate-text">
                                                            <input type="text" value="(대분류) 이지픽상품 이지픽상품" class="not-addclear" readonly>
                                                            </div>
                                                            <ul class="open-2deps">
                                                            <!-- 2023-02-15 EZP-6415 last class 추가 -->                                                            
                                                            <li class="deps cate2 last" id="c02-1">
                                                                <i></i>
                                                                <div class="icon-cate-text">
                                                                <input type="text" value="(중분류) 이지픽상품" class="not-addclear" readonly>
                                                                </div>
                                                            </li>
                                                            <!-- 2023-02-15 EZP-6415 last class 추가 -->
                                                            <li class="deps cate2 last" id="c02-2">
                                                                <i></i>
                                                                <div class="icon-cate-text">
                                                                <input type="text" value="(중분류) 이지픽상품" class="not-addclear" readonly>
                                                                </div>
                                                            </li>
                                                            </ul>
                                                        </li>
                                                        <li class="deps2 deps cate1" id="c03">
                                                            <i></i>
                                                            <div class="icon-cate-text">
                                                            <input type="text" value="(대분류) 이지픽상품" class="not-addclear" readonly>
                                                            </div>
                                                            <ul class="open-2deps">
                                                            <li class="cate2 deps" id="c03-1">
                                                                <i></i>
                                                                <div class="icon-cate-text">
                                                                <input type="text" value="(중분류) 이지픽상품" class="not-addclear" readonly>
                                                                </div>
                                                                <ul class="open-3deps">
                                                                <li class="cate3 deps" id="c03-1-1">
                                                                    <i></i>
                                                                    <div class="icon-cate-text">
                                                                    <input type="text" value="(소분류) 이지픽상품" class="not-addclear" readonly>
                                                                    </div>
                                                                    <ul class="open-4deps">
                                                                    <li class="cate4 last" id="c03-1-2">
                                                                        <i></i>
                                                                        <div class="icon-cate-text">
                                                                        <input type="text" value="(상세분류) 이지픽상품" class="not-addclear" readonly>
                                                                        </div>
                                                                    </li>
                                                                    </ul>
                                                                </li>
                                                                </ul>
                                                            </li>
                                                            <!-- 2023-02-15 EZP-6415 last class 추가 -->
                                                            <li class="deps cate2 last" id="c03-2">
                                                                <i></i>
                                                                <div class="icon-cate-text">
                                                                <input type="text" value="(중분류) 이지픽상품" class="not-addclear" readonly>
                                                                </div>
                                                            </li>
                                                            </ul>
                                                        </li>
                                                        <!-- 2023-02-15 EZP-6415 last class 추가 -->
                                                        <li class="cate1 deps last" id="c04">
                                                            <i></i>
                                                            <div class="icon-cate-text">
                                                            <input type="text" value="(대분류) 이지픽상품" class="not-addclear" readonly>
                                                            </div>
                                                        </li>
                                                        <!-- 2023-02-15 EZP-6415 last class 추가 -->
                                                        <li class="cate1 deps last" id="c05">
                                                            <i></i>
                                                            <div class="icon-cate-text">
                                                            <input type="text" value="(대분류) 이지픽상품" class="not-addclear" readonly>
                                                            </div>
                                                        </li>
                                                        </ul>
                                                    </div>
                                                    <div class="text-cate-box">
                                                        <ul id="my-category"></ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span style="float:left">상품옵션</span>
                                                <div class="tool-tip-wrap tool-gray ml5" style="float:left">
                                                    <a href="javascript:void(0)" class="tool-tip hover-tool-tip">툴팁</a>
                                                    <div class="tool-tip-area renewal-tool-tip-area left1" style="width: 300px;">
                                                        <section class="tool-tip-title">
                                                            <ul>
                                                                <li class="re-dash">
                                                                    <span class="title">상품옵션 표시</span>
                                                                    <p>상품의 모든 옵션이 표시됩니다.</p>
                                                                </li>
                                                                <!-- 2023-01-05 EZP-6415 제거
                                                                <li class="re-dash m-t-10">
                                                                    <span class="title">상품옵션 수정</span>
                                                                    <p>버튼을 더블클릭하여 옵션명을 수정할 수 있습니다.</p>
                                                                </li>
                                                                -->
                                                            </ul>
                                                        </section>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="option">
                                                <div class="color">
                                                <span>색상</span>
                                                <div class="option-box">
                                                    <ul>
                                                    <li class="option on">
                                                        <button type="button">블랙</button>
                                                    </li>
                                                    <li class="option on">
                                                        <button type="button">브라운</button>
                                                    </li>
                                                    <li class="option">
                                                        <button type="button">아이보리</button>
                                                    </li>
                                                    <li class="option">
                                                        <button type="button">네이비</button>
                                                    </li>
                                                    <li class="option">
                                                        <button type="button">레드</button>
                                                    </li>
                                                    <li class="option active">
                                                        <button type="button">화이트</button>
                                                    </li>
                                                    <li class="option on">
                                                        <button type="button">화이트</button>
                                                    </li>
                                                    <li class="option">
                                                        <button type="button">머스타드</button>
                                                    </li>
                                                    <li class="option">
                                                        <button type="button">퍼플</button>
                                                    </li>
                                                    <li class="option">
                                                        <button type="button">그린</button>
                                                    </li>
                                                    <li class="ex-input-box">
                                                        <input type="text" placeholder="예시) 화이트" value="">
                                                    </li>
                                                    <!-- 2023-02-07 EZP-6415 선택가능 옵션 없을 시 -->
                                                    <li class="empty-option">선택 가능한 옵션이 없습니다.</li>
                                                    </ul>
                                                </div>
                                                </div>
                                                <div class="size">
                                                <span>사이즈</span>
                                                <div class="option-box">
                                                    <ul>
                                                    <li class="option">
                                                        <button type="button">S</button>
                                                    </li>
                                                    <li class="option">
                                                        <button type="button">M</button>
                                                    </li>
                                                    <li class="option on">
                                                        <button type="button">L</button>
                                                    </li>
                                                    <li class="ex-input-box">
                                                        <input type="text" placeholder="예시) XL" value="">
                                                    </li>
                                                    <!-- 2023-02-07 EZP-6415 선택가능 옵션 없을 시 -->
                                                    <li class="empty-option">선택 가능한 옵션이 없습니다.</li>
                                                    </ul>
                                                </div>
                                                </div>
                                                <!-- 2023-01-05 EZP-6415 텍스트 추가 -->
                                                <p class="dot">버튼을 더블클릭하여 옵션명을 수정할 수 있습니다.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="top">거래처</th>
                                            <td >
                                                톰과 체리나무 (디오트 1동 2층 A열 345호)
                                                <div class="account-info m-t-5">
                                                    <i class="store-info-ico"></i>
                                                    <span>거래처 정보가 EC 공급사로 등록됩니다.</span>
                                                </div>
                                                <!-- 2023-02-15 EZP-6415 거래처 완료 라벨 추가 시작 -->
                                                <div class="account-info m-t-5">
                                                    <span>거래처 등록</span>
                                                    <i class="check"></i>
                                                </div>
                                                <!-- 2023-02-15 EZP-6415 거래처 완료 라벨 추가 끝 -->
                                            </td>
                                        </tr>
                                        <tr class="toggle-area1">
                                            <th>제조국가
                                                <div class="btn-switch">
                                                <label><input type="checkbox">
                                                <div class="slider"></div>
                                                </label></div>
                                            </th>
                                            <td class="off">
                                                대한민국
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </dd>
                        </dl>
                        <dl class="mt40 toggle-area2">
                            <dt>
                                <span>상품 상세 정보</span>
                                <div class="btn-switch">
                                                <label><input type="checkbox">
                                                <div class="slider"></div>
                                                </label></div>
                            </dt>
                            <dd>
                                <table class="tbl-register-row product-detail off">
                                    <colgroup>
                                        <col style="width: 150px;">
                                        <col style="width: auto;">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>소재</th>
                                            <td>
                                                <ul class="dot">
                                                    <li><em class="mr5">겉감</em> : 면 32, 레이온 65%,스판덱스 3%</li>
                                                    <li><em class="mr5">안감</em> : 폴리에스테르 100%</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>상품부가정보</th>
                                            <td>
                                                <ul class="dot">
                                                    <li><em class="mr5">계절감</em> : 여름</li>
                                                    <li><em class="mr5">착용감</em> : 루즈핏</li>
                                                    <li><em class="mr5">신축성</em> : 적당함</li>
                                                    <li><em class="mr5">두께감</em> : 얇음</li>
                                                    <li><em class="mr5">비침</em> : 조금비침</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>상품특성</th>
                                            <td>
                                                <ul class="dot">
                                                    <li><em class="mr5">스타일</em> : 캐주얼,레트로</li>
                                                    <li><em class="mr5">패턴</em> : 도트</li>
                                                    <li><em class="mr5">디테일</em> : V넥,X스트랩,글리터,노카라,니트꽈배기</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>세탁방법</th>
                                            <td>
                                                <ul class="img-txt">
                                                <!-- 2023-02-16 EZP-6415 기존 li > i 에서 li > img로 구조변경 시작 -->
                                                    <li><img src="../../img/icons/laundry-icon01.png"><p>약하게</p></li>
                                                    <li><img src="../../img/icons/laundry-icon02.png"><p>단독손세탁</p></li>
                                                    <li><img src="../../img/icons/laundry-icon03.png"><p>기계세탁가능</p></li>
                                                    <li><img src="../../img/icons/laundry-icon04.png"><p>비틀기금지</p></li>
                                                    <li><img src="../../img/icons/laundry-icon05.png"><p>표백금지</p></li>
                                                    <li><img src="../../img/icons/laundry-icon06.png"><p>그늘에건조</p></li>
                                                    <li><img src="../../img/icons/laundry-icon07.png"><p>중성세제</p></li>
                                                    <li><img src="../../img/icons/laundry-icon08.png"><p>드라이크리닝</p></li>
                                                    <li><img src="../../img/icons/laundry-icon09.png"><p>천대고다림질</p></li>
                                                    <li><img src="../../img/icons/laundry-icon10.png"><p>전용세제</p></li>
                                                <!-- 2023-02-16 EZP-6415 기존 li > i 에서 li > img로 구조변경 끝 -->
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>상세설명</th>
                                            <td>
                                                <ul>
                                                    <li>허리 힙 허벅지 밑위 밑단 총기장</li>
                                                    <li>S 32.5 41 23 28 24 99</li>
                                                    <li>M 34.5 43 24 29 25 100</li>
                                                    <li>L 36.5 45 25 30 26 101</li>
                                                </ul>
                                                <p class="p-t-20">제작 가능합니다.<br/>
                                                샘플요청 가능합니다 연락 해주세요.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 2023-02-21 EZP-6818 empty 추가 -->
                                <p class="empty">등록된 정보가 없습니다.</p>
                            </dd>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">등록</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>
