<div class="modal-pop modal-order-type" id="modal-order-type">
    <div class="modal-dialog">
        <div class="modal-inner">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>주문타입 안내</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                <div class="box">
                    <div class="order-type type01">
                        <span class="ftcolor2">*수수료무료</span>
                        <div class="order-title">
                            <div class="icon">
                                <img src="../../img/icons/order-type-ico01.png" alt="셀픽 주문 아이콘">
                            </div>
                            <dl>
                                <dt>                        
                                    셀픽주문
                                </dt>
                                <dd>
                                    이지픽 서비스를 이용하여 주문 후<br>
                                    가게와 직접 거래하는 셀프픽업 주문방식
                                </dd>
                            </dl>
                        </div>
                        <ul>
                            <li>
                                <div class="tit">거래방식</div>
                                <div class="txt">가게와 직거래 방식</div>
                            </li>
                            <li>
                                <div class="tit">결제</div>
                                <div class="txt">직접결제</div>
                            </li>
                            <li>
                                <div class="tit">상품픽업</div>
                                <div class="txt">
                                    직접수령<br>
                                    또는 계약맺고 있는 사입삼촌수령
                                </div>
                            </li>
                            <li>
                                <div class="tit">특징</div>
                                <div class="txt">
                                    주문 후 입고, 미송/환불/불량관리, 정산 등<br>
                                    전반적인 관리 쇼핑몰 부담
                                </div>
                            </li>
                        </ul>
                        <div class="ftpointcolor1">* 주문완료 시 가게와 사입삼촌에게 주문 내용이 전달됩니다.</div>
                    </div>
                    <div class="order-type type02">
                        <span>*수수료부과</span>
                        <div class="order-title">
                            <div class="icon">
                                <img src="../../img/icons/order-type-ico02.png" alt="이미픽주문 아이콘">
                            </div>
                            <dl>
                                <dt>                        
                                    이지픽주문
                                </dt>
                                <dd>
                                    주문만 하면 사입부터 정산까지<br> 
                                    이지픽 서비스에서 대행해드리는 주문방식
                                </dd>
                            </dl>
                        </div>
                        <ul>
                            <li>
                                <div class="tit">거래방식</div>
                                <div class="txt">이지픽 사입팀 대행</div>
                            </li>
                            <li>
                                <div class="tit">결제</div>
                                <div class="txt">
                                    무통장입금
                                    <span class="fnsize12">* 선결제 쇼핑몰의 경우 적립금 사용이 가능합니다.</span>
                                </div>
                            </li>
                            <li>
                                <div class="tit">상품픽업</div>
                                <div class="txt">
                                    이지픽사입팀이 상품 수령 후 발송
                                </div>
                            </li>
                            <li>
                                <div class="tit">특징</div>
                                <div class="txt">
                                    상품입고, 미송/환불/불량관리,<br>
                                    정산, 세금계산서 등 모든 관리 가능
                                </div>
                            </li>
                        </ul>
                        <div class="ftpointcolor1">* 주문서는 저녁 9~10시 경 가게에 전송되어 픽업이 진행됩니다.</div>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>