<!-- 2022-12-20 EZP-7230 옵션변경 팝업 추가 -->
<div class="modal-pop undelivered-quantity modal-recheck-request" id="modal-undelivered-quantity-case1">
    <div class="modal-dialog">
        <div class="modal-inner w800">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>미송수량 옵션 변경</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body pb40">
                <p class="title-msg">
                    품절처리방식이 '미송'인 경우 <em class="ftpointcolor1">미송수량</em>의 옵션을 변경할 수 있습니다.<br/>
                    '미송수량'을 확인하고, 변경할 옵션을 입력하세요. 관리자 승인 후, <em class="ftpointcolor1">변경된 옵션으로 새 주문이 생성</em>됩니다.<br/>
                    <span class="ftpointcolor">※ 기존 품목의 품절처리방식은 [옵션변경]으로 변경되며, 판매가 외 모든 재확인 요청이 불가하니 유의하세요.</span>
                </p>

                <dl class="recheck-content-dl">
                    <dt>
                        <h6>상품 및 수량 정보</h6>
                    </dt>
                    <dd>
                        <table class="tbl-register-row renewal-table">
                            <colgroup>
                                <col style="width:190px;">
                                <col style="width:190px;">
                                <col style="width:126px;">
                                <col style="width:126px;">
                                <col style="width:126px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>거래처명</th>
                                    <th>상품명</th>
                                    <th>입고수량</th>
                                    <th>발주수량</th>
                                    <th>미송수량</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>청평화</td>
                                    <td>포인트반팔NT</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td class="ftpointcolor1">2</td>
                                </tr>
                            </tbody>
                        </table>
                    </dd>
                </dl>

                <dl class="recheck-content-dl">
                    <dt>
                        <h6>미송 수량 옵션 변경</h6>
                        <p class="ftpointcolor">※ 색상이나 사이즈 중 한가지 옵션은 반드시 입력해주세요.</p>
                    </dt>
                    <dd>
                        <table class="tbl-register-row renewal-table">
                            <colgroup>
                                <col style="width:180px;">
                                <col style="width:*;">
                                <col style="width:*;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>색상</th>
                                    <th>사이즈</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="td-bg">현재 옵션</td>
                                    <td>아이보리</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td class="td-bg">변경 옵션</td>
                                    <td class="input-td">
                                        <div class="form-inline">
                                            <div class="form-control">
                                                <input type="text">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="input-td">
                                        <div class="form-inline">
                                            <div class="form-control">
                                                <input type="text">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="m-t-15 table-txt-acc">*옵션 변경 후, [입고수량, 품절처리방식, 옵션] 변경이 불가하오니, 참고하시기 바랍니다.</p>
                    </dd>
                </dl>
                <div class="confirm-txt">
                    <p>
                        옵션 변경 요청하시겠습니까?
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">변경요청</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>