<div class="modal-pop modal-order-division" id="modal-order-division02">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>주문구분선택</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body direct-order-modal-case05">
                <div class="txt-box">
                    <p>
                        결제/반납하려는 주문구분을 선택해주세요.<br>
                        선택된 품목 중 해당되는 주문구분 샘플품목이 결제/반납됩니다.
                    </p>
                </div>
                <div class="xlsx-download-wrap">
                    <ul>
                        <li>
                            <a href="javascript: void(0);">
                                일반주문
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                바로주문
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point">확인</button>	
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>


<script>
    $(function(){
        $('.direct-order-modal-case05 .xlsx-download-wrap ul li').click(function(){
            $('.direct-order-modal-case05 .xlsx-download-wrap ul li').removeClass('active');
            if($(this).hasClass('active') == true){
                $(this).removeClass('active');
            }else{
                $(this).addClass('active');
            }
        })
    })
</script>