<div class="modal-pop modal-recheck-request modal-recheck-request-case1" id="modal-recheck-request-case1">
    <div class="modal-dialog">
        <div class="modal-inner w800">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>재확인 요청</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body pb40">
                <p class="title-msg">
                    입고상품의 수량과 판매가격이 최초 입력한 수량, 금액과 다르거나 다른 사유로 해당 상품의 재확인를 요청하시는 경우, <br />
                    아래에 요청사유를 작성해 주세요.
                </p>

                <dl class="recheck-content-dl">
                    <dt>
                        <h6>상품정보</h6>
                    </dt>
                    <dd>
                        <table class="tbl-register-row renewal-table">
                            <colgroup>
                                <col style="width:150px">
                                <col style="width:auto;">
                            </colgroup>
                                <thead>
                                    <tr>
                                        <th>주문구분 및 유형</th>
                                        <th>입고일</th>
                                        <th>거래처명</th>
                                        <th>상품명</th>
                                        <th>옵션</th>
                                        <th>발주수량</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <!-- 2022 08 19 재 icon 추가 -->
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="label label-bg34">신규</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="reorder-ico label label-bg34">신규</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="label return">반납</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="reorder-ico label return">반납</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="label new-produce">제작신규</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="reorder-ico label new-produce">제작신규</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="label sample">샘플</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="reorder-ico label sample">샘플</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="label undeliver">미송</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="reorder-ico label undeliver">미송</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="label failure">불량</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="reorder-ico label failure">불량</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="label sample-payment">샘플결제</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="reorder-ico label sample-payment">샘플결제</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                </tbody>
                        </table>
                    </dd>
                </dl>

                <dl class="recheck-content-dl">
                    <dt>
                        <h6>재확인 요청</h6>
                        <div style="display:inline-block">
                            <div class="tool-tip-wrap">
                                <a href="javascript:void(0)" class="tool-tip btn btn-lm btn-outline-gray">재확인요청안내</a>
                                <div class="tool-tip-area renewal-tool-tip-area md left3">
                                    <section class="tool-tip-title">
                                        <h1>  재확인 요청안내</h1>
                                        <div class="tool-tip-inner">
                                            <ul class="list-dash">
                                                <li>
                                                    재확인 요청 시 관리자 확인 후에 ‘재확인 완료’ 처리되며, <br /> 
                                                    재확인 요청 건이 있는 입고일은 검수완료가 불가합니다.
                                                </li>
                                                <li>
                                                   가장 마지막 발주 건인 경우 [입고수량]이 변경 가능합니다.
                                                </li>
                                                <li>
                                                    가장 첫 발주 건의 경우 [판매가]이 변경 가능합니다. <br />
                                                    (기존 변경 이력이 있거나, ‘일반주문’인 경우 불가)
                                                </li>
                                                <li>
                                                    가장 마지막 발주 건인 경우, 잔여수량이 1개 이상인 경우에 <br />
                                                    [품절치리방식]이 변경 가능합니다.
                                                </li>
                                                <li>
                                                    [입고수량] 변경 내용을 입력하시면, ‘잔여 수량’이 업데이트됩니다.
                                                </li>
                                                <li>
                                                    기존에 [품절처리방식]을 ‘부분처리’한 경우, [입고수량] 변경 시 <br />
                                                    ‘부분처리 수량’을 재설정 해주셔야 합니다. <br />
                                                    그러나 [입고수량]을 ‘잔여수량이 0개’ 혹은 ‘초과입고’ 되도록 변경 시, <br />
                                                    최초 품절처리방식으로 자동 설정됩니다.
                                                </li>
                                                <li>
                                                    [품절처리방식] ‘부분처리’ 설정 시 ‘총 잔여수량’과 ‘부분처리 수량 합계’를  <br />
                                                    동일하게 설정하셔야 재확인 요청이 진행됩니다.
                                                </li>

                                            </ul>
                                        </div>
                                    </section>
                                    <button type="button" class="tool-tip-close">닫기</button>
                                </div>
                            </div>
                        </div>
                    </dt>
                    <dd>
                        <table class="tbl-register-row renewal-table">
                            <colgroup>
                                <col style="width:130px;">
                                <col style="width:200px;">
                                <col style="width:auto;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>요청항목</th>
                                    <th>기존</th>
                                    <th>변경</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>입고수량</td>
                                    <td class="ta-left">2개</td>
                                    <td class="input-td">
                                        <div class="form-inline">
                                            <div class="form-control">
                                                <input type="text" placeholder="" value="기본T 롱 원피스">
                                            </div>
                                            <p>
                                                <span class="gray-text">##/4</span>
                                                <span class="bleck-text">개</span>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>판매가</td>
                                    <td class="ta-left">15,000원</td>
                                    <td class="input-td">
                                        <div class="form-inline">
                                            <div class="form-control">
                                                <input type="text" placeholder="" value="기본T 롱 원피스">
                                            </div>
                                            <p>
                                                <span class="gray-text">##/6</span>
                                                <span class="bleck-text">원</span>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="vt-top">
                                        <span>품절처리방식</span>
                                        <div class="tool-tip-wrap tool-gray">
                                            <a href="javascript:void(0)" class="tool-tip">툴팁</a>
                                            <div class="tool-tip-area renewal-tool-tip-area md left1">
                                                <section class="tool-tip-title">
                                                    <h1>품절처리방식 안내</h1>
                                                    <div class="tool-tip-inner">
                                                        <h2 class="dot">미송</h2>
                                                        <ul class="list-dash no-dash m-t-2">
                                                            <li>
                                                                다음 발주 시에 자동 발주 됩니다. <br />
                                                                ('미송내역' 메뉴에서 확인)
                                                            </li>
                                                        </ul>
                                                        <h2 class="dot">환불</h2>
                                                        <ul class="list-dash no-dash m-t-2">
                                                            <li>
                                                                검수완료와 동시에 자동 환불처리 됩니다.<br />
                                                                ('환불내역' 메뉴 확인)
                                                            </li>
                                                        </ul>
                                                        <h2 class="dot">매입</h2>
                                                        <ul class="list-dash no-dash m-t-2">
                                                            <!-- 2022 18 19 text 수정 -->
                                                            <li>
                                                                검수완료와 동시에 자동 매입처리 됩니다. <br />
                                                                (주문유형이 '불량', '미송'인 경우 설정 가능, '가게매입금관리' 메뉴에서 확인)
                                                            </li>
                                                        </ul>
                                                        <h2 class="dot">폐기</h2>
                                                        <ul class="list-dash no-dash m-t-2">
                                                            <li>
                                                                특정 사유로 폐기가 필요한 경우 신청된 수량만큼 즉시 폐기 처리됩니다.<br />
                                                                (검수완료 시 폐기처리)
                                                            </li>
                                                        </ul>
                                                        <h2 class="dot">부분처리</h2>
                                                        <ul class="list-dash no-dash m-t-2">
                                                            <li>
                                                                잔여수량을 부분 처리하고 싶은 경우, 총 잔여수량 내에서 설정 가능합니다.
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </section>
                                                <button type="button" class="tool-tip-close">닫기</button>
                                            </div>
                                        </div>
                                    </div>
                                    </td>
                                    <td class="ta-left">미송</td>
                                    <td class="radio-td modal-checkbox-wrap">
                                        <div class="form-inline">
                                            <div class="form-control">
                                                <label>
                                                    <input type="radio" name="radio1" checked="">
                                                    <span>미송</span>
                                                </label>
                                            </div>
                                            <div class="form-control">
                                                <label>
                                                    <input type="radio" name="radio1">
                                                    <span>환불</span>
                                                </label>
                                            </div>
                                            <div class="form-control">
                                                <label>
                                                    <input type="radio" name="radio1">
                                                    <span>매입</span>
                                                </label>
                                            </div>
                                            <div class="form-control">
                                                <label>
                                                    <input type="radio" name="radio1">
                                                    <span>폐기</span>
                                                </label>
                                            </div>
                                            <div class="form-control">
                                                <label>
                                                    <input type="radio" name="radio1" class="radio-select">
                                                    <span>부분처리</span>
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="rest-count">
                                        <div class="rest-count-title">
                                            <p>부분처리 잔여수량 설정</p>
                                            <p>
                                                총 잔여수량 <b>3</b> 개
                                            </p>
                                        </div>
                                        <ul>
                                            <li class="rest-count-head">
                                                <div class="rest-undeliver">
                                                    미송
                                                </div>
                                                <div class="rest-return">
                                                    환불
                                                </div>
                                                <div class="rest-buy">
                                                    매입
                                                </div>
                                                <div class="rest-discard">
                                                    폐기
                                                </div>
                                            </li>
                                            <li class="rest-count-body">
                                                <div class="rest-undeliver">
                                                    <div class="form-control ">
                                                        <input type="text">
                                                    </div>
                                                    <span>개</span>
                                                </div>
                                                <!-- 2022 08 19 error-line add -->
                                                <div class="rest-return">
                                                    <div class="form-control ">
                                                        <input type="text" class="error-line">
                                                    </div>
                                                    <span>개</span>
                                                </div>
                                                <div class="rest-buy">
                                                    <div class="form-control ">
                                                        <input type="text">
                                                    </div>
                                                    <span>개</span>
                                                </div>
                                                <div class="rest-discard">
                                                    <div class="form-control ">
                                                        <input type="text">
                                                    </div>
                                                    <span>개</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="rest-count-caption">
                                            * 잔여수량을 부분 처리할 수 있습니다. 총 잔여수량 내에서 입력해주세요.
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="vt-top">사유입력</td>
                                    <td colspan="2" class="textarea-td">
                                        <textarea></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </dd>
                </dl>


            </div>

            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">재확인요청</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<div class="modal-pop modal-recheck-request" id="modal-recheck-request-case2">
    <div class="modal-dialog">
        <div class="modal-inner w800">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>재확인 요청</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body pb40">
                <p class="title-msg">
                    입고상품의 수량과 판매가격이 최초 입력한 수량, 금액과 다르거나 다른 사유로 해당 상품의 재확인을 요청하시는 경우, <br />
                    아래에 요청사유를 작성해 주세요.
                </p>

                <dl class="recheck-content-dl">
                    <dt>
                        <h6>상품정보</h6>
                    </dt>
                    <dd>
                        <table class="tbl-register-row renewal-table">
                            <colgroup>
                                <col style="width:auto;">
                            </colgroup>
                                <thead>
                                    <tr>
                                        <th>주문구분 및 유형</th>
                                        <th>입고일</th>
                                        <th>거래처명</th>
                                        <th>상품명</th>
                                        <th>옵션</th>
                                        <th>발주수량</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            바로주문
                                            <span class="label label-pay-sample">샘플</span>
                                        </td>
                                        <td>YYYY-MM-DD</td>
                                        <td>그레이메인</td>
                                        <td>로맨틱맨투맨</td>
                                        <td>소라 / free</td>
                                        <td>5</td>
                                    </tr>
                                </tbody>
                        </table>
                    </dd>
                </dl>

                <dl class="recheck-content-dl">
                    <dt>
                        <h6>재확인 요청</h6>
                        <div style="display:inline-block">
                            <div class="tool-tip-wrap">
                                <a href="javascript:void(0)" class="tool-tip btn btn-lm btn-outline-gray">재확인요청안내</a>
                                <div class="tool-tip-area renewal-tool-tip-area md left3">
                                    <section class="tool-tip-title">
                                        <h1>  재확인 요청안내</h1>
                                        <div class="tool-tip-inner">
                                            <ul class="list-dash">
                                                <li>
                                                    재확인 요청 시 관리자 확인 후에 ‘재확인 완료’ 처리되며, <br /> 
                                                    재확인 요청 건이 있는 입고일은 검수완료가 불가합니다.
                                                </li>
                                                <li>
                                                   가장 마지막 발주 건인 경우 [입고수량]이 변경 가능합니다.
                                                </li>
                                                <li>
                                                    가장 첫 발주 건의 경우 [판매가]이 변경 가능합니다. <br />
                                                    (기존 변경 이력이 있거나, ‘일반주문’인 경우 불가)
                                                </li>
                                                <li>
                                                    가장 마지막 발주 건인 경우, 잔여수량이 1개 이상인 경우에 <br />
                                                    [품절치리방식]이 변경 가능합니다.
                                                </li>
                                                <li>
                                                    [입고수량] 변경 내용을 입력하시면, ‘잔여 수량’이 업데이트됩니다.
                                                </li>
                                                <li>
                                                    기존에 [품절처리방식]을 ‘부분처리’한 경우, [입고수량] 변경 시 <br />
                                                    ‘부분처리 수량’을 재설정 해주셔야 합니다. <br />
                                                    그러나 [입고수량]을 ‘잔여수량이 0개’ 혹은 ‘초과입고’ 되도록 변경 시, <br />
                                                    최초 품절처리방식으로 자동 설정됩니다.
                                                </li>
                                                <li>
                                                    [품절처리방식] ‘부분처리’ 설정 시 ‘총 잔여수량’과 ‘부분처리 수량 합계’를  <br />
                                                    동일하게 설정하셔야 재확인 요청이 진행됩니다.
                                                </li>

                                            </ul>
                                        </div>
                                    </section>
                                    <button type="button" class="tool-tip-close">닫기</button>
                                </div>
                            </div>
                        </div>
                    </dt>
                    <dd>
                        <table class="tbl-register-row renewal-table">
                            <colgroup>
                                <col style="width:130px;">
                                <col style="width:200px;">
                                <col style="width:auto;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>요청항목</th>
                                    <th>기존</th>
                                    <th>변경</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>입고수량</td>
                                    <td class="ta-left">2개</td>
                                    <td class="input-td">
                                        <div class="form-inline">
                                            <div class="form-control">
                                                <input type="text" placeholder="" value="기본T 롱 원피스">
                                            </div>
                                            <p>
                                                <span class="gray-text">##/4</span>
                                                <span class="bleck-text">개</span>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </dd>
                </dl>


            </div>

            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">재확인요청</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>