.calendar {
  width: 120px !important;
  width: 14px;
  height: 14px;
  background: url(../assets/images/ico_cal.png) no-repeat 7px 6px;
  padding-right: 0;
  padding-left: 29px !important;
  background-color: #fff;
  font-size: 13px;
  color: #2e3031;
}
