.form-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.form-control {
  position: relative;
  width: auto;
}

.exp-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 28px;
  margin: 0 0;
  border-top: 1px solid #d8e2ec;
  border-bottom: 1px solid #d8e2ec;
  font-size: 13px;
  font-weight: 400;
  color: #7d8693;
}
