.select-box {
  flex-shrink: 0;
  height: 28px;
  padding: 0 25px 0 5px;
  border: 1px solid #d8e2ec;
  line-height: normal;
  background: #fff url(../assets/images/ico_sel_down.png) no-repeat calc(100% - 10px) center;
}
