.easy-pick-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D8E2EC;
  margin: 40px 0 0 0;

  > ul {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: flex-start;

    li {
      height: 40px;
      min-width: 150px;
      margin-right: -1px;
      padding: 0 18px;
      border-color: #D8E2EC;
      line-height: 39px;
      border-width: 1px;
      border-style: solid;
      border-bottom: none;

      &.active {
        border-color: #198cff;
        background-color: #198cff;

        a {
          color: #fff;
        }
      }

      a {
        display: block;
        text-align: center;
        font-size: 15px;
        color: #999999;
      }
    }
  }

  .tab-side {
    display: flex;
    justify-content: center;
    align-items: center;

    .util-top {
      span {
        padding-right: 5px;
      }
    }
  }
}

.easy-pick-tab-round {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;

  ul {
    display: flex;
    margin: 5px 0 25px 0;
    background: #ffffff;
    padding: 5px;
    border-radius: 30px;
    border: 1px solid #198cff;
    color: #666666;

    li {
      height: 34px;
      min-width: 150px;
      margin-right: -1px;
      padding: 0 18px;
      border-color: #D8E2EC;
      line-height: 34px;
      border-radius: 30px;

      &.active {
        border-color: #198cff;
        background-color: #198cff;

        a {
          color: #fff;
        }
      }

      a {
        display: block;
        text-align: center;
        font-size: 15px;
        color: #999999;
      }
    }
  }
}
