.easy-pick-text {
  &.notice {
    color: #FF2052;
  }
  &.add-order {
    color: #FF2052;
  }
  &.blue {
    color: #198CFF;
  }
  &.gray {
    color: #666666;
  }
  &.red {
    color: #FF2052;
  }
  &.gray1 {
    color: #999999;
  }
  &.line {
    /*! 2022-12-20 EZP-7230 line-trough 추가 */
    text-decoration: line-through;
  }
}

.easy-pick-text-step {
  color: #2E3031;

  &.pay-complete,
  &.refund,
  &.add {
    color: #FF2052;
  }

  &.pay-request {
    color: #2E3031;
  }

  &.cancel-complete {
    color: #999999;
  }

  &.ing {
    color: #FF2052;
  }

  &.ing-complete {
    color: #2E3031;
  }

  &.ing-cancel {
    color: #999999;
  }
}

.fw700 {
  font-weight: 700; /*! 2023-03-20 EZP-8856 font-weight 추가 */
}

.easy-pick-tbl-title {
  display: flex;

  &.spb {
    justify-content: space-between;
  }

  .spb-width-tooltip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }
}

.divder {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 7px;
  content: '';
  vertical-align: middle;
  background: #ccc;
}

.text-center-stroke {
  text-decoration:line-through
}

.tool-tip-inner {
  .easy-pick-dot::after {
    top: 7px !important;
  }
}

.easy-pick-explain {
  margin-top: 17px;
  color: #666666;
  font-size: 12px;
  line-height: 18px;
}

.fnsize16 {
  font-size: 16px !important;
}

.easy-pick-popup-info {
  margin-bottom: 5px;
}
