.tool-tip-wrap {

  .tool-tip-title .list-case li {
    display: flex;
    padding-left: 0;
    font-size: 11px;
    font-weight: 400;
    white-space: normal;
    color: #7d8693;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .case {
      align-items: flex-start;
      overflow: unset;
    }
  }

  &.extra-tooltip {
    a {
      display: flex !important;
      align-items: center !important;
      text-indent: 0em !important;
      padding: 0 10px !important;
      border-radius: 10px !important;
      height: 22px !important;
      vertical-align: middle !important;
      font-size: 11px !important;
      color: #fff !important;
      background: initial !important;
      width: initial !important;
      background-color: #222222 !important;

      span.txt-link {
        border-bottom: 1px solid #ffffff;
      }
    }

    .tool-tip-area {

      .tool-tip-title {
        .tool-tip-inner {

          span {
            display: block !important;
            margin: 3px 0 3px 4px;

            &.flex-type2{
              display: flex !important;
              flex-wrap: wrap;
              align-items: flex-start;
              margin: 3px 0 3px 4px;
              
              span{
                  margin: 0;
                  margin-left: 4px;
                  width: calc(100% - 85px);
              }
          }
          }
        }
        

        .extra-button-wrap {
          display: flex;
          flex: 1;
          margin: 10px 0 0 44px;
        }
      }

     
    }
  }

  &.extra-button-tooltip {
    float: initial !important;

    .tool-tip {
      text-indent: 0 !important;
      border: 1px solid #999 !important;
      background: initial !important;
    }
  }

  &.no-float {
    float: initial;
  }
}

.easy-pick-tooltip {
  &.protip {
    font-size: 12px;
    border: 1px solid rgb(216, 226, 236);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 10%) 1px 2px 16px 2px;
    background: #ffffff !important;
    line-height: 150%;
    padding: 10px 10px 7px 10px;

    .protip-arrow {
      background: url(https://img.cafe24.com/csdstatic/market/img/common/bul_arrow.png) center 0px no-repeat;
      border-bottom-color: transparent !important;
      /* border-bottom-color: #ffffff !important; */
    }
  }
}