@charset "UTF-8";

/*! 2022-09-29 EZP-7015 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");


@font-face {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Poppins-Regular.eot");
    src: url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Poppins-Medium.eot");
    src: url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Poppins-SemiBold.eot");
    src: url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Poppins-Bold.eot");
    src: url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.ttf") format("truetype");
}