<!-- 추가입고등록 시 등록불가 팝업 -->

<!-- 추가입고등록 popup --->
<div class="modal-pop" id="direct-order-modal-case06">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>추가입고 등록 불가</h1>
                </div>
            </section>
            <div class="modal-body direct-order-modal-case06">
                <div class="txt-box">
                    <p><b>M/DD 입고일</b>에 <b class="easy-pick-text red">검수완료</b>처리된 거래처가 포함되어있습니다.<br/>
                    해당 거래처에는 추가입고 등록이 불가능하오니 제외하고 다시 등록해주세요.
                    </p>
                </div>
                <div class="text-list">
                    <dl>
                        <dt>M/DD 입고일 검수완료 거래처</dt>
                        <dd>
                            <ul>
                                <li>플래닛 (퀸즈스퀘어 3층 49호)</li>
                                <li>보네르(Bonheur) (디오트2층 F열 23호)</li>
                                <li>아도러블 (DDP(유어스) 2층 93호)</li>
                                <li>플래닛 (퀸즈스퀘어 3층 49호)</li>
                                <li>보네르(Bonheur) (디오트2층 F열 23호)</li>
                                <li>아도러블 (DDP(유어스) 2층 93호)</li>
                                <li>플래닛 (퀸즈스퀘어 3층 49호)</li>
                                <li>보네르(Bonheur) (디오트2층 F열 23호)</li>
                                <li>아도러블 (DDP(유어스) 2층 93호)</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
               
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>
                </div>
            </div>
            <!-- 2022-11-10 EZP-7223 x버튼 제거
            <a href="javascript:void(0);" class="page-close"></a>
            -->
        </div>
    </div>
    <div class="dim"></div>
</div>


<!-- 2022-11-10 EZP-7223 추가입고등록 불가 case 추가 -->
<!-- 주문/결제 popup --->
<div class="modal-pop" id="direct-order-modal-case06-2">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>추가입고 등록 불가</h1>
                </div>
            </section>
            <div class="modal-body direct-order-modal-case06">
                <div class="txt-box">
                    <p><b>M/DD 입고일</b>에 <b class="easy-pick-text red">검수완료</b>처리된 거래처가 포함되어있습니다.
                    </p>
                </div>
                <div class="text-list">
                    <dl>
                        <dt>M/DD 입고일 검수완료 거래처</dt>
                        <dd>
                            <ul>
                                <li>플래닛 (퀸즈스퀘어 3층 49호)</li>
                                <li>보네르(Bonheur) (디오트2층 F열 23호)</li>
                                <li>아도러블 (DDP(유어스) 2층 93호)</li>
                                <li>플래닛 (퀸즈스퀘어 3층 49호)</li>
                                <li>보네르(Bonheur) (디오트2층 F열 23호)</li>
                                <li>아도러블 (DDP(유어스) 2층 93호)</li>
                                <li>플래닛 (퀸즈스퀘어 3층 49호)</li>
                                <li>보네르(Bonheur) (디오트2층 F열 23호)</li>
                                <li>아도러블 (DDP(유어스) 2층 93호)</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="txt-box m-b-0 m-t-10">
                    <p>검수완료된 거래처에는 추가입고 등록이 불가능합니다.<br/>
                    <b class="red easy-pick-text">[확인] 클릭 시 해당 가게의 품목이 삭제됩니다.</b>
                    </p>
                </div>
               
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>
                </div>
            </div>
        </div>
    </div>
    <div class="dim"></div>
</div>


<script>
    $(function(){
        $('.direct-order-modal-case05 .xlsx-download-wrap ul li').click(function(){
            $('.direct-order-modal-case05 .xlsx-download-wrap ul li').removeClass('active');
            if($(this).hasClass('active') == true){
                $(this).removeClass('active');
            }else{
                $(this).addClass('active');
            }
        })
    })
</script>