<div class="modal-pop" id="direct-order-modal-case01">
    <div class="modal-dialog">
        <div class="modal-inner w640">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>엑셀 항목 설정</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body direct-order-modal-case01">
                <div class="text-info">
                    <h3>이지픽 바로주문은 엑셀양식타입 설정 기능을 제공합니다.</h3>
                    <span>고객님이 원하는 양식으로 보다 빠르고 편리하게 주문을 진행하세요.</span>
                </div>
                <div class="type-box">
                    <ul>
                        <li class="on"><a href="javascript: void(0);">TYPE 1</a></li>
                        <li><a href="javascript: void(0);">TYPE 2</a></li>
                        <li><a href="javascript: void(0);">TYPE 3</a></li>
                    </ul>
                    <div class="type-name-input">
                        <div class="tit">- TYPE 1 양식명 <span class="essential-icon">필수</span></div>
                        <input type="text" value="사용중인 양식명">
                    </div>
                </div>
                <div class="form-wrap-case01">
                    <div class="display-flex align-center justify-content-end mb15">
                     <!-- 2022 08 19 label 추가 -->
                        <label class="flex-m">
                        <input type="checkbox" class="combine-check-btn">
                            <span>거래처명 주소 하나로 사용</span>
                        </label>
                        <div class="tool-tip-wrap tool-gray ml4">
                            <a href="javascript:void(0)" class="tool-tip db">툴팁</a>
                            <div class="tool-tip-area md left3 renewal-tool-tip-area">
                                <section class="tool-tip-title">
                                    <h1>여기에 체크하시면</h1>
                                    <div class="tool-tip-inner">
                                        <h2 class="dot">엑셀 다운로드</h2>
                                        <ul class="list-dash">
                                            <li>거래처와 주소가 하나의 열에 합쳐져 다운로드 됩니다.</li>
                                        </ul>
                                        <h2 class="dot">엑셀 업로드</h2>
                                        <ul class="list-dash">
                                            <li>업로드 시 거래처명과 거래처주소 항목에 동일한 값이 등록됩니다.</li>
                                        </ul>
                                    </div>
                                </section>
                                <button type="button" class="tool-tip-close">닫기</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-registration-case01">
                        <table>
                            <colgroup>
                                <col style="width: 120px;">
                                <col style="width: 138px;">
                                <col style="width: auto;">
                            </colgroup>
                            <tbody>
                                <tr class="combine-tbl-tr1">
                                    <th rowspan="2">거래처정보</th>
                                    <td>거래처명+주소 <span class="essential-icon">필수</span></td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="combine-tbl-tr2">
                                    <th rowspan="3">거래처정보</th>
                                    <td>거래처명 <span class="essential-icon">필수</span></td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="combine-tbl-tr2">
                                    <td>거래처주소 <span class="essential-icon">필수</span></td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>거래처연락처 <span class="essential-icon">필수</span></td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th rowspan="6">상품정보</th>
                                    <td>상품명</td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>색상</td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>사이즈</td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>단가</td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>수량</td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>품절처리방식</td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th rowspan="6">기타정보</th>
                                    <td>메모</td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>쇼핑몰상품명</td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>쇼핑몰상품코드</td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>이미지URL</td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>기타정보1</td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>기타정보2</td>
                                    <td>
                                        <div class="select-control">
                                            <button type="button" class="btn-sel">A</button>
                                            <ul class="sel-panel" style="display: none;">
                                                <li>A</li>
                                                <li>B</li>
                                                <li>C</li>
                                                <li>D</li>
                                                <li>E</li>
                                                <li>F</li>
                                                <li>H</li>
                                                <li>I</li>
                                                <li>J</li>
                                                <li>K</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point">저장</button>	
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<script>
    $(function(){
        $('.combine-tbl-tr1').hide();
        $('.combine-check-btn').click(function(){
            if($('.combine-check-btn').is(':checked')){
                $('.combine-tbl-tr1').show();
                $('.combine-tbl-tr2').hide();   
            }else{
                $('.combine-tbl-tr1').hide();
                $('.combine-tbl-tr2').show();   
            }
        })
    })
</script>