<!-- 2022-10-17 EZP-4011 사입내역 > 샘플/제작/불량 > 제작관리 엑셀양식 (모아보기) -->
<div class="modal-pop re-modal-excel" id="direct-order-modal-case02-3-all">
    <div class="modal-dialog">
        <div class="modal-inner w1120">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>엑셀 항목 설정</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body direct-order-modal-case01">
                <div class="tab-case01">
                    <ul class="tab">
                        <li data-tab="conttab1" class="active"><a href="javascript:void(0)"><span>기본 양식</span></a></li>
                    </ul>
                </div>
                <div class="tab-content tabCont" id="conttab1">
                    <div class="notice-wrap p-t-10 p-b-10 m-b-20 m-t-10">
                        <div>
                        <i class="ico-notice">
                            <span class="txt-hide">공지</span>
                        </i>
                        모아보기 엑셀 항목 설정
                        <br  />
                        <div class="m-t-5 lh-1-5">
                            엑셀 '모아보기양식'다운로드 시 노출되는 항목을 직접 설정할 수 있습니다.
                        </div>
                        </div>
                    </div>
                    <div class="form-wrap-case02">
                        <div class="list-box">
                            <div class="title">
                                <h4 class="tit">전체 항목</h4>
                                <button type="button">초기화</button>
                            </div>
                            <div class="scroll-box type01">
                                <ul>
                                    <li class="required">
                                        <div class="subject">거래처명</div>
                                        <span>필수항목</span>
                                    </li>
                                    <li>
                                        <div class="subject">거래처주소</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">거래처연락처</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="required">
                                        <div class="subject">상품명</div>
                                        <span>필수항목</span>
                                    </li>
                                    <li>
                                        <div class="subject">옵션</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">주문수량</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">입고수량</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">폐기수량</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">잔여수량</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">쇼핑몰상품명</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="excel-short-line">
                                        <div class="subject">쇼핑몰상품코드</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-wrap">
                                <button type="button" class="btn btn-md btn-outline-blue">모두 사용</button>
                                <button type="button" class="btn btn-md btn-outline-gray">모두 사용안함</button>
                            </div>
                        </div>
                        <div class="list-box">
                            <div class="title">
                                <h4 class="tit ftpointcolor">사용 항목</h4>
                            </div>
                            <div class="scroll-box type02">
                                <ul class="check-list">
                                    <li>거래처명 <span class="ftpointcolor1">(필수)</span></li>
                                    <li>거래처주소</li>
                                    <li>거래처연락처</li>
                                    <li>상품명 <span class="ftpointcolor1">(필수)</span></li>
                                    <li>옵션</li>
                                    <li>주문수량</li>
                                    <li>입고수량</li>
                                    <li>폐기수량</li>
                                    <li>잔여수량</li>
                                    <li>쇼핑몰상품명</li>
                                    <li class="excel-short-line">쇼핑몰상품코드</li>
                                </ul>
                            </div>
                            <div class="btn-wrap">
                                <button type="button" class="arrow arrow2 arrow-top2"></button>
                                <button type="button" class="arrow arrow1 arrow-top1"></button>
                                <button type="button" class="arrow arrow1 arrow-bottom1"></button>
                                <button type="button" class="arrow arrow2 arrow-bottom2"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point">저장</button>	
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<script>
    $(function(){
        $('.check-list li').click(function(){
            $('.check-list li').removeClass('active');
            if($(this).hasClass('active') == true){
                $(this).removeClass('active');
            }else{
                $(this).addClass('active');
            }
        });
    })
</script>