<div class="modal-pop" id="direct-order-modal-case02">
    <div class="modal-dialog">
        <div class="modal-inner w640">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>엑셀 항목 설정</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body direct-order-modal-case01">
                <div class="tab-case01">
                    <ul class="tab">
                        <li data-tab="conttab1" class="active"><a href="javascript:void(0)"><span>기본 양식</span></a></li>
                        <li data-tab="conttab2"><a href="javascript:void(0)"><span>재확인 요청 양식</span></a></li>
                    </ul>
                </div>
                <div class="tab-content tabCont" id="conttab1">
                    <div class="type-box">
                        <ul>
                            <li class="on"><a href="javascript: void(0);">TYPE 1</a></li>
                            <li><a href="javascript: void(0);">TYPE 2</a></li>
                        </ul>
                        <div class="type-name-input">
                            <div class="tit">- TYPE 1 양식명 <span class="essential-icon">필수</span></div>
                            <input type="text" value="사용중인 양식명">
                        </div>
                    </div>
                    <div class="form-wrap-case02">
                        <div class="list-box">
                            <div class="title">
                                <h4 class="tit">전체 항목</h4>
                                <button type="button">초기화</button>
                            </div>
                            <div class="scroll-box type01">
                                <ul>
                                    <li>
                                        <div class="subject">거래처명</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">거래처명 (주문입력)</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">거래처주소</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">거래처연락처</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">주문구분</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">유형</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">최초주문일</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">입고일</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="required">
                                        <div class="subject">주문번호</div>
                                        <span>필수항목</span>
                                    </li>
                                    <li class="required">
                                        <div class="subject">상품명</div>
                                        <span>필수항목</span>
                                    </li>
                                    <li>
                                        <div class="subject">옵션</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">판매가</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">발주수량</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">입고금액</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">잔여수량</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">품절처리방식</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">부분처리상세</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">상품상태</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">입고예정일</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">구매자메모</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">입고메모</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">쇼핑몰상품명</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">쇼핑몰상품코드</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">기타정보1</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">기타정보2</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">이미지URL</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-wrap">
                                <button type="button" class="btn btn-md btn-outline-blue">모두 사용</button>
                                <button type="button" class="btn btn-md btn-outline-gray">모두 사용안함</button>
                            </div>
                        </div>
                        <div class="list-box">
                            <div class="title">
                                <h4 class="tit ftpointcolor">사용 항목</h4>
                            </div>
                            <div class="scroll-box type02">
                                <ul class="check-list">
                                    <li>거래처명</li>
                                    <li>거래처명 (주문입력)</li>
                                    <li>거래처주소</li>
                                    <li>거래처연락처</li>
                                    <li>주문구분</li>
                                    <li>유형</li>
                                    <li>최초주문일</li>
                                    <li>입고일</li>
                                    <li>
                                        주문번호 <span class="ftpointcolor1">(필수)</span>
                                    </li>
                                    <li>
                                        상품명 <span class="ftpointcolor1">(필수)</span>
                                    </li>
                                    <li>옵션</li>
                                    <li>판매가</li>
                                    <li>발주수량</li>
                                    <li>입고금액</li>
                                    <li>잔여수량</li>
                                    <li>품절처리방식</li>
                                    <li>부분처리상세</li>
                                    <li>상품상태</li>
                                    <li>입고예정일</li>
                                    <li>구매자메모</li>
                                    <li>입고메모</li>
                                    <li>쇼핑몰상품명</li>
                                    <li>쇼핑몰상품코드</li>
                                    <li>기타정보1</li>
                                    <li>기타정보2</li>
                                    <li>이미지URL</li>
                                </ul>
                            </div>
                            <div class="btn-wrap">
                                <button type="button" class="arrow arrow2 arrow-top2"></button>
                                <button type="button" class="arrow arrow1 arrow-top1"></button>
                                <button type="button" class="arrow arrow1 arrow-bottom1"></button>
                                <button type="button" class="arrow arrow2 arrow-bottom2"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content tabCont hidden" id="conttab2">
                    <div class="type-box">
                        <div class="type-name-input">
                            <div class="tit">- TYPE 1 양식명 <span class="essential-icon">필수</span></div>
                            <input type="text" value="사용중인 양식명">
                        </div>
                    </div>
                    <div class="form-wrap-case02">
                        <div class="list-box">
                            <div class="title">
                                <h4 class="tit">전체 항목</h4>
                                <button type="button">초기화</button>
                            </div>
                            <div class="scroll-box type01">
                                <ul>
                                    <li>
                                        <div class="subject">거래처명</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">거래처명 (주문입력)</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">거래처주소</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">거래처연락처</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">주문구분</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">유형</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">최초주문일</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">입고일</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="required">
                                        <div class="subject">주문번호</div>
                                        <span>필수항목</span>
                                    </li>
                                    <li class="required">
                                        <div class="subject">상품명</div>
                                        <span>필수항목</span>
                                    </li>
                                    <li>
                                        <div class="subject">옵션</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">판매가</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">발주수량</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">입고금액</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">잔여수량</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">품절처리방식</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">부분처리상세</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">상품상태</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">입고예정일</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">구매자메모</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">입고메모</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">쇼핑몰상품명</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">쇼핑몰상품코드</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">기타정보1</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">기타정보2</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subject">이미지URL</div>
                                        <div class="btn-switch">
                                            <label>
                                                <input type="checkbox">
                                                <div class="slider"></div>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-wrap">
                                <button type="button" class="btn btn-md btn-outline-blue">모두 사용</button>
                                <button type="button" class="btn btn-md btn-outline-gray">모두 사용안함</button>
                            </div>
                        </div>
                        <div class="list-box">
                            <div class="title">
                                <h4 class="tit ftpointcolor">사용 항목</h4>
                            </div>
                            <div class="scroll-box type02">
                                <ul class="check-list">
                                    <li>거래처명</li>
                                    <li>거래처명 (주문입력)</li>
                                    <li>거래처주소</li>
                                    <li>거래처연락처</li>
                                    <li>주문구분</li>
                                    <li>유형</li>
                                    <li>최초주문일</li>
                                    <li>입고일</li>
                                    <li>
                                        주문번호 <span class="ftpointcolor1">(필수)</span>
                                    </li>
                                    <li>
                                        상품명 <span class="ftpointcolor1">(필수)</span>
                                    </li>
                                    <li>옵션</li>
                                    <li>판매가</li>
                                    <li>발주수량</li>
                                    <li>입고금액</li>
                                    <li>잔여수량</li>
                                    <li>품절처리방식</li>
                                    <li>부분처리상세</li>
                                    <li>상품상태</li>
                                    <li>입고예정일</li>
                                    <li>구매자메모</li>
                                    <li>입고메모</li>
                                    <li>쇼핑몰상품명</li>
                                    <li>쇼핑몰상품코드</li>
                                    <li>기타정보1</li>
                                    <li>기타정보2</li>
                                    <li>이미지URL</li>
                                </ul>
                            </div>
                            <div class="btn-wrap">
                                <button type="button" class="arrow arrow2 arrow-top2"></button>
                                <button type="button" class="arrow arrow1 arrow-top1"></button>
                                <button type="button" class="arrow arrow1 arrow-bottom1"></button>
                                <button type="button" class="arrow arrow2 arrow-bottom2"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point">저장</button>	
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<script>
    $(function(){
        $('.check-list li').click(function(){
            $('.check-list li').removeClass('active');
            if($(this).hasClass('active') == true){
                $(this).removeClass('active');
            }else{
                $(this).addClass('active');
            }
        });
    })
</script>