@charset "UTF-8";

a {
  color: inherit;
  text-decoration: none;
}

dd {
  margin: 0;
}

body {
  background-color: #e7e7e7;
}

.chat-wrap {
  display: flex;
  min-height: 600px;
}

.chat {
  display: flex;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
}

.chat-list-wrap {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 340px;
  border-right: 1px solid #e9e9e9;
}

.chat-list-search {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 130px;
  padding: 0 15px;
  border-bottom: 1px solid #e9e9e9;

  .ui-select > ul {
    top: 41px;
    padding: 0;
    border: 1px solid #000;
    border-radius: 0;
  }

  .ui-select-wrap {
    width: 155px;

    .ui-select {
      width: 100%;
    }
  }

  .ui-select {
    button {
      border: 0;
    }

    &.active {
      box-shadow: none;

      > ul {
        box-shadow: none;
      }
    }
  }

  .add-chat {
    position: relative;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin-left: auto;
    border-radius: 100%;
    background-color: #36c25d;
    text-indent: -9999px;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #fff;
    }

    &::before {
      width: 2px;
      height: 10px;
      margin: -5px 0 0 -1px;
    }

    &::after {
      width: 10px;
      height: 2px;
      margin: -1px 0 0 -5px;
    }
  }

  .input-text {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding-left: 35px;
    border: 1px solid #d6d6d6;

    .btn-search {
      position: absolute;
      top: 50%;
      left: 15px;
      width: 20px;
      height: 20px;
      margin-top: -7px;
      background: url("../../img/chat/ico-search.png") 0 0 no-repeat;
      text-indent: -9999px;
    }

    input {
      border: 0;
      border-radius: 0;
      padding-left: 8px;
    }
  }
}

.chat-list-box {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1 1 auto;
}

.chat-list {
  > li {
    position: relative;
    border-bottom: 1px solid #e9e9e9;

    &.on {
      background-color: #f9f9f9;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 5px;
        background-color: #36c25d;
      }
    }
  }

  .chat-list-link {
    display: flex;
    align-items: center;
    padding: 15px;
    text-align: left;
  }

  .thumb-wrap {
    flex: none;
    margin-right: 14px;
  }

  .thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background: #b5b5b5 url("../../img/chat/ico-store-sm.png") 50% 50% no-repeat;

    &.purple {
      background-color: #9a96ee;
    }

    &.blue {
      background-color: #66aeec;
    }

    &.green {
      background-color: #6ec679;
    }

    &.yellow {
      background-color: #eebb62;
    }

    &.orange {
      background-color: #f3895b;
    }

    &.pink {
      background-color: #f18cbe;
    }

    .txt {
      font-size: 14px;
      color: #fff;
    }
  }

  .text-wrap {
    overflow: hidden;
    flex: 1 1;
  }

  .name-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;

    .name {
      display: inline-block;
      flex: 1 1;
      margin-right: 5px;
      font-size: 14px;
      color: #333;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .date {
      flex: none;
      display: inline-block;
      margin-left: auto;
      font-size: 12px;
      color: #999;
      white-space: nowrap;
    }

    .add-favorite {
      flex: none;
      display: inline-block;
      overflow: hidden;
      width: 15px;
      height: 15px;
      margin-left: 5px;
      background: url("../../img/chat/ico-star-off.png") 0 0 no-repeat;
      text-indent: -9999px;

      &.on {
        background: url("../../img/chat/ico-star-on.png") 0 0 no-repeat;
      }
    }
  }

  .message-box {
    display: flex;
    align-items: center;
    margin-top: 5px;

    .message {
      flex: 1 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 20px;
      font-size: 13px;
      color: #666;
    }

    .unread {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      height: 20px;
      padding: 1px 10px 0;
      margin-left: 10px;
      border-radius: 20px;
      font-family: "Roboto";
      font-size: 11px;
      color: #fff;
      background-color: #ff4900;
    }
  }
}

.chat-content-wrap {
  display: flex;
  flex: 1 1;
  min-width: 0;

  &:not(.on) {
    justify-content: center;
    align-items: center;

    &::before {
      content: "대화 상대를 선택해주세요.";
      display: block;
      width: 223px;
      padding-top: 200px;
      background: url("../../img/chat/ico-chat-balloon.png") 50% 0 no-repeat;
      text-align: center;
    }
  }

  .chat-content, .chat-info-wrap {
    display: none;
  }

  &.on {
    .chat-content, .chat-info-wrap {
      display: flex;
    }
  }
}

.chat-content {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  min-width: 0;
  width: 75%;
}

.chat-content-view {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-content-list {
  padding: 25px 30px 20px;

  .chat-message {
    word-wrap: break-word;
    word-break: keep-all;
    font-size: 14px;

    &:not(:first-child) {
      margin-top: 10px;
    }

    &.send + .chat-message.receive {
      margin-top: 30px;
    }

    &.send {
      justify-content : flex-start;
      flex-direction : row-reverse;
    }

    &.receive {
      + .chat-message.send {
        margin-top: 30px;
      }

      justify-content: flex-end;
      flex-direction: row-reverse;
    }

    display: flex;
    align-items: flex-end;
  }

  .message-balloon {
    color: #fff;
    max-width: 60%;
  }

  .chat-message {
    &.receive .message-balloon {
      order: 2;
    }

    .chat-status {
      display: flex;
      flex-direction: column;
      width: 80px;
    }

    &.receive .chat-status {
      text-align: right;
    }

    .date {
      margin: 0 10px;
      font-size: 12px;
      color: #999;
    }
  }

  .message-content {
    overflow: hidden;
    padding: 12px 15px;
    background-color: #eee;
    word-break: break-all;
  }

  .chat-message {
    &.send .message-content {
      background-color: #36c25d;
      border-radius: 10px 10px 0;
    }

    &.receive .message-content {
      background-color: #666;
      border-radius: 10px 10px 10px 0;
    }
  }

  .message-content a {
    line-height: inherit;
    vertical-align: top;
    text-decoration: underline;
  }

  .info-balloon {
    overflow: hidden;
  }

  .chat-message {
    &.send .info-balloon {
      border: 1px solid #36c25d;
      border-radius: 10px 10px 0;
      background-color: #36c25d;
    }

    &.receive .info-balloon {
      flex: none;
      order: 2;
      border: 1px solid #666;
      border-radius: 10px 10px 10px 0;
      background-color: #666;
    }
  }

  .info-balloon .info-order {
    padding: 8px 15px;
    font-size: 12px;
    color: #fff;
    border-radius: 10px 10px 0 0;
  }

  .chat-message.receive .info-balloon .info-order {
    // background-color: #36c25d;
    background-color : #666;
    &.center {
      /*! 2022-12-16 EZP-6818 샘플제안 가운데 정렬 */
      text-align: center;
    }
  }

  .info-balloon {
    .info-content-wrap {
      max-width: 320px;
      padding: 15px;
      background-color: #fff;
      &.sample {
        /*! 2023-01-17 EZP-6818 sample balloon max-width 추가 */
        /*! 2023-02-21 EZP-6818 max-width -> width로 변경 */
        width: 245px;
      }
    }

    .info-content {
      display: flex;
    }

    .thumb-wrap {
      flex: none;
      width: 80px;
      margin-right: 10px;
    }

    .text-wrap {
      flex: 1 1;
      min-width: 0;
    }

    .name {
      word-break: break-all;
    }

    .price-box {
      margin-top: 5px;
      font-size: 12px;
      color: #666;

      dt, dd {
        display: inline;
      }
    }

    .option-box {
      margin-top: 5px;
      font-size: 12px;
      color: #999;

      .row {
        word-break: break-all;

        &:not(:first-child) {
          margin-top: 3px;
        }
      }

      dt, dd {
        display: inline;
      }
    }

    .sample {
      .qty-box {
        dt {
          /*! 2022-12-16 EZP-6818 이지톡 샘픔제안 */
          font-size: 14px;
          color: #333;
        }
        dd {
          /*! 2022-16 ESP-6818 이지톡 샘플제안 */
          font-size: 12px;
          color: #666;
          display: block;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    .qty-box {
      dt, dd {
        display: inline;
      }
    }

    .brief-box {
      font-size: 12px;
      color: #999;

      .row {
        display: flex;
        word-break: break-all;

        &:not(:first-child) {
          margin-top: 3px;
        }
      }

      dt {
        flex: none;
        width: 40px;
        color: #333;
      }

      dd {
        flex: 1 1;
      }

      .price {
        dt, dd {
          color: #666;
        }
      }
    }

    .btn-wrap {
      margin-top: 10px;
    }

    .btn-confirm {
      display: inline-block;
      width: 100%;
      height: 27px;
      border-radius: 3px;
      font-size: 12px;
      line-height: 24px;
      text-align: center;
    }
  }

  .chat-message {
    &.send .info-balloon .btn-confirm {
      border: 1px solid #36c25d;
      color: #36c25d;
    }

    &.receive .info-balloon .btn-confirm {
      border: 1px solid #666;
      color: #666;
      &.fill {
        /*! 2022-12-16 EZP-6818 백그라운 blk 인 case 추가 */
        background-color: #111;
        color: #fff;
        border: 1px solid #111;
      }
    }
  }

  .info-balloon .thumb {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 80px;
    height: 80px;
    background-color: #000;

    img {
      width: 100%;
    }
  }

  .chat-date {
    position: relative;
    margin: 20px 0;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 1px;
      background-color: #999;
    }

    .chat-date-block {
      display: inline-block;
      position: relative;
      z-index: 1;
      padding: 0 30px;
      font-size: 13px;
      color: #999;
      background-color: #fff;
    }
  }

  .chat-unread-section {
    /*!2021-12-17 EZP-4789 */
    margin: 30px 0;
    padding: 5px 0;
    font-size: 13px;
    color: #999;
    background-color: #f9f9f9;
    text-align: center;
  }
}

.chat-content-input {
  padding: 0 30px;
  border-top: 1px solid #e9e9e9;

  .chat-input-wrap {
    flex: 1 1;
    display: flex;
    align-items: center;
    height: 80px;
  }

  .warn {
    flex: 1 1;
    font-size: 14px;
    color: #c6c6c6;
  }

  .chat-input {
    flex: 1 1;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    line-height: 20px;
    background-color: transparent;
    box-sizing: border-box;
  }

  .btn-send {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    border-radius: 20px;
    font-size: 16px;
    color: #c6c6c6;
    background-color: #999;
    pointer-events: none;

    &::before {
      content: "";
      display: inline-block;
      width: 21px;
      height: 18px;
      margin: 3px 7px 0 0;
      background: url("../../img/chat/ico-send-off.png") 0 0 no-repeat;
    }
  }

  &.ing .btn-send {
    color: #fff;
    background-color: #36c25d;
    pointer-events: auto;

    &::before {
      background-image: url("../../img/chat/ico-send-on.png");
    }
  }

  &.disabled {
    background-color: #f9f9f9;
  }
}

.chat-info-wrap {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  width: 25%;
  padding: 30px 2%;
  border-left: 1px solid #e9e9e9;
  text-align: center;
}

.chat-info {
  .thumb-wrap {
    display: flex;
    justify-content: center;
  }

  .thumb {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: #b5b5b5 url("../../img/chat/ico-store.png") 50% 50% no-repeat;

    &.purple {
      background-color: #9a96ee;
    }

    &.blue {
      background-color: #66aeec;
    }

    &.green {
      background-color: #6ec679;
    }

    &.yellow {
      background-color: #eebb62;
    }

    &.orange {
      background-color: #f3895b;
    }

    &.pink {
      background-color: #f18cbe;
    }

    img {
      width: 100%;
    }

    .txt {
      font-size: 28px;
      color: #fff;
    }
  }

  .text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: keep-all;
    word-wrap: break-word;
  }

  .name, .ex, .sub-info, .hashtag, .contact {
    max-width: 220px;
    width: 100%;
  }

  .name {
    margin-top: 26px;
    font-size: 20px;
  }

  .ex {
    margin-top: 10px;
    font-size: 13px;
  }

  .sub-info {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
  }

  .hashtag {
    margin-top: 16px;
    font-size: 13px;

    .word {
      display: inline-block;
      color: #3297cc;

      &.disabled {
        color: #333;
      }
    }
  }

  .contact-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid #e9e9e9;
  }

  .contact {
    font-size: 13px;
    color: #333;
    text-align: left;

    .row {
      display: flex;

      &:not(:first-child) {
        margin-top: 3px;
      }
    }

    dt {
      width: 80px;
      flex-shrink: 0;
    }

    dd {
      flex: 1 1;
      min-width: 0;
    }
  }
}

.chat-info-wrap .btn-exit {
  width: 100%;
  height: 40px;
  margin-top: auto;
  padding: 0;
  line-height: 38px;
  border: 1px solid #36c25d;
  border-radius: 2px;
  font-size: 14px;
  color: #36c25d;
  background-color: #fff;
}

.add-chat-popup {
  .content {
    text-align: left;
  }

  .input-text {
    position: relative;
    width: 100%;
    padding-left: 35px;
    border: 1px solid #d6d6d6;

    .btn-search {
      position: absolute;
      top: 50%;
      left: 15px;
      width: 20px;
      height: 20px;
      margin-top: -7px;
      background: url("../../img/chat/ico-search.png") 0 0 no-repeat;
      text-indent: -9999px;
    }

    input {
      border: 0;
      border-radius: 0;
      padding-left: 8px;
    }
  }

  .body .cont {
    margin-top: 30px;
  }

  .title {
    display: block;
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 16px;
    color: #333;
  }

  .store-select-list-wrap {
    overflow-x: hidden;
    overflow-y: auto;
    height: 300px;
    background-color: #f9f9f9;

    + .pagination {
      /*!2021-12-17 EZP-4789 */
      margin-top: 20px;
    }
  }

  .store-select-list {
    padding: 20px 10px;

    > li:not(:first-child) {
      margin-top: 16px;
    }
  }

  .warn {
    /*!2021-12-17 EZP-4789 */
    margin-top: 30px;
    font-size: 14px;
    color: #666;
  }

  .selected-store {
    margin-top: 10px;

    .store {
      overflow: hidden;
      max-width: 100%;
      height: 40px;
      padding: 0 20px;
      border-radius: 40px;
      font-size: 16px;
      color: #fff;
      line-height: 40px;
      background-color: #36c25d;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.chat-radio {
  display: flex;
  position: relative;
  min-height: 16px;
  padding-left: 24px;
  word-wrap: break-word;

  input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    opacity: 0;
  }

  label {
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      margin-top: -8px;
      border: 2px solid #d7d7d7;
      border-radius: 100%;
      background-color: #fff;
      box-sizing: border-box;
    }
  }

  input:checked + label {
    &::before {
      border-color: #36c25d;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 4px;
      width: 8px;
      height: 8px;
      margin-top: -4px;
      border-radius: 100%;
      background-color: #36c25d;
    }
  }

  .addr::before {
    content: "/ ";
  }
}

/*!2022-01-05 EZP-4920 */

.chat-nodata {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 16px;

  .inner {
    position: relative;
    padding-top: 65px;
    color: #333;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 52px;
      height: 52px;
      margin-left: -26px;
      background: url("../../img/common/ico-nodata-big.png") no-repeat 50% 50%;
    }
  }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /*!IE */
  .chat-content-list .info-balloon {
    .text-wrap {
      flex: none;
    }

    .thumb-wrap + .text-wrap {
      max-width: 200px;
    }

    .brief-box dd {
      flex: none;
      max-width: 250px;
    }
  }
}

#container, footer {
  /*!easypick seller만 적용 :: 위는 front, seller 공통 적용 */
  min-width: 1630px;
}

#container.popup-open section {
  display: table-cell;
}

.chat-wrap {
  height: 850px;
}

.add-chat-popup .content {
  .header {
    display: flex;
    align-items: center;
    height: 76px;
    padding: 0 30px;
    border-color: #d6d6d6;

    p {
      font-size: 24px;
    }
  }

  .body {
    padding: 30px;
  }

  > .btn-close {
    top: 26px;
    right: 28px;
    width: 22px;
    height: 22px;
  }
}

.add-clear-span {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  a {
    top: 50% !important;
    display: block;
    overflow: hidden;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    text-indent: -9999px;
    background: url('../../img/common/spr-form.png') 0 -24px no-repeat;
  }

  &.active input {
    &[type=text], &[type=password], &[type=number] {
      border-color: #666;
    }
  }
}