{% extends "../_templates/layout.njk" %}
{% block content %}

<div class="wrapper" id="wrap">
    <div class="content" id="content">
        <div class="content-head">
            <div class="page-title">
                <h3 class="h3-tit">간편해외배송처리</h3>
                <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
            </div>
            <div class="cont-info-right">
                <ul class="breadcrumb">
                    <li>주문</li>
                    <li>주문관리</li>
                    <li class="now" title="현재 페이지">간편해외배송처리</li>
                </ul>
            </div>
        </div>

        <!-- 간편해외배송처리 Start -->
        <div class="overseas-shipping-wrap case2">

            <!-- 처리현황 상단 바 Start -->
            <div class="processing-status">
                <div class="txt">오늘의 처리현황</div>
                <div class="info">
                    선택된 주문수: <span class="quantity">15</span>건
                </div>
            </div><!-- 처리현황 상단 바 End -->

            <!-- 상단 텝 박스 Start -->
            <div class="tab-box-type01">
                <ul>
                    <li class="active">
                        <a href="javascript: void(0);">
                            <div class="box">
                                <dl>
                                    <dt class="title">
                                        <span class="num">1</span>
                                        국내 물류지별 송장출력
                                    </dt>
                                    <dd class="text">국내 물류지를 선택하여 송장출력을 할 수 있어요</dd>
                                </dl>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">
                            <div class="box">
                                <dl>
                                    <dt class="title">
                                        <span class="num">2</span>
                                        국내 물류지로 보내기
                                    </dt>
                                    <dd class="text">국내 물류지를 선택하여 배송처리 할 수 있어요</dd>
                                </dl>
                            </div>
                        </a>
                    </li>
                </ul>
            </div><!-- 상단 텝 박스 End -->

            <!-- 물류지-wrap Start -->
            <div class="logistics-wrap">
                <div class="title-type01 title-ico01">
                    <h3>처리할 물류지를 선택해주세요.</h3>
                </div>
                <div class="tap-box-type02 logistics-tab">
                    <ul>
                        <li class="fastbox-btn active">
                            <a href="javascript: void(0);">
                                <div class="title">
                                    패스트박스
                                    <span>별도 국내 물류지가 없는 직접배송 해외주문</span>
                                </div>
                                <div class="count">2</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <div class="title">쇼피</div>
                                <div class="count">40</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <div class="title">큐텐</div>
                                <div class="count">0</div>
                            </a>
                        </li>
                        <li class="disable">
                            <a href="javascript: void(0);">
                                <div class="title">라자다</div>
                                <div class="count">0</div>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- 패스트박스 Start -->
                <div class="fastbox on">
                    <div class="text-info">
                        <h4>FAST BOX</h4>
                        <span>최대 <b>38% 할인 금액</b>으로 해외배송하려면 <b>예치금충전(<strong>200,000 원</strong>)이 필요</b>해요 (예상 배송료 합계
                            기준)</span>
                    </div>
                    <div class="tbl-type01">
                        <table>
                            <thead>
                                <tr>
                                    <th>국가별 배송료</th>
                                    <th>EMS 표준요금</th>
                                    <th><b>EMS 배송대행</b> <span class="info">(EMS 표준요금 대비)</span></th>
                                    <th><b>국가별 배송료</b> <span class="info">(EMS 표준요금 대비)</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>일본 <span class="info">(주문 20건 기준)</span></td>
                                    <td>720,000원</td>
                                    <td>495,000원<span class="discount1">25%</span></td>
                                    <td>326,400원<span class="discount1">55%</span></td>
                                </tr>
                                <tr>
                                    <td>그외 국가 <span class="info">(주문 20건 기준)</span></td>
                                    <td>589,000원</td>
                                    <td colspan="2">483,000원 <span class="discount1">25%</span> <span class="info">(EMS
                                            배송대행 기준)</span></td>
                                </tr>
                                <tr class="p23">
                                    <td><strong>예상 배송료 합계</strong></td>
                                    <td><strong>1,309,000원</strong></td>
                                    <td>
                                        <strong>978,000원 <span class="discount2">25%</span></strong>
                                        <span class="info">(495,000원 + 483,000원)</span>
                                    </td>
                                    <td>
                                        <strong>978,000원 <span class="discount2">38%</span></strong>
                                        <span class="info">(326,400원 + 483,000원)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-deco">
                        * 배송국가 및 무게 구간별로 배송료가 다를수 있습니다.
                    </div>
                </div><!-- 패스트박스 End -->

                <label class="agree-box">
                    <input type="checkbox" class="check-type01">
                    <span>패스트박스, 쇼피, 라자를 구분하여 송장 출력하기</span>
                </label>
                <div class="btn-wrap">
                    <a href="javascript: void(0);" class="btn-type01 print-invoice1">송장 출력하기</a>
                    <a href="javascript: void(0);" class="btn-type01 print-invoice2">충전 및 송장 출력하기</a>
                </div>

            </div><!-- 물류지-wrap End -->

        </div><!-- 간편해외배송처리 End -->

    </div>
</div>

<script>
    $(document).ready(function () {
        $('.print-invoice1').hide(); // 송장노출 버튼 hide
        // 물류지 텝박스 active
        $('.logistics-tab ul li').click(function () {
            if ($(this).hasClass('disable') != true) {
                $(this).toggleClass('active');
            }
            // fastbox 버튼 active 시 fastbox on.
            if ($('.fastbox-btn').hasClass('active') == true) {
                $('.fastbox').addClass('on');
            } else {
                $('.fastbox').removeClass('on');
            }
            // 페스트박스 active 버튼 노출
            if ($('.fastbox-btn').hasClass('active') == true) {
                $('.print-invoice1').hide();
                $('.print-invoice2').show();
            } else {
                $('.print-invoice1').show();
                $('.print-invoice2').hide();
            }
        })
    })
</script>

{% endblock %}