<div class="modal-pop inspection-modal-case03" id="inspection-modal-case03">
    <div class="modal-dialog">
        <div class="modal-inner w800">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>
                        <span class="date">04/04(월)</span> 입고일 검수완료
                    </h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body inspection-modal">
                <div class="top-info mb20">
                    <ul>
                        <li>- 검수완료 시 가게별 예상 정산 금액은 다음과 같습니다.</li>
                        <li>- [검수완료] 버튼을 클릭 하시면, 선택한 가게의 검수대기 중인 품목이 최종 입고 확정됩니다.</li>
                    </ul>
                </div>
                <div class="tit">
                    가게별 정산 금액 (총 <span>33</span> 건)
                </div>
                <div class="tround-box detail-tbl detail-tbl-type02">
                    <div class="tbl-scroll-box">
                        <div class="tbl-head">
                            <table class="tbl-list-view">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 40px;">
                                            <div class="form-control check-one">
                                                <label>
                                                    <input type="checkbox" class="allChk">
                                                    <span>체크</span>
                                                </label>
                                            </div>
                                        </th>
                                        <th scope="col" style="width: auto;">입고 가게명</th>
                                        <th scope="col" style="width: auto;">입고 품목 (수량)</th>
                                        <th scope="col" style="width: auto;">총 결제금액</th>
                                        <th scope="col" style="width: auto;">매입금차감 (매입환불)</th>
                                        <th scope="col" style="width: auto;">매입금적립</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-body">
                            <table class="tbl-list-view">
                                <tbody>
                                    <tr class="tbl-gray">
                                        <td scope="col" style="width: 40px;"></td>
                                        <td scope="col" style="width: auto;"><strong>합계<strong></td>
                                        <td scope="col" style="width: auto;"><strong>291건 (352개)<strong></td>
                                        <td scope="col" style="width: auto;" class="text-ar"><strong>8,402,000 원<strong></td>
                                        <td scope="col" style="width: auto;" class="text-ar"><strong>77,000 원<strong></td>
                                        <td scope="col" style="width: auto;" class="text-ar"><strong>30,000 원<strong></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-control check-one">
                                                <label>
                                                    <input type="checkbox" class="rowChk eCheck">
                                                    <span>체크</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>mean it (민잇)</td>
                                        <td>6건 (2개)</td>
                                        <td class="text-ar">32,000 원</td>
                                        <td class="text-ar">0 원</td>
                                        <td class="text-ar">0 원</td>
                                    </tr>
                                    <tr class="tbl-gray">
                                        <td>
                                            <div class="form-control check-one">
                                                <label>
                                                    <input type="checkbox" class="rowChk eCheck">
                                                    <span>체크</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>남이</td>
                                        <td colspan="4"><span class="ftpointcolor1">검수완료 불가 (관리자 승인대기 품목 존재)</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-control check-one">
                                                <label>
                                                    <input type="checkbox" class="rowChk eCheck">
                                                    <span>체크</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>네온히치</td>
                                        <td>11건 (57개)</td>
                                        <td class="text-ar">1,744,000 원</td>
                                        <td class="text-ar">50,000 원</td>
                                        <td class="text-ar">36,000 원</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-control check-one">
                                                <label>
                                                    <input type="checkbox" class="rowChk eCheck">
                                                    <span>체크</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>뉴에이</td>
                                        <td>2건 (0개)</td>
                                        <td class="text-ar">50,000 원</td>
                                        <td class="text-ar">0 원</td>
                                        <td class="text-ar">0 원</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-control check-one">
                                                <label>
                                                    <input type="checkbox" class="rowChk eCheck">
                                                    <span>체크</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>더블제이</td>
                                        <td>1건 (0개)</td>
                                        <td class="text-ar">37,000 원</td>
                                        <td class="text-ar">0 원</td>
                                        <td class="text-ar">0 원</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-control check-one">
                                                <label>
                                                    <input type="checkbox" class="rowChk eCheck">
                                                    <span>체크</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>딜라잇</td>
                                        <td>1건 (2개)</td>
                                        <td class="text-ar">115,000 원</td>
                                        <td class="text-ar">0 원</td>
                                        <td class="text-ar">0 원</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-control check-one">
                                                <label>
                                                    <input type="checkbox" class="rowChk eCheck">
                                                    <span>체크</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>러브미모어</td>
                                        <td>3건 (2개)</td>
                                        <td class="text-ar">125,000 원</td>
                                        <td class="text-ar">0 원</td>
                                        <td class="text-ar">0 원</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-control check-one">
                                                <label>
                                                    <input type="checkbox" class="rowChk eCheck">
                                                    <span>체크</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>로잉</td>
                                        <td>1건 (1개)</td>
                                        <td class="text-ar">33,000 원</td>
                                        <td class="text-ar">0 원</td>
                                        <td class="text-ar">0 원</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-control check-one">
                                                <label>
                                                    <input type="checkbox" class="rowChk eCheck">
                                                    <span>체크</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>브론즈베리</td>
                                        <td>5건 (4개)</td>
                                        <td class="text-ar">72,000 원</td>
                                        <td class="text-ar">0 원</td>
                                        <td class="text-ar">0 원</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-control check-one">
                                                <label>
                                                    <input type="checkbox" class="rowChk eCheck">
                                                    <span>체크</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>블랙</td>
                                        <td>12건 (108개)</td>
                                        <td class="text-ar">1,622,000 원</td>
                                        <td class="text-ar">27,000 원</td>
                                        <td class="text-ar">0 원</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="info-txt">
                    <ul>
                        <!-- 2022 08 19 text 수정 -->
                        <li>
                            * 자세한 금액 정보는 [입고상품검수 > 검수대기상품], [입고상품검수 > 검수완료내역 > 상세] 메뉴의 하단 금액을 참고해주세요.
                        </li>
                        <li>
                            * <span class="ftpointcolor1">검수완료</span> 처리된 <span class="ftpointcolor1">가게</span>에는, 해당 입고일에 <span class="ftpointcolor1">추가입고 등록이 불가능</span>하오니, 꼭 유의하시길 바랍니다.
                        </li>
                    </ul>
                </div>
                <div class="txt-box">
                    <p>
                        선택하신 가게를 검수완료 하시겠습니까?
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point">검수완료</button>	
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>