<div class="modal-pop inspection-modal-case02" id="inspection-modal-case02">
    <div class="modal-dialog">
        <div class="modal-inner w1200">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>검수대기 거래처별 정산금액 <span class="date">(MM/DD 입고)</span></h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body inspection-modal">
                <div class="top-info mb20">
                    <div class="f-left">
                        <p>매입환불 요청금액 (거래처 별 매입금 사용)</p>
                        <ul>
                            <li>- '매입환불 가능금액' 이하로 '매입환불 요청금액'을 입력해주세요.</li>
                            <li>- [김수완료] 시, 거래처 별 ‘매입 잔액’에서 입력한 ‘매입환불 요청금액’ 만큼 차감됩니다.</li>
                            <li>- 가장 과거의 입고일인 경우에만 매입 금액을 설정할 수 있습니다.</li>
                        </ul>
                        <p>‘재확인 요청’ 중인 건은 요청 전 수량 및 금액으로 집계되며, ‘재확인 승인 완료’ 시 변경된 정보가 적용되어 금액이 변경될 수 있습니다.</p>
                        <p>거래처별 정산 금액은 총 금액을 표시하고 있으며 검색이 적용되지 않습니다.</p>
                    </div>
                    <div class="btns-multi f-right">
                        <button type="button" name="button" class="btn btn-sm btn-outline-gray">
                            <i class="ico ico-excel"></i>
                            엑셀다운로드
                        </button>
                    </div>
                </div>
                <div class="tround-box detail-tbl detail-tbl-type02">
                    <div class="tbl-scroll-box">
                        <div class="tbl-head">
                            <table class="tbl-list-view">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 130px;">거래처명</th>
                                        <th scope="col" style="width: 130px;">주소</th>
                                        <th scope="col" style="width: 90px;">신규주문</th>
                                        <th scope="col" style="width: 90px;">신규입고</th>
                                        <th scope="col" style="width: 90px;">신규미송</th>
                                        <th scope="col" style="width: 90px;">샘플입고</th>
                                        <th scope="col" style="width: 90px;">반품</th>
                                        <th scope="col" style="width: 90px;">매입환불<br>가능금액</th>
                                        <th scope="col" style="width: 145px;">매입환불<br>요청금액</th>
                                        <th scope="col" style="width: 115px;">총 결제금액</th>
                                        <th scope="col" style="width: 90px;">매입금<br>적립금액</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-body">
                            <table class="tbl-list-view">
                                <tbody>
                                    <tr class="tbl-gray">
                                        <td scope="col" style="width: 130px;"></td>
                                        <td scope="col" style="width: 130px;"><strong>합계<strong></td>
                                        <td scope="col" style="width: 90px;" class="text-ar"><strong>16,773,000<strong></td>
                                        <td scope="col" style="width: 90px;" class="text-ar"><strong>7,728,000<strong></td>
                                        <td scope="col" style="width: 90px;" class="text-ar"><strong>1,251,000<strong></td>
                                        <td scope="col" style="width: 90px;" class="text-ar"><strong>1,251,000<strong></td>
                                        <td scope="col" style="width: 90px;" class="text-ar"><strong>340,000<strong></td>
                                        <td scope="col" style="width: 90px;" class="text-ar"><strong>80,000<strong></td>
                                        <td scope="col" style="width: 145px;" class="text-ar"><strong>50,000<strong></td>
                                        <td scope="col" style="width: 115px;" class="text-ar"><strong>8,639,000<strong></td>
                                        <td scope="col" style="width: 90px;" class="text-ar"><strong>50,000<strong></td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">mean it (민잇)</td>
                                        <td class="text-al">디오트<br>B1층 E열 12-1호</td>
                                        <td class="text-ar">32,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">18,000</td>
                                        <td class="text-ar">18,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">18,000</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">남이</td>
                                        <td class="text-al">디오트<br>4층 B열 24호</td>
                                        <td class="text-ar">65,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">네온히치</td>
                                        <td class="text-al">디오트<br>4층 F열 10호</td>
                                        <td class="text-ar">1,744,000</td>
                                        <td class="text-ar">6,752,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">120,000</td>
                                        <td class="text-ar">50,000</td>
                                        <td class="text-ar">
                                            <div class="btn-switch">
                                                <label>
                                                    <input type="checkbox" checked>
                                                    <div class="slider"></div>
                                                </label>
                                            </div>
                                            <input type="text" value="50,000"> 원 
                                            <button type="button" class="memo-btn" onclick="targetModalPopup('purchase-refund-modal')">
                                                <i class="ico-easy-pick ico-memo-on"></i>
                                            </button>
                                        </td>
                                        <td class="text-ar">6,582,000</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">네온히치</td>
                                        <td class="text-al">디오트<br>4층 F열 10호</td>
                                        <td class="text-ar">50,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">50,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">
                                            0
                                            <span class="txt1">
                                                (=합계 -50,000<br>
                                                + 매입금적립반영<br>
                                                50,000원)<br>
                                            </span>
                                        </td>
                                        <td class="text-ar">50,000</td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">네온히치</td>
                                        <td class="text-al">디오트<br>4층 F열 10호</td>
                                        <td class="text-ar">37,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">54,000</td>
                                        <td class="text-ar">54,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">54,000</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">네온히치</td>
                                        <td class="text-al">디오트<br>4층 F열 10호</td>
                                        <td class="text-ar">115,000</td>
                                        <td class="text-ar">133,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">100,000</td>
                                        <td class="text-ar">30,000</td>
                                        <td class="text-ar">
                                            <div class="btn-switch">
                                                <label>
                                                    <input type="checkbox">
                                                    <div class="slider"></div>
                                                </label>
                                            </div>
                                            <input type="text" value="0"> 원
                                            <button type="button" class="memo-btn" onclick="targetModalPopup('purchase-refund-modal')">
                                                <i class="ico-easy-pick ico-memo-off"></i>
                                            </button>
                                        </td>
                                        <td class="text-ar">33,000</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">네온히치</td>
                                        <td class="text-al">디오트<br>4층 F열 10호</td>
                                        <td class="text-ar">125,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">156,000</td>
                                        <td class="text-ar">156,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">156,000</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">코이</td>
                                        <td class="text-al">뉴존<br>B1층 404호</td>
                                        <td class="text-ar">90,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-outline-gray">초기화</button>	
                    <button type="button" name="button" class="btn btn-lg btn-point">저장</button>	
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">닫기</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>