<div class="modal-pop inspection-modal-case01" id="inspection-modal-case01">
    <div class="modal-dialog">
        <div class="modal-inner w1200">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>검수완료 거래처별 정산금액 <span class="date">(MM/DD 입고)</span></h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body inspection-modal">
                <div class="top-info mb20">
                    <div class="f-left dflex align-center">
                        <span class="" style="font-weight: 500;">거래처별 정산 금액은 총 금액을 표시하고 있으며 검색이 적용되지 않습니다.</span>
                    </div>
                    <div class="btns-multi f-right">
                        <button type="button" name="button" class="btn btn-sm btn-outline-gray">
                            <i class="ico ico-excel"></i>
                            엑셀다운로드
                        </button>
                    </div>
                </div>
                <div class="tround-box detail-tbl detail-tbl-type02">
                    <div class="tbl-scroll-box">
                        <div class="tbl-head">
                            <table class="tbl-list-view">
                                <thead>
                                    <tr>
                                        <th>거래처명</th>
                                        <th>주소</th>
                                        <th>신규주문</th>
                                        <th>신규입고</th>
                                        <th>신규미송</th>
                                        <th>샘플입고</th>
                                        <th>반품</th>
                                        <th>매입환불<br>사용금액</th>
                                        <th>총 결제금액</th>
                                        <th>매입금<br>적립금액</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-body">
                            <table class="tbl-list-view">
                                <tbody>
                                    <tr class="tbl-gray">
                                        <td></td>
                                        <td><strong>합계<strong></td>
                                        <td class="text-ar"><strong>16,773,000<strong></td>
                                        <td class="text-ar"><strong>7,728,000<strong></td>
                                        <td class="text-ar"><strong>1,251,000<strong></td>
                                        <td class="text-ar"><strong>1,251,000<strong></td>
                                        <td class="text-ar"><strong>340,000<strong></td>
                                        <td class="text-ar"><strong>80,000<strong></td>
                                        <td class="text-ar"><strong>8,639,000<strong></td>
                                        <td class="text-ar"><strong>50,000<strong></td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">mean it (민잇)</td>
                                        <td class="text-al">디오트<br>B1층 E열 12-1호</td>
                                        <td class="text-ar">32,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">18,000</td>
                                        <td class="text-ar">18,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">18,000</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">남이</td>
                                        <td class="text-al">디오트<br>4층 B열 24호</td>
                                        <td class="text-ar">65,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">네온히치</td>
                                        <td class="text-al">디오트<br>4층 F열 10호</td>
                                        <td class="text-ar">1,744,000</td>
                                        <td class="text-ar">6,752,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">120,000</td>
                                        <td class="text-ar">
                                            <span>50,000</span> 원 
                                            <button type="button" class="memo-btn" onclick="targetModalPopup('purchase-refund-modal')">
                                                <i class="ico-easy-pick ico-memo-on"></i>
                                            </button>
                                        </td>
                                        <td class="text-ar">6,582,000</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">네온히치</td>
                                        <td class="text-al">디오트<br>4층 F열 10호</td>
                                        <td class="text-ar">50,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">50,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">
                                            0
                                            <span class="txt1">
                                                (=합계 -50,000<br>
                                                + 매입금적립반영<br>
                                                50,000원)<br>
                                            </span>
                                        </td>
                                        <td class="text-ar">50,000</td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">네온히치</td>
                                        <td class="text-al">디오트<br>4층 F열 10호</td>
                                        <td class="text-ar">37,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">54,000</td>
                                        <td class="text-ar">54,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">54,000</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">네온히치</td>
                                        <td class="text-al">디오트<br>4층 F열 10호</td>
                                        <td class="text-ar">115,000</td>
                                        <td class="text-ar">133,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">100,000</td>
                                        <td class="text-ar">
                                            <span>50,000</span> 원 
                                            <button type="button" class="memo-btn" onclick="targetModalPopup('purchase-refund-modal')">
                                                <i class="ico-easy-pick ico-memo-off"></i>
                                            </button>
                                        </td>
                                        <td class="text-ar">33,000</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">네온히치</td>
                                        <td class="text-al">디오트<br>4층 F열 10호</td>
                                        <td class="text-ar">125,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">156,000</td>
                                        <td class="text-ar">156,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">156,000</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-al">코이</td>
                                        <td class="text-al">뉴존<br>B1층 404호</td>
                                        <td class="text-ar">90,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">닫기</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

