<div id="mk-header" class="mk-header">
  <h1 class="mk-header-logo">
    <a href="../index.html">
      <span class="header-logo-title">마켓플러스</span>
    </a>
  </h1>
  <div class="mk-header-gnb">
    <h2 class="blind">주요 메뉴</h2>
    <ul class="mk-gnb">
      <li class="">
        <a href="#" class="btnNviLink" data-link="">&nbsp;기본&nbsp;</a>
        <div class="mk-gnb-submenu">
          <dl>
            <dt>계정관리</dt>
            <dd>
              <a href="#">마켓계정관리</a>
              <a href="#" data-url="/mp/account/front/lists" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
          <dl>
            <dt>거래처관리</dt>
            <dd>
              <a href="#">공급사관리</a>
              <a href="#" data-url="/ec/sales/supplierList" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">배송업체관리</a>
              <a href="#" data-url="/ec/sales/shippingInfo" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
          <dl>
            <dt>편의기능</dt>
            <dd>
              <a href="#">템플릿</a>
              <a href="#" data-url="/mp/template/front/lists" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">전송세트</a>
              <a href="#" data-url="/mp/oneclick/front/lists" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
          <dl>
            <dt>부가기능</dt>
            <dd>
              <a href="#">이미지호스팅</a>
              <a href="#" data-url="/mp/openhost/front/service" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">재고관리</a>
              <a href="##" data-url="/mp/wms/front/service" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">택배연동</a>
              <a href="#" data-url="/mp/wms/front/express" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
          <dl>
            <dt>설정</dt>
            <dd>
              <a href="#">공통설정</a>
              <a href="#" data-url="/mp/account/front/config" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">자동화서비스</a>
              <a href="#" data-url="/mp/order/front/crawlSchedule" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">재고배분설정</a>
              <a href="##" data-url="/mp/router/wms/settings/broadcasting/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">재고운영설정</a>
              <a href="#" data-url="/mp/router/wms/settings/config/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">재고권한설정</a>
              <a href="#" data-url="/mp/router/wms/settings/permission/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
        </div>
      </li>
      <li class="">
        <a href="#" class="btnNviLink" data-link="">상품</a>
        <div class="mk-gnb-submenu">
          <dl>
            <dt>상품관리</dt>
            <dd>
              <a href="#">상품등록</a>
              <a href="#" data-url="/mp/product/front/ecRegister" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">마켓으로보내기</a>
              <a href="#" data-url="/mp/product/front/noSale" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">일괄보내기</a>
              <a href="#" data-url="/mp/product/front/noSaleAll" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">마켓상품관리</a>
              <a href="#" data-url="/mp/product/front/manageList" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">마켓상품가져오기</a>
              <a href="#" data-url="/mp/product/front/import" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">상품매칭하기</a>
              <a href="#" data-url="/mp/product/front/unmatch" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
        </div>
      </li>
      <li class="">
        <a href="#" class="btnNviLink" data-link="">재고</a>
        <div class="mk-gnb-submenu">
          <dl>
            <dt>재고관리</dt>
            <dd>
              <a href="#">재고목록</a>
              <a href="#" data-url="/mp/router/wms/stock/manage/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">재고상품목록</a>
              <a href="#" data-url="/mp/router/wms/product/manage/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">재고매칭관리</a>
              <a href="#" data-url="/mp/router/wms/product/match/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">사은품관리</a>
              <a href="#" data-url="/mp/router/wms/product/benefit/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">로케이션관리</a>
              <a href="#" data-url="/mp/router/wms/stock/location/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
          <dl>
            <dt>입출고관리</dt>
            <dd>
              <a href="#">입출고목록</a>
              <a href="#" data-url="/mp/router/wms/stock/inout/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">입고관리</a>
              <a href="#" data-url="/mp/router/wms/stock/in/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">출고관리</a>
              <a href="#" data-url="/mp/router/wms/stock/out/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">재고조사</a>
              <a href="#" data-url="/mp/router/wms/stock/research/statement/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
          <dl>
            <dt>공급사요청</dt>
            <dd>
              <a href="#">발주요청</a>
              <a href="#" data-url="/mp/router/wms/stock/supplier/request/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">발주관리</a>
              <a href="#" data-url="/mp/router/wms/stock/supplier/request/front/statement" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">발주목록</a>
              <a href="#" data-url="/mp/router/wms/stock/supplier/request/front/item" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
        </div>
      </li>
      <li class="">
        <a href="#" class="btnNviLink" data-link="">주문</a>
        <div class="mk-gnb-submenu">
          <dl>
            <dt>주문관리</dt>
            <dd>
              <a href="#">전체주문목록</a>
              <a href="#" data-url="//wmsplus07.cafe24.com/admin/php/shop1/s_new/order_list.php" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">배송관리</a>
              <a href="#" data-url="//wmsplus07.cafe24.com/admin/php/shop1/s/payment_list.php" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">취소/교환/반품/환불</a>
              <a href="#" data-url="//wmsplus07.cafe24.com/admin/php/shop1/s_new/order_cancel_market.php" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">해외배송처리</a>
              <a href="#" data-url="/mp/order/front/foreignShipping" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
          <dl>
            <dt>통합주문관리</dt>
            <dd>
              <a href="#">통합주문목록</a>
              <a href="#" data-url="/mp/router/wms/order/stock/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">간편주문처리</a>
              <a href="#" data-url="/mp/router/wms/order/stock/front/simple" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">개별주문처리</a>
              <a href="#" data-url="/mp/router/wms/order/stock/front/regist" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">송장내역관리</a>
              <a href="#" data-url="/mp/router/wms/invoice/print/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
          <dl>
            <dt>통합CS관리</dt>
            <dd><a href="#"
                onclick="oMenu.openPopupWms(&#39;/mp/router/wms/cs/manage/front/list&#39;,&#39;wms_cs_manage&#39;,&#39;width=1600,height=1200,left=0,top=0,resizable=yes,menubar=no,status=no,scrollbars=yes&#39;);">고객CS관리</a></dd>
            <dd>
              <a href="#">CS내역관리</a>
              <a href="#" data-url="/mp/router/wms/cs/manage/memo/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">수거/회수관리</a>
              <a href="#" data-url="/mp/router/wms/cs/return/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">메시지전송</a>
              <a href="#" data-url="/mp/router/wms/message/send/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
        </div>
      </li>
      <li class="">
        <a href="#" class="btnNviLink" data-link="">게시글</a>
        <div class="mk-gnb-submenu">
          <dl>
            <dt>마켓게시글</dt>
            <dd>
              <a href="#">공지사항</a>
              <a href="#" data-url="/mp/board/notice/front/lists" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">문의사항</a>
              <a href="#" data-url="/mp/board/qna/front/lists" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">긴급메시지</a>
              <a href="#" data-url="/mp/board/emergency/front/lists" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">구매후기</a>
              <a href="#" data-url="/mp/board/review/front/lists" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
        </div>
      </li>
      <li class="">
        <a href="#" class="btnNviLink" data-link="">통계</a>
        <div class="mk-gnb-submenu">
          <dl>
            <dt>현황통계</dt>
            <dd>
              <a href="#">매출분석</a>
              <a href="#" data-url="/ec/report/dailylist" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">상품분석</a>
              <a href="#" data-url="/ec/report/productPrdchart" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
          <dl>
            <dt>재고통계</dt>
            <dd>
              <a href="#">매출현황</a>
              <a href="#" data-url="/mp/router/wms/stats/stock/front/status" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">매출베스트</a>
              <a href="#" data-url="/mp/router/wms/stats/stock/front/best" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">매출통계</a>
              <a href="#" data-url="/mp/router/wms/stats/stock/front/sales" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">판매처통계</a>
              <a href="#" data-url="/mp/router/wms/stats/stock/front/seller" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">상품옵션통계</a>
              <a href="#" data-url="/mp/router/wms/stats/stock/front/product" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">입출고통계</a>
              <a href="#" data-url="/mp/router/wms/stats/stock/front/inout" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">배송현황</a>
              <a href="#" data-url="/mp/router/wms/stats/stock/front/delivery" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
        </div>
      </li>
      <li class="">
        <a href="#" class="btnNviLink" data-link="">이력</a>
        <div class="mk-gnb-submenu">
          <dl>
            <dt>이력조회</dt>
            <dd>
              <a href="#">상품관리이력</a>
              <a href="#" data-url="/mp/queue/front/productList" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">주문수집이력</a>
              <a href="#" data-url="/mp/queue/front/crawlList" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">주문처리이력</a>
              <a href="#" data-url="/mp/queue/front/orderList" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">게시글관리이력</a>
              <a href="#" data-url="/mp/queue/front/boardList" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">재고전송이력</a>
              <a href="#" data-url="/mp/queue/front/wmsbcMarketSendHistory" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
            <dd>
              <a href="#">재고관리이력</a>
              <a href="#" data-url="/mp/router/wms/util/log/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
            </dd>
          </dl>
        </div>
      </li>
      <li class="mk-gnb-all">
        <a href="#" class="btnNviLink" data-link="ALL">전체</a>
        <div class="mk-gnb-sitemap">
          <h2 class="blind">전체 메뉴</h2>
          <div class="mk-sitemap-item">
            <h3 class="mk-sitemap-title">&nbsp;기본&nbsp;</h3>
            <dl>
              <dt>계정관리</dt>
              <dd>
                <a href="#">마켓계정관리</a>
                <a href="#" data-url="/mp/account/front/lists" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
            <dl>
              <dt>거래처관리</dt>
              <dd>
                <a href="#">공급사관리</a>
                <a href="#" data-url="/ec/sales/supplierList" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">배송업체관리</a>
                <a href="#" data-url="/ec/sales/shippingInfo" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
            <dl>
              <dt>편의기능</dt>
              <dd>
                <a href="#">템플릿</a>
                <a href="#" data-url="/mp/template/front/lists" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">전송세트</a>
                <a href="#" data-url="/mp/oneclick/front/lists" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
            <dl>
              <dt>부가기능</dt>
              <dd>
                <a href="#">이미지호스팅</a>
                <a href="#" data-url="/mp/openhost/front/service" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">재고관리</a>
                <a href="#" data-url="/mp/wms/front/service" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">택배연동</a>
                <a href="#" data-url="/mp/wms/front/express" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
            <dl>
              <dt>설정</dt>
              <dd>
                <a href="#">공통설정</a>
                <a href="#" data-url="/mp/account/front/config" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">자동화서비스</a>
                <a href="#" data-url="/mp/order/front/crawlSchedule" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">재고배분설정</a>
                <a href="#" data-url="/mp/router/wms/settings/broadcasting/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">재고운영설정</a>
                <a href="#" data-url="/mp/router/wms/settings/config/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">재고권한설정</a>
                <a href="#" data-url="/mp/router/wms/settings/permission/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
          </div>
          <div class="mk-sitemap-item">
            <h3 class="mk-sitemap-title">상품</h3>
            <dl>
              <dt>상품관리</dt>
              <dd>
                <a href="#">상품등록</a>
                <a href="#" data-url="/mp/product/front/ecRegister" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">마켓으로보내기</a>
                <a href="#" data-url="/mp/product/front/noSale" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">일괄보내기</a>
                <a href="#" data-url="/mp/product/front/noSaleAll" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">마켓상품관리</a>
                <a href="#" data-url="/mp/product/front/manageList" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">마켓상품가져오기</a>
                <a href="#" data-url="/mp/product/front/import" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">상품매칭하기</a>
                <a href="#" data-url="/mp/product/front/unmatch" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
          </div>
          <div class="mk-sitemap-item">
            <h3 class="mk-sitemap-title">재고</h3>
            <dl>
              <dt>재고관리</dt>
              <dd>
                <a href="#">재고목록</a>
                <a href="#" data-url="/mp/router/wms/stock/manage/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">재고상품목록</a>
                <a href="#" data-url="/mp/router/wms/product/manage/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">재고매칭관리</a>
                <a href="#" data-url="/mp/router/wms/product/match/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">사은품관리</a>
                <a href="#" data-url="/mp/router/wms/product/benefit/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">로케이션관리</a>
                <a href="#" data-url="/mp/router/wms/stock/location/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
            <dl>
              <dt>입출고관리</dt>
              <dd>
                <a href="#">입출고목록</a>
                <a href="#" data-url="/mp/router/wms/stock/inout/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">입고관리</a>
                <a href="#" data-url="/mp/router/wms/stock/in/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">출고관리</a>
                <a href="#" data-url="/mp/router/wms/stock/out/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">재고조사</a>
                <a href="#" data-url="/mp/router/wms/stock/research/statement/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
            <dl>
              <dt>공급사요청</dt>
              <dd>
                <a href="#">발주요청</a>
                <a href="#" data-url="/mp/router/wms/stock/supplier/request/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">발주관리</a>
                <a href="#" data-url="/mp/router/wms/stock/supplier/request/front/statement" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">발주목록</a>
                <a href="#" data-url="/mp/router/wms/stock/supplier/request/front/item" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
          </div>
          <div class="mk-sitemap-item">
            <h3 class="mk-sitemap-title">주문</h3>
            <dl>
              <dt>주문관리</dt>
              <dd>
                <a href="#">전체주문목록</a>
                <a href="#" data-url="//wmsplus07.cafe24.com/admin/php/shop1/s_new/order_list.php" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">배송관리</a>
                <a href="#" data-url="//wmsplus07.cafe24.com/admin/php/shop1/s/payment_list.php" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">취소/교환/반품/환불</a>
                <a href="#" data-url="//wmsplus07.cafe24.com/admin/php/shop1/s_new/order_cancel_market.php" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">해외배송처리</a>
                <a href="#" data-url="/mp/order/front/foreignShipping" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
            <dl>
              <dt>통합주문관리</dt>
              <dd>
                <a href="#">통합주문목록</a>
                <a href="#" data-url="/mp/router/wms/order/stock/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">간편주문처리</a>
                <a href="#" data-url="/mp/router/wms/order/stock/front/simple" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">개별주문처리</a>
                <a href="#" data-url="/mp/router/wms/order/stock/front/regist" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">송장내역관리</a>
                <a href="#" data-url="/mp/router/wms/invoice/print/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
            <dl>
              <dt>통합CS관리</dt>
              <dd>
                <a href="#"
                  onclick="oMenu.openPopupWms(&#39;/mp/router/wms/cs/manage/front/list&#39;,&#39;wms_cs_manage&#39;,&#39;width=1600,height=1200,left=0,top=0,resizable=yes,menubar=no,status=no,scrollbars=yes&#39;);">고객CS관리</a>
              </dd>
              <dd>
                <a href="#">CS내역관리</a>
                <a href="#" data-url="/mp/router/wms/cs/manage/memo/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">수거/회수관리</a>
                <a href="#" data-url="/mp/router/wms/cs/return/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">메시지전송</a>
                <a href="#" data-url="/mp/router/wms/message/send/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
          </div>
          <div class="mk-sitemap-item">
            <h3 class="mk-sitemap-title">게시글</h3>
            <dl>
              <dt>마켓게시글</dt>
              <dd>
                <a href="#">공지사항</a>
                <a href="#" data-url="/mp/board/notice/front/lists" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">문의사항</a>
                <a href="#" data-url="/mp/board/qna/front/lists" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">긴급메시지</a>
                <a href="#" data-url="/mp/board/emergency/front/lists" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">구매후기</a>
                <a href="#" data-url="/mp/board/review/front/lists" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
          </div>
          <div class="mk-sitemap-item">
            <h3 class="mk-sitemap-title">통계</h3>
            <dl>
              <dt>현황통계</dt>
              <dd>
                <a href="#">매출분석</a>
                <a href="#" data-url="/ec/report/dailylist" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">상품분석</a>
                <a href="#" data-url="/ec/report/productPrdchart" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
            <dl>
              <dt>재고통계</dt>
              <dd>
                <a href="#">매출현황</a>
                <a href="#" data-url="/mp/router/wms/stats/stock/front/status" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">매출베스트</a>
                <a href="#" data-url="/mp/router/wms/stats/stock/front/best" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">매출통계</a>
                <a href="#" data-url="/mp/router/wms/stats/stock/front/sales" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">판매처통계</a>
                <a href="#" data-url="/mp/router/wms/stats/stock/front/seller" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">상품옵션통계</a>
                <a href="#" data-url="/mp/router/wms/stats/stock/front/product" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">입출고통계</a>
                <a href="#" data-url="/mp/router/wms/stats/stock/front/inout" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">배송현황</a>
                <a href="#" data-url="/mp/router/wms/stats/stock/front/delivery" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
          </div>
          <div class="mk-sitemap-item">
            <h3 class="mk-sitemap-title">이력</h3>
            <dl>
              <dt>이력조회</dt>
              <dd>
                <a href="#">상품관리이력</a>
                <a href="#" data-url="/mp/queue/front/productList" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">주문수집이력</a>
                <a href="#" data-url="/mp/queue/front/crawlList" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">주문처리이력</a>
                <a href="#" data-url="/mp/queue/front/orderList" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">게시글관리이력</a>
                <a href="#" data-url="/mp/queue/front/boardList" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">재고전송이력</a>
                <a href="#" data-url="/mp/queue/front/wmsbcMarketSendHistory" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
              <dd>
                <a href="#">재고관리이력</a>
                <a href="#" data-url="/mp/router/wms/util/log/front/list" class="lnk-newtab" rel="noopener"><span class="sp-image">새창으로 열기</span></a>
              </dd>
            </dl>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="mk-header-func">
    <div class="mk-header-func-item">
      <button type="button" class="mkbtn-func-basic mkbtn-func-ez">
        <span>QUICK</span>
      </button>
      <div class="mk-func-ezmenu">
        <ul>
          <li><a href="#">고객CS</a></li>
          <li><a href="#">입출고</a></li>
          <li><a href="#">간편처리</a></li>
          <li><a href="#">배송처리</a></li>
        </ul>
      </div>
    </div>
    <div class="mk-header-func-item">
      <a href="#" class="mkbtn-func-basic btnShopManage">
        <span>쇼핑몰관리자</span>
      </a>
    </div>
    <div class="mk-header-func-item">
      <a href="#" class="mkbtn-func-basic btnFaqOpen" title="새창열림">
        <span>Help Center</span>
      </a>
    </div>
    <div class="mk-header-func-item">
      <button class="mkbtn-image mkbtn-func-window btnBrowserClone" title="현재 화면 새창에서 열기"><span class="sp-image">현재 창 복사</span></button>
    </div>
    <div class="mk-header-func-item">
      <button type="button" class="mkbtn-image mkbtn-func-more"><span class="sp-image">더보기</span></button>
      <div class="mk-func-submenu">
        <ul>
          <li>
            <a href="#" class="btnHeaderSubMenu" data-link_type="notice">공지사항</a>
          </li>
          <li>
            <a href="#" class="btnHeaderSubMenu" data-link_type="qna">1:1 문의</a>
          </li>
          <li>
            <a href="#" class="btnHeaderSubMenu" data-link_type="guide">이용가이드</a>
          </li>
          <li>
            <a href="#" class="btnHeaderSubMenu" data-link_type="manual">매뉴얼</a>
          </li>
          <li>
            <a href="#" class="btnHeaderSubMenu" data-link_type="mpSite">마켓플러스</a>
          </li>
          <li>
            <a href="#" class="btnHeaderSubMenu" data-link_type="logout">로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
