<!-- 2022-11-11 EZP-7385 실서버와 nav 구조 동일하게 변경 -->
<div class="mk-snb-menu">
	<ul class="deps-nav">
		<li>
  		이지픽사입하기
  		<div class="mk-snb-submenu">
  			<ul>
          <!-- 2022-10-06 EZP-7004 맞춤상품 <-> 전체상품 위치변경 -->
          <li class="active">
              <a href="../sub/index.html">전체상품보기</a>
          </li>
          <li>
              <a href="../main/index.html">맞춤상품추천</a>
          </li>
          <li>
              <a href="../direct-order/direct-order-case01-1.html">바로주문</a>
          </li>
          <li>
              <a href="../mypick/index.html">마이픽관리</a>
          </li>
  			</ul>
  		</div>
		</li>
		<li>
  		사입내역조회
  		<div class="mk-snb-submenu">
  			<ul>
          <li>
              <a href="../buy/index.html">주문내역</a>
          </li>
          <li>
              <a href="../buy-sell-pick/index.html">셀픽주문내역</a>
          </li>
          <li>
              <a href="../buy-undeliver/index.html">미송/환불내역</a>
          </li>
          <li>
              <a href="../buy-sample/index.html">샘플/제작/불량관리</a>
          </li>
  			</ul>
  		</div>
		</li>
		<li>
  		입고상품검수
  		<div class="mk-snb-submenu">
  			<ul>
          <li>
              <a href="../stock/index.html">오늘입고상품</a>
          </li>
          <li>
              <a href="../inspection/index.html">검수대기상품</a>
          </li>
          <li>
              <a href="../inspection/inspection-complete.html">검수완료내역</a>
          </li>
          <li>
              <a href="../stock-matching/index.html">입고상품매칭</a>
          </li>
          <li>
              <a href="../repeat-confirm/index.html">재확인요청관리</a>
          </li>
  			</ul>
  		</div>
		</li>
    <li>
    정산관리
    <div class="mk-snb-submenu">
        <ul>
        <li>
            <a href="../account/account-list.html">정산내역</a>
        </li>
        <li>
            <a href="../shop-purchase-point/shop-purchase-index.html">가게매입금관리</a>
        </li>
        <li>
            <a href="../shop-purchase-point/point-money-history.html">적립금내역</a>
        </li>
        </ul>
    </div>
    </li>
    <li>
    설정
    <div class="mk-snb-submenu">
        <ul>
        <li>
            <a href="../easypick-setting/setting-easypickinfo-case1-1.html">이지픽 설정</a>
        </li>
        </ul>
    </div>
    </li>
	</ul>
    <!-- 2022-11-11 EZP-7385 layout.njk로 이동
    <div class="state-nav">
        <div class="top-msg">
            <dl>
                <dt>이지픽 고객센터</dt>
                <dd>
                    <a href="tel:02-6296-8794">02-6296-8794</a>
                </dd>
            </dl>
        </div>
        <div class="bottom-msg">
            <p>주중 10:00 ~ 18:00</p>
            <p>점심 12:30 ~ 13:30</p>
            <p>(토, 일, 공휴일 휴무)</p>
            <a href="javascript:void(0);" onclick="targetModalPopup('modal-navigation')">[사업자 정보 확인]</a>
        </div>
        -->
        <!-- 2022-09-22 EZP-6951 -->
        <!-- 이지픽 바로가기 -->
        <!-- 2022-11-11 EZP-7385 layout.njk로 이동
        <div class="easypick-link-wrap nav-inner-type">
            <a href="#" class="easypick-btn"><i><img src="../../img/easypick_logo_white.svg"></i>바로가기</a>
        </div>
        -->
        <!-- 이지픽 바로가기 -->
        <!-- 2022-11-11 EZP-7385 layout.njk로 이동
        <ul class="service-link-wrap">
            <li>
                <a href="../sub/service-index.html">
                    <i class="intro"></i>
                    <span>이지픽<br />서비스소개</span>
                </a>
            </li>
            <li>
                <a href="../sub/service-index.html">
                    <i class="serivce"></i>
                    <span>서비스<br />상담신청</span>
                </a>
            </li>
        </ul>
        <p class="easypick-notice">
            <a href="../service-info/notice-list.html">이지픽 공지사항</a>
            <i></i>
        </p>
        <p class="copyright">
            Copyright ⓒ EasyPick. <br />
            All Rights Reserved.
        </p>
    </div>
    -->
</div>

  <!-- modal-->
<div class="modal-pop" id="modal-navigation">
  <div class="modal-dialog">
    <div class="modal-inner w800">
      <section class="modal-head">
        <div class="modal-head-inner">
          <h1>사업자 정보 확인</h1>
          <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
        </div>
      </section>
      <div class="modal-body modal-pn">

        <div class="businessinfo-table-wrap">
            <a href="#" class="info-check">공정거래위원회 사업자 정보 확인은 여기를 클릭해 주세요.</a>
            <table class="tbl-register-row">
                <colgroup>
                <col style="width:160px;">
                <col style="width:auto;">
                </colgroup>
                <tbody>
                <tr>
                    <th>회사명</th>
                    <td>제이씨어패럴(주)</td>
                </tr>
                <tr>
                    <th>대표자</th>
                    <td>정문섭</td>
                </tr>
                <tr>
                    <th>사업자등록번호</th>
                    <td>204-86-42339</td>
                </tr>
                <tr>
                    <th>통신판매업신고</th>
                    <td>제2016-서울동대문-1326호</td>
                </tr>
                <tr>
                    <th>개인정보보호책임자</th>
                    <td>김용해</td>
                </tr>
                <tr>
                    <th>사업장주소</th>
                    <td>서울특별시 동대문구 천호대로17길 6 (용두동) 제이씨어패럴빌딩</td>
                </tr>
                <tr>
                    <th>대표번호</th>
                    <td>02-6296-8794</td>
                </tr>
                <tr>
                    <th>팩스번호</th>
                    <td>02-929-4332</td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>jcapparel@jcapparel.co.kr</td>
                </tr>
                </tbody>
            </table>
        </div>

      </div>
      <!--//modal-body-->
      <div class="modal-footer">
        <div class="modal-footer-btn">
          <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">닫기</button>
        </div>
      </div>
      <a href="javascript:void(0);" class="page-close"></a>
    </div>
    <div class="dim"></div>
  </div>
  <!--//-->
</div>
