<div class="pageination-wrap">
    <div class="pagination renewal">
      <a href="#" class="first">처음</a>
      <a href="#" class="prev">이전</a>
      <input type="number" value="1" class="active">
      <span class="slash"></span>
      <span class="total-page">15</span>
      <a href="#" class="next">다음</a>
      <a href="#" class="last">마지막</a>
    </div>
</div>
