<div class="modal-pop modal-stock-change-date" id="modal-stock-change-date">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>입고일 변경</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body hgauto">

                <div class="easy-pick-popup-info">
                  <ul>
                    <li>
                    - 입고일 변경 저장 시 즉시 적용됩니다.
                    </li>
                </div>

                <table class="tbl-register-row">
                    <colgroup>
                        <col style="width:130px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <th class="p-t-20 p-b-20">입고일</th>
                        <td>
                            <div class="form-inline">
                                <span class="easy-pick-text blue m-r-5 p-l-20 p-r-10"><strong>변경날짜</strong></span>
                                <div class="calendar-box">
                                    <div class="form-inline">
                                        <div class="form-control">
                                            <input type="text" class="cal-input" value="2019-04-01" data-range="cal05">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>


<!-- 2022-12-09 EZP-6764 주문결제 발주일 변경 팝업 -->
<div class="modal-pop modal-order-change-date" id="modal-order-change-date1">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>발주일 변경</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body hgauto">

                <div class="easy-pick-popup-info m-b-10">
                  <ul>
                    <li class="dot">설정된 날짜에 발주서가 생성됩니다.</li>
                    <li class="dot">발주일은 <strong>'당일+1일'</strong>부터 설정이 가능합니다.</li>
                    <li class="dot">쇼핑몰 또는 이지픽이 휴일인 경우 해당 날짜는 선택이 불가합니다.</li>
                </div>

                <table class="tbl-register-row">
                    <colgroup>
                        <col style="width:130px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <th class="p-t-20 p-b-20">발주일 변경</th>
                        <td>
                            <div class="form-inline center">
                                <div class="calendar-box">
                                    <div class="form-inline">
                                        <div class="form-control">
                                            <input type="text" class="cal-input" value="2019-04-01" data-range="cal05">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<!-- 2022-12-09 EZP-6764 주문결제 발주일 변경 팝업 -->
<div class="modal-pop modal-order-change-date" id="modal-order-change-date2">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>발주일 변경</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body hgauto">

                <div class="easy-pick-popup-info m-b-10">
                  <ul>
                    <li class="dot">현재 설정된 발주일은 <strong class="ftpointcolor1">2022-09-30</strong>일 입니다.</li>
                    <li class="dot">발주일은 <strong>'당일+1일'</strong>부터 설정이 가능합니다.</li>
                     <li class="dot">발주일 변경 저장 시 즉시 적용되며, 설정된 날짜에 발주서가 생성됩니다.</li>
                    <li class="dot">쇼핑몰 또는 이지픽이 휴일인 경우 해당 날짜는 선택할 수 없습니다.</li>
                </div>

                <table class="tbl-register-row">
                    <colgroup>
                        <col style="width:130px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <th class="p-t-20 p-b-20">발주일 변경</th>
                        <td>
                            <div class="form-inline center">
                                <div class="calendar-box">
                                    <div class="form-inline">
                                        <div class="form-control">
                                            <input type="text" class="cal-input" value="2019-04-01" data-range="cal05">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>



<!-- 2023-02-09 EZP-6948 입고예정일 연동 -->
<!-- 입고예정일 설정 popup -->
<div class="modal-pop modal-today-expected-date" id="modal-today-expected-date">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>입고예정일 설정</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body hgauto">

                <div class="easy-pick-popup-info">
                  <p>쇼핑몰에 표시할 입고예정일을 설정해주세요.</p>
                </div>

                <div class="easy-pick-modal-type-wrapper m-t-10  m-b-5">
                  <ul class="types add-radio-wrap item4">
                    <li>
                        <div class="calendar-box">
                            <div class="form-inline">
                              <div class="form-control">
                                <input type="text" class="cal-input" value="2022-03-13" data-range="cal01">
                              </div>
                            </div>
                        </div>
                    </li>
                    <li>
                      <input class="check-type" type="radio" id="type-1" name="type" checked>
                      <label for="type-1">표시안함(-)</label>
                    </li>
                    <li>
                      <input class="check-type" type="radio" id="type-2" name="type">
                      <label for="type-2">다음주중</label>
                    </li>
                    <li>
                      <input class="check-type" type="radio" id="type-3" name="type">
                      <label for="type-3">미정</label>
                    </li>
                  </ul>
                </div>
            </div>

            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point save-btn">확인</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>


<!-- 노출설정 popup -->
<div class="modal-pop modal-today-on-off-pop" id="modal-today-on-off-pop">
    <div class="modal-dialog">
        <div class="modal-inner w360">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>노출 설정</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body hgauto">

                <div class="easy-pick-popup-info">
                  <p>상품의 노출여부를 설정할 수 있습니다.</p>
                </div>

                <div class="easy-pick-modal-type-wrapper m-t-10  m-b-5">
                    <div class="bg-blue">
                        <span>OFF</span>
                        <div class="btn-switch on-off">
                            <label>
                                <input type="checkbox">
                                <div class="slider"></div>
                            </label>
                        </div>
                        <span class="primary-color">ON</span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point save-btn">확인</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>



<!-- 기본설정 popup -->
<div class="modal-pop modal-today-default-pop" id="modal-today-default-pop">
    <div class="modal-dialog">
        <div class="modal-inner w560">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>기본설정</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body hgauto">

                <div class="easy-pick-popup-info">
                  <p>이지픽을 통해 입고된 입고별 상품 리스트를 불러올 때,아래에 설정된 조건을 자동으로 반영하여<br/>표시해 줍니다.</p>
                </div>

                <div class="easy-pick-modal-type-wrapper m-t-10  m-b-5">
                    <div class="line-box">
                        <table>
                            <colgroup>
                                <col style="width: 162px">
                                <col style="width: *">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>주문유형</th>
                                    <td>
                                        <div class="form-inline">
                                        <div class="form-control">
                                            <label>
                                            <input type="checkbox" class="custom-control-input" checked="checked">
                                            <span>전체</span>
                                            </label>
                                        </div>
                                        <div class="form-control">
                                            <label>
                                            <input type="checkbox">
                                            <span>신규</span>
                                            </label>
                                        </div>
                                        <div class="form-control">
                                            <label>
                                            <input type="checkbox">
                                            <span>미송</span>
                                            </label>
                                        </div>
                                        <div class="form-control">
                                            <label>
                                            <input type="checkbox" class="custom-control-input">
                                            <span>불량</span>
                                            </label>
                                        </div>
                                        <div class="form-control">
                                            <label>
                                            <input type="checkbox" class="custom-control-input">
                                            <span>샘플</span>
                                            </label>
                                        </div>
                                        <div class="form-control">
                                            <label>
                                            <input type="checkbox" class="custom-control-input">
                                            <span>유료샘플</span>
                                            </label>
                                        </div>
                                        <div class="form-control">
                                            <label>
                                            <input type="checkbox" class="custom-control-input">
                                            <span>샘플결제</span>
                                            </label>
                                        </div>
                                        <div class="form-control">
                                            <label>
                                            <input type="checkbox" class="custom-control-input">
                                            <span>샘플반납</span>
                                            </label>
                                        </div>
                                        <div class="form-control">
                                            <label>
                                            <input type="checkbox" class="custom-control-input">
                                            <span>제작신규</span>
                                            </label>
                                        </div>
                                        <div class="form-control">
                                            <label>
                                            <input type="checkbox" class="custom-control-input">
                                            <span>제작미송</span>
                                            </label>
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>입고예정일 일괄설정</th>
                                    <td>
                                        <div class="form-inline">
                                            <div class="select-control">
                                                <button type="button" class="btn-sel">입고예정일 +2일</button>
                                                <ul class="sel-panel is-select">
                                                    <li>입고예정일 +0일</li>
                                                    <li>입고예정일 +1일</li>
                                                    <li>입고예정일 +2일</li>
                                                    <li>입고예정일 +3일</li>
                                                    <li>입고예정일 +4일</li>
                                                    <li>입고예정일 +5일</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point save-btn">확인</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>


<!-- 미리보기 popup -->
<div class="modal-pop modal-today-preview-pop" id="modal-today-preview-pop">
    <div class="modal-dialog">
        <div class="modal-inner w750">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>미리보기</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">

                <div class="easy-pick-popup-info">
                  <div class="notice-wrap">
                    <p><strong class="primary-color">상품의 입고예정일을 확인하신 후 [쇼핑몰에 적용하기] 버튼을 클릭</strong>하시면 iframe 소스를 붙여넣기 한 위치에서 확인할 수 있습니다.</p>
                    <p>iframe 소스복사 및 붙여넣기를 하지 않으신 경우에는 [쇼핑몰에 적용하기]버튼을 클릭하셔도 입고예정일을 쇼핑몰에서 확인할 수<br/>
                    없습니다. 먼저 iframe 소스 복사 후 쇼핑몰의 원하는 위치에 붙여넣기 작업을 해주시기 바랍니다.<br/>
                    해당 작업은 최초 1번만 필요합니다.</p>
                  </div>
                </div>

                <div class="easy-pick-modal-type-wrapper m-b-5">
                        <table>
                            <colgroup>
                                <col style="width: 322px">
                                <col style="width: 194px">
                                <col style="width: 194px">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>상품명</th>
                                    <th>옵션</th>
                                    <th>입고예정일</th>
                                </tr>
                                <tr>
                                    <td>고잉</td>
                                    <td>블랙/M</td>
                                    <td>2021-12-07</td>
                                </tr>
                                <tr>
                                    <td>고잉</td>
                                    <td>블랙/L</td>
                                    <td>다음주중</td>
                                </tr>
                                <tr>
                                    <td>고잉</td>
                                    <td>블랙/S</td>
                                    <td>2021-12-07</td>
                                </tr>
                                <tr>
                                    <td>레이크 레이크 레이크 상품명이 길어지면 말줄임표합니다.</td>
                                    <td>옵션 옵션 길어지면 말줄임 표시합니다.</td>
                                    <td>미정</td>
                                </tr>
                                <tr>
                                    <td>렛츠캠핑 렛츠캠핑 렛츠캠핑</td>
                                    <td>-</td>
                                    <td>2021-12-07</td>
                                </tr>
                                <tr>
                                    <td>쉐이브</td>
                                    <td>화이트/미디움</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>쉐이브 쉐이브 쉐이브</td>
                                    <td>블랙/1</td>
                                    <td>2021-12-07</td>
                                </tr>
                                <tr>
                                    <td>레이크</td>
                                    <td>옐로우/66</td>
                                    <td>2021-12-07</td>
                                </tr>
                                <tr>
                                    <td>레이크</td>
                                    <td>-</td>
                                    <td>2021-12-07</td>
                                </tr>
                                <tr>
                                    <td>레이크</td>
                                    <td>블랙/M</td>
                                    <td>2021-12-07</td>
                                </tr>
                                <tr>
                                    <td>레이크</td>
                                    <td>블랙/M</td>
                                    <td>2021-12-07</td>
                                </tr>
                                <tr>
                                    <td>레이크</td>
                                    <td>블랙/M</td>
                                    <td>2021-12-07</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>

            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point save-btn">확인</button>
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>