// Icons from directory ""
%icon-small {
	background-repeat: no-repeat
}
.icon-small-icon-close-1,
.icon-small-icon-close-1\:regular {
	@extend %icon-small;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAZElEQVQ4y+2TyxHAIAgFpYWt1BIogbSYRsgpg2ZiAnffkXmL8mttqyg62mQKCc65BhTHBkRwHF8/IdiA3Hb5+lUgKXsgR9YeSNoewFHJb1P5yaITyLOtf8jL4AxHa6uh9H00VV0h4jU3BeRXdAAAAABJRU5ErkJggg==');
}
.icon-small-icon-close-1-dims {
	width: 24px;
	height: 24px;
}
.icon-small-icon-close,
.icon-small-icon-close\:regular {
	@extend %icon-small;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAtklEQVQ4y92SMRKDIBBFqWLN32vEC3oDOih08DB6DS6QI1D7U4hODKCZSZXszlC9D3+Xr9Qflm7hEBAREeB0e043MmABX3qRQTVVXM8HOLWeKxIZSjgISl/2voBgR0NZMZKPZKwwC9x6myHpKRSulV6xuSCk5+lJjgmXTRByQdwd07/jRPxAMF4IDpZ8Os8sZUN7kqY+dGmtht221vv3H1ePBqaTNEmfha9Xt6t42z3e9irev1lP6wfybyasZBcAAAAASUVORK5CYII=');
}
.icon-small-icon-close-dims {
	width: 24px;
	height: 24px;
}
.icon-small-icon-day,
.icon-small-icon-day\:regular {
	@extend %icon-small;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA/UlEQVQ4y2NgGJZARFJEinjFvELNQv+F3hGpXJBf6KLQX6CGC8SpZxPcJ/RZwE7ov2ApcebHAM12FZIFaoggSoPQCeEDDAwynEL/hEqIUQ40WSgVzLogdJwYB9kK/Rf2B7PSiXKUsBlMAwMr0PNfhcLgUowKHFjDSOizUC+EyScktBPowNNCDcLZwu1CT4R/CMph88UaoXtws5iE44SOCf0GagNjXhFsjjIFSvahCLGISgi7AJ1ahcvjpUDT+mU4kQwJEPoudFKKC5fPmYBafgs9EJwkFCIYIVQA9MV/oa3i3PiTnwnQL5+ACkHwoHAgAzNRqQqozVJUgmGYAgAjckV0YUVjrAAAAABJRU5ErkJggg==');
}
.icon-small-icon-day-dims {
	width: 24px;
	height: 24px;
}
.icon-small-icon-filter,
.icon-small-icon-filter\:regular {
	@extend %icon-small;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAzUlEQVQ4y2NgGE6AUThBaKvwAUwIFE3Aol4oVei/0FGsGo4BZZIxNSwXOonLcqHTgoswBYuF/gvHYlWeCLQhH0NYhlNwn9A/oTR0ceFsoPK9MpxYTJLhFNoClCxEFhMsBdq7SYEDl2PZhFYBFdQwMELCTagRaMAKBlZ8gcsiuBCoJQEebnMYmAnFBxvYDpCGBqH/DEyEI5AFRQPD4NLQLPSXGA1Mwj+EpzMwCnoLPRE+QFSyFToDDE4QvMWvRJQGURWhuUKrhVLwR9hQBgDOa02tFVSvpgAAAABJRU5ErkJggg==');
}
.icon-small-icon-filter-dims {
	width: 24px;
	height: 24px;
}
.icon-small-icon-minus,
.icon-small-icon-minus\:regular {
	@extend %icon-small;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAHklEQVQ4y2NgGAWjgBAQKhQ+gIBChdTXMApGATIAALRBC/ExmjklAAAAAElFTkSuQmCC');
}
.icon-small-icon-minus-dims {
	width: 24px;
	height: 24px;
}
.icon-small-icon-phone,
.icon-small-icon-phone\:regular {
	@extend %icon-small;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAsElEQVQ4y2NgGOlA0FfoutA34aW8wkQpF9YU+iX0HwSFK4kzvwyiHKhhCVEahEpgGoROEKchFK6hiCgNIupgxe+FXYgOJaHLYB+YE6+hAGzHYQZWYnWwC90D2zGdgREiIGAnZMUviM8fjkK/wbasFeID2lgMDYQjeOwUSoUqeiNUK/QBHm6h+HwSLPQNrhAGC/F6RVRFaDWK8l8i6oRTlgbQSYeFHgv9E7op4jfCcyUA+7ZTbF1mYscAAAAASUVORK5CYII=');
}
.icon-small-icon-phone-dims {
	width: 24px;
	height: 24px;
}
.icon-small-icon-pickshop-1,
.icon-small-icon-pickshop-1\:regular {
	@extend %icon-small;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA5ElEQVQ4je2Su2oCQRRAryBbiEHuuZNmSztTW/oJqfQ39EMEsbJY0lglfdLHRxUL8QOsRQVBLAStXKuAcWaTlAZyp5rDOTNTjMifmJy16NPXR8n9Rs/zRMqSJSmJ5H+w44K9kdpMIomsTaqvceEbvXjPhJM1P/fW4sTHncvQS2XmdrT6JaNhR+alckB3MWu2WrvmWmPL2sVewAsbq4Ru5oGNPft4pb2Mt4r2WPnBnk5WQIf9fyAiwo5uZtBl50EdMJUo6EdMefeoq3JgwdhGXxdjFhxcNXCQVUh0eB3okCT8ZW5mzlosVIyUOyz4AAAAAElFTkSuQmCC');
}
.icon-small-icon-pickshop-1-dims {
	width: 24px;
	height: 24px;
}
.icon-small-icon-pickshop,
.icon-small-icon-pickshop\:regular {
	@extend %icon-small;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAwUlEQVQ4y92SOwoCUQxF3wMVxAHJeQw27mY2YOUatJpGFyDqBqyVAV3A2NhbuwctLaYfrCQ2Fn7ip56bLjk3cEOcq6hCQkYWkv9oLwsU5Ywycf4XXmeFknWbrkGGsnS1L3SnxQ5let/rZYay67Q+4G3hwFUGjz0ZcuXQFjvqhkvovXV7XGRt8TVKmVsDmVMaSeIIZWQZGKFxVFmDjM0rjU2D86GQrfE7XrahMH+KFOUY9s/FCSV1tuhL/mqQnL6rmG7G4krWB4aldgAAAABJRU5ErkJggg==');
}
.icon-small-icon-pickshop-dims {
	width: 24px;
	height: 24px;
}
.icon-small-icon-plus,
.icon-small-icon-plus\:regular {
	@extend %icon-small;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAgMAAACdGdVrAAAADFBMVEUAAAASEhITExMSEhINQfVDAAAAA3RSTlMAccBXNk7ZAAAAH0lEQVQI12NgIAYwOoAppgZClNTqV0sQFBEaYEYTAgBX8wo9eE6fXwAAAABJRU5ErkJggg==');
}
.icon-small-icon-plus-dims {
	width: 24px;
	height: 24px;
}
.icon-small-icon-setting,
.icon-small-icon-setting\:regular {
	@extend %icon-small;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAACXBIWXMAAAsTAAALEwEAmpwYAAABRUlEQVQ4y9WSP04CcRCF3/Zs4ny7CxzAFmKichWJHolCwBOwoRE1QIGHwILEIJRAAqXlWrAka0Fi+PPTWOorJ/Ml770Z6X/IyhZbfHL2y/XwnA+WvJMFlZ8XfRqMGLJmkS9EpyzYMGZid6HvNnJHyiMDa0ZFSfJDatajQ0rDCTCh45w/MXIDY+tJkjyrBu2gbVV5ksSAoWM9qLChJsmzmIwpUzJryZOsyTo8P/RfImGeiySrktm1JNk1GVdSVGTBh5X3gZjVNmrQZvplchq0JSlfYGnxIbD8EVgdAiUSZgeWbraW/JAFiZWOQ6fcSvKstR+aGpvg0lXrC4PdWrna1mp9Xt13GFnXOb/nzQ3USXmwPrVcJEm5iDrP1mX9zWuEvjUZ88qGeb4QFZmRMmRE/Zvn24mfsGJJEl7od7KSxRYfFflX9QmWC3KvRN+8MAAAAABJRU5ErkJggg==');
}
.icon-small-icon-setting-dims {
	width: 24px;
	height: 24px;
}
.icon-small-icon-trash,
.icon-small-icon-trash\:regular {
	@extend %icon-small;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAtklEQVQ4y2NgGAAgdFjov/ABEBTMIkK5iJrQf4gGoZtC/0VVCWtwEPov4oDKwqZMEmjiO6H3Qu+FPwPN/4zKEnonfEBEEl3DaZBTgMo+Cv0C4vdILKC44EU0DfgcgEOGnhpEJCHuhdOENAjtFNqJTBPUAIo0ZHpEaCA5lIiMB2FNYBJLxxbTgunAVKuBKc4otEvoj9AJSF6DQaFL4DS8i4ERi0ni3EKNQnvQNFwGKl8gzk3PIgIAP0uKy7uSSjgAAAAASUVORK5CYII=');
}
.icon-small-icon-trash-dims {
	width: 24px;
	height: 24px;
}