<div class="modal-pop modal-common-memo-view" id="modal-common-memo-view">
  <div class="modal-dialog">
    <div class="modal-inner w480">
      <section class="modal-head">
        <div class="modal-head-inner">
          <h1>주문/결제 메모</h1>
          <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
        </div>

      </section>
      <div class="modal-body" style="min-height: 100px !important;">
        <div class="">
          <table class="tbl-register-row">
            <colgroup>
            <col style="width:149px;">
            <col style="width:auto;">
            </colgroup>
            <tbody>
            <tr>
                <th class="p-t-10 p-b-20">배송메시지</th>
                <td>
                  배송 잘 부탁드립니다.
                  이것저것 많이많이 주문했습니다.
                </td>
            </tr>
            <tr>
                <th>사입삼촌 요청 메모</th>
                <td>사입삼촌님 잘 부탁드립니다.</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-footer-btn">
            <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>
        </div>
      </div>
      <a href="javascript:void(0);" class="page-close"></a>
    </div>
  </div>
  <div class="dim"></div>
</div>
