<div class="modal-pop modal-memo-popup" id="modal-memo-popup">
    <!-- 2022-11-07 EZP-7275 일반메모가 있는 case -->
    <div class="modal-dialog">
            <div class="modal-inner w480">
                <section class="modal-head">
                    <div class="modal-head-inner">
                        <h1>메모</h1>
                        <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                    </div>
                </section>
                <div class="modal-body">
                    <textarea name="" id="" placeholder="">메모 입력된 내용 있는 경우 이렇게 표시됩니다.</textarea>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer-btn">
                        <button type="button" name="button" class="btn btn-lg btn-point">확인</button>	
                        <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                    </div>
                </div>
                <a href="javascript:void(0);" class="page-close"></a>
            </div>
        </div>

    <!-- 2022-11-07 EZP-7275 일반메모가 없는 case -->
    <div class="modal-dialog m-l-10">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                <textarea name="" id="" placeholder="품목 메모를 작성해주세요."></textarea>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point">확인</button>	
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<!-- 2022-11-07 EZP-7275 구매불가 상품 메모 case -->
<div class="modal-pop modal-memo-popup" id="modal-disabled-memo-popup">
    <!-- 구매불가 메모가 있는 case -->
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                <textarea name="" id="" placeholder="메모 입력된 내용 있는 경우 이렇게 표시됩니다." disabled></textarea>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>	
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>

    <!-- 구매불가 메모가 없는 case -->
    <div class="modal-dialog m-l-10">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                <textarea name="" id="" placeholder="" disabled></textarea>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>	
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<!--  -->
<div class="modal-pop modal-havememo-popup" id="modal-havememo-popup">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                <div class="havememo-wrap">
                    <p>메모입니다.</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<!-- 주문결제 2경우 -->
<div class="modal-pop modal-twomemo-popup" id="modal-twomemo-popup">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body twomemo-body">
                <table class="tbl-register-row modal-twomemo-table">
                    <colgroup>
                        <col style="width:149px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>구매자메모</th>
                            <td>
                                쇼핑몰에서 주문 시 품목별로 입력된 <br />
                                메모가 노출되는 메모입니다. <br />
                                없으면 하이픈 표시
                            </td>
                        </tr>
                        <tr>
                            <th>입고메모</th>
                            <td>
                                출고처리 시 품목별로 입력된 <br />
                                메모가 노출되는 메모입니다. <br />
                                없으면 하이픈 표시
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                  
                    <!-- 2022 08 17 취소 버튼 삭제 -->
                   <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>



<!-- 사입삼촌 2경우 -->
<div class="modal-pop modal-twodelmemo-popup" id="modal-twodelmemo-popup">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body twomemo-body">
                <table class="tbl-register-row modal-twomemo-table">
                    <colgroup>
                        <col style="width:159px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>배송메시지</th>
                            <td>
                                배송 잘 부탁드립니다. <br />
                                이것저것 많이많이 주문했습니다.
                            </td>
                        </tr>
                        <tr>
                            <th>사입삼촌 요청 메모</th>
                            <td>
                                사입삼촌님 잘 부탁드립니다.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="page-close btn btn-lg btn-point">확인</button>	
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<!-- 주문/결제 메모 -->
<div class="modal-pop modal-orderMemo-popup" id="modal-orderMemo-popup">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>주문/결제 메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body twomemo-body">
                <table class="tbl-register-row modal-twomemo-table">
                    <colgroup>
                        <col style="width:159px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>배송메시지</th>
                            <td>
                                배송 잘 부탁드립니다. <br />
                                이것저것 많이많이 주문했습니다.
                            </td>
                        </tr>
                        <tr>
                            <th>사입삼촌 요청 메모</th>
                            <td>
                                사입 삼촌님 잘 부탁드립니다.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>	
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<!-- 셀픽주문내역 -->
<div class="modal-pop modal-twomemo-popup" id="modal-twomemo2-popup">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body twomemo-body">
                <table class="tbl-register-row modal-twomemo-table">
                    <colgroup>
                        <col style="width:149px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>구매자메모</th>
                            <td>
                                쇼핑몰에서 주문 시 품목별로 입력된 <br />
                                메모가 노출되는 메모입니다. <br />
                                없으면 하이픈 표시
                            </td>
                        </tr>
                        <tr>
                            <th>입고메모</th>
                            <td>
                                출고처리 시 품목별로 입력된 <br />
                                메모가 노출되는 메모입니다. <br />
                                없으면 하이픈 표시
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                  
                    <!-- 2022 08 17 취소 버튼 삭제 -->
                   <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>


<!-- 사입삼촌메모 -->
<div class="modal-pop modal-samchonmemo-popup" id="modal-samchon-popup">
    <div class="modal-dialog">
        <div class="modal-inner w480 nomh">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>주문메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body onememo-body">
                <table class="tbl-register-row modal-onememo-table">
                    <colgroup>
                        <col style="width:159px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>사입삼촌<br />요청 메모</th>
                            <td>
                                사입 삼촌님 잘 부탁드립니다.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>	
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<!-- 입고메모 -->
<div class="modal-pop modal-ipgomemo-popup" id="modal-ipgo-popup">
    <div class="modal-dialog">
        <div class="modal-inner w480 nomh">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>주문메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body onememo-body">
                <table class="tbl-register-row modal-onememo-table">
                    <colgroup>
                        <col style="width:159px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>입고 메모</th>
                            <td>
                                잘 부탁드립니다.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>	
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<!-- 구매자메모 -->
<div class="modal-pop modal-buyuser-popup" id="modal-buyuser-popup">
    <div class="modal-dialog">
        <div class="modal-inner w480 nomh">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>주문메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body onememo-body">
                <table class="tbl-register-row modal-onememo-table">
                    <colgroup>
                        <col style="width:159px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>구매자 메모</th>
                            <td>
                                잘 부탁드립니다.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>	
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<!-- 매입환불 요청 메모 -->
<div class="modal-pop modal-purchase-regund-popup" id="modal-purchase-regund-popup">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body twomemo-body">
                <table class="tbl-register-row modal-twomemo-table">
                    <colgroup>
                        <col style="width:159px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>배송메시지</th>
                            <td>
                                배송 잘 부탁드립니다. <br />
                                이것저것 많이많이 주문했습니다.
                            </td>
                        </tr>
                        <tr>
                            <th>사입삼촌 요청 메모</th>
                            <td>
                                사입삼촌님 잘 부탁드립니다.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point">확인</button>	
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>

<div class="modal-pop modal-usermemo-popup" id="modal-usermemo-popup">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>구매자 메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body buy-usermemo-body">
                <p>
                    구매자 메모 내용을 수정하시면, 이후 미송 발주서부터 지속적으로 반영됩니다. <br />
                    (수정사항이 없는 경우, 기존 메모가 동일하게 발주서에 표시됩니다.)
                </p>
                <textarea>구매자 메모 입력했습니다.</textarea>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point">저장</button>	
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>


<div class="modal-pop modal-note-popup" id="modal-note-popup">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <!-- 2022 08 18 text  수정 -->
                    <h1>구매자 메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body buy-usermemo-body">
                <p>
                    샘플주문합니다. <br />
                    색상별로 다양하게 샘플 요청드립니다.
                </p>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>	
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>



<div class="modal-pop purchase-refund-modal" id="purchase-refund-modal">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>매입환불 요청 메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body purchase-refund-body">
                <table>
                    <colgroup>
                        <col style="width:149px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>관리자메모</th>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th>고객메모</th>
                            <td>
                                <textarea name="" id="">매입금 잔액 사용.사용 후 잔액 재확인해주세요.</textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point">확인</button>	
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>


<!-- 가게매입금내역 -->
<div class="modal-pop modal-twomemo-popup" id="modal-outputmemo-popup">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>매입환불 요청 메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body twomemo-body">
                <table class="tbl-register-row modal-twomemo-table">
                    <colgroup>
                        <col style="width:149px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>관리자메모</th>
                            <td>
                                -
                            </td>
                        </tr>
                        <tr>
                            <th>고객메모</th>
                            <td>
                                매입금 잔액 사용. <br />
                                사용 후 잔액 재확인해주세요.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>	
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>







<!-- 주문메모 -->
<div class="modal-pop modal-order-memo-popup" id="modal-order-memo-popup">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>주문메모</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body memo-body">
                <table>
                    <colgroup>
                        <col style="width:150px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>
                                사입 삼촌<br>
                                요청 메모
                            </th>
                            <td>
                                사입 삼촌님 잘 부탁드립니다.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point">확인</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>