<div class="modal-pop modal-buy-failure" id="modal-buy-failure">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>불량상품 등록하기</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                <div class="txt-info mb20">
                    <p class="fnsize12">
                        입고상품이 불량인 경우 불량 입고된 상품 수량과 메모를 작성해 주시면,<br>
                        확인 후 불량상품을 '교환' 해 드리도록 하겠습니다.<br/>
                        <!-- 2022 08 11 케이스 다를때 문구 추가 -->
                        상품 품절로 인해 교환이 불가 할 경우 상품의 판매가격만큼 적립금으로 환불됩니다.
                    </p>
                </div>

                <div class="tbl-form">
                    <table>
                        <tbody>
                            <tr>
                                <th>거래처명</th>
                                <td>청평화</td>
                            </tr>

                            <!— 2022 08 31 EZP-6775
                                거래처명이 있을 경우만 해당 tr 적용 -->
                              <tr>
                                <th>거래처명(주문)</th>
                                <td>청평화</td>
                            </tr>
                             <!-- //거래처명이 있을 경우만 해당 tr 적용 -->

                            <tr>
                                <th>상품명</th>
                                <td>기본 T 롱 원피스 (아이보리/S)</td>
                            </tr>
                            <tr>
                                <th>입고수량</th>
                                <td>
                                    10
                                </td>
                            </tr>
                            <tr>
                                <th>불량수량</th>
                                <td>
                                    <input type="text" value="1">
                                </td>
                            </tr>
                            <tr>
                                <th>메모입력</th>
                                <td><textarea name="" id="" placeholder="내용을 입력해주세요."></textarea></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point page-close">확인</button>	
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>