<div class="modal-pop account-popup-case01-2" id="account-popup-case01-2">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>최종금액 설정</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                <div class="txt-info mb20">
                    <p class="fnsize12">
                        거래처를 검색 하여 최종정산금액을 입력 할 수 있습니다.<br>
                        <span class="ftpointcolor1">최종정산금액</span>을 입력하시면, '조정금액 항목'에 차액이 자동으로 저장됩니다.
                    </p>
                </div>
                <div class="tbl-form">
                    <table>
                        <tbody>
                            <tr>
                                <th>거래처명</th>
                                <td>
                                    <input type="text" value="거래처명 검색" class="name-input">
                                </td>
                            </tr>
                            <tr>
                                <th>결제금액</th>
                                <td><span>40,000</span> 원</td>
                            </tr>
                            <tr>
                                <th>최종금액입력</th>
                                <td>
                                    <input type="text" value="1">
                                </td>
                            </tr>
                            <tr>
                                <th>사유입력</th>
                                <td>
                                    <textarea name="" id="" placeholder="내용을 입력해주세요."></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point">확인</button>	
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>



<div class="modal-pop account-popup-case01-3" id="account-popup-case01-3">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>정산보류</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                <div class="info-txt">
                    정산보류 요청 시 정산이 중단되며,<br>
                    이지픽 관리자가 재요청 시 정산처리가 가능합니다.
                </div>
                <h3>정산보류 사유 입력 후 정산보류를 요청하겠습니까?</h3>
                <div class="form-box">
                    <textarea name="" id="" placeholder="내용을 입력해주세요."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point">확인</button>	
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>