<div class="modal-pop account-popup-case02-1" id="account-popup-case02-1">
    <div class="modal-dialog">
        <div class="modal-inner">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>{거래처명} 총 정산상세내역 <span class="settlement-amount">정산금액 : <storng>1,385,500</strong>원</span></h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                <div class="top-info mb20">
                    <div class="f-left dflex align-center">
                        <span class="mr10" style="font-weight: 500;">정산월</span>
                        <div class="select-control active">
                            <button type="button" class="btn-sel">2022-04</button>
                            <ul class="sel-panel is-select" style="display: block;">
                                <li class="active hover">2022-04</li>
                                <li class="">2022-03</li>
                            </ul>
                        </div>
                    </div>
                    <div class="btns-multi f-right">
                        <button type="button" name="button" class="btn btn-sm btn-outline-gray">
                            <i class="ico ico-excel"></i>
                            엑셀다운로드
                        </button>
                    </div>
                </div>
                <div class="tround-box detail-tbl detail-tbl-type02">
                    <div class="tbl-scroll-box">
                        <div class="tbl-head">
                            <table class="tbl-list-view">
                                <thead>
                                    <tr>
                                        <th>입고일</th>
                                        <th>구분</th>
                                        <th>신규주문</th>
                                        <th>신규입고</th>
                                        <th class="plus-info-ico">신규미송</th>
                                        <th class="plus-info-ico">샘플입고</th>
                                        <th class="minus-info-ico">반품</th>
                                        <th class="minus-info-ico">매입환불</th>
                                        <th class="plus-info-ico">조정금액</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-body">
                            <table class="tbl-list-view">
                                <tbody>
                                    <tr>
                                        <td rowspan="4">2022-04-03</td>
                                        <td colspan="8" class="td-p20">
                                            정산금액 <span class="ftpointcolor">220,000</span>원 (공급가 기준 <span>200,000</span>원)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>공급가액</td>
                                        <td class="text-ar">200,000</td>
                                        <td class="text-ar">100,000</td>
                                        <td class="text-ar">100,000</td>
                                        <td class="text-ar">100,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr>
                                        <td>부가세</td>
                                        <td class="text-ar">20,000</td>
                                        <td class="text-ar">10,000</td>
                                        <td class="text-ar">10,000</td>
                                        <td class="text-ar">10,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr class="tbl-gray">
                                        <td><strong>합계<strong></td>
                                        <td class="text-ar"><strong>220,000<strong></td>
                                        <td class="text-ar"><strong>110,000<strong></td>
                                        <td class="text-ar"><strong>110,000<strong></td>
                                        <td class="text-ar"><strong>110,000<strong></td>
                                        <td class="text-ar"><strong>0<strong></td>
                                        <td class="text-ar"><strong>0<strong></td>
                                        <td class="text-ar"><strong>0<strong></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">2022-04-03</td>
                                        <td colspan="8" class="td-p20">
                                            정산금액 <span class="ftpointcolor">335,000</span>원 (공급가 기준 <span>305,000</span>원)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>공급가액</td>
                                        <td class="text-ar">200,000</td>
                                        <td class="text-ar">100,000</td>
                                        <td class="text-ar">100,000</td>
                                        <td class="text-ar">100,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">
                                            <span class="ftpointcolor1">105,000</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>부가세</td>
                                        <td class="text-ar">20,000</td>
                                        <td class="text-ar">10,000</td>
                                        <td class="text-ar">10,000</td>
                                        <td class="text-ar">10,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">
                                            <span class="ftpointcolor1">10,500</span>
                                        </td>
                                    </tr>
                                    <tr class="tbl-gray">
                                        <td><strong>합계<strong></td>
                                        <td class="text-ar"><strong>220,000<strong></td>
                                        <td class="text-ar"><strong>110,000<strong></td>
                                        <td class="text-ar"><strong>110,000<strong></td>
                                        <td class="text-ar"><strong>110,000<strong></td>
                                        <td class="text-ar"><strong>0<strong></td>
                                        <td class="text-ar"><strong>0<strong></td>
                                        <td class="text-ar">
                                            <strong class="ftpointcolor1">115,000</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">2022-04-03</td>
                                        <td colspan="8" class="td-p20">
                                            정산금액 <span class="ftpointcolor">335,000</span>원 (공급가 기준 <span>305,000</span>원)<br>
                                            = 합계 <span>-66,000</span>원 + 매입금적립금액 반영 <span>66,000</span>원 <span class="pointColor-gray">(상품금액 60,000원 + 부가세 6,000원)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>공급가액</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">60,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr>
                                        <td>부가세</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">6,000</td>
                                        <td class="text-ar">0</td>
                                        <td class="text-ar">0</td>
                                    </tr>
                                    <tr class="tbl-gray">
                                        <td class="text-ar"><strong>합계<strong></td>
                                        <td class="text-ar"><strong>0<strong></td>
                                        <td class="text-ar"><strong>0<strong></td>
                                        <td class="text-ar"><strong>0<strong></td>
                                        <td class="text-ar"><strong>0<strong></td>
                                        <td class="text-ar"><strong>66,000<strong></td>
                                        <td class="text-ar"><strong>0<strong></td>
                                        <td class="text-ar"><strong>0</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">닫기</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>








<div class="modal-pop account-popup-case02-2" id="account-popup-case02-2">
    <div class="modal-dialog">
        <div class="modal-inner">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>입고일별 총 정산상세내역</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                <div class="info-box01 mb20">
                    <div class="info">입고일 : 2022-04-28</div>
                    <div class="info">거래처명 : {거래처명표시}</div>
                </div>
                <div class="tround-box detail-tbl detail-tbl-type02 mb30">
                    <div class="tbl-box">
                        <table class="tbl-list-view">
                            <thead>
                                <tr>
                                    <th rowspan="2">구분</th>
                                    <th rowspan="2">
                                        <a href="javascript: void(0);">신규주문</a>
                                        <!--tooltip-->
                                        <div class="tool-tip-wrap tool-gray">
                                            <a href="javascript:void(0)" class="tool-tip">툴팁</a>
                                            <div class="tool-tip-area renewal-tool-tip-area">
                                                <section class="tool-tip-title">
                                                    <h1>신규주문</h1>
                                                    <div class="tool-tip-inner">
                                                        <h2 class="dot">"신규" 유형 품목의 (판매가 x 발주수량) 총합</h2>
                                                    </div>
                                                </section>
                                                <button type="button" class="tool-tip-close">닫기</button>
                                            </div>
                                        </div>
                                        <!--//tooltip-->
                                    </th>
                                    <th colspan="6">
                                        정산금액 <span class="ftpointcolor">0</span>원 (공급가 기준 <span>0</span>원)<br>
                                            = 합계 <span>-66,000</span>원 + 매입금적립금액 반영 <span>66,000</span>원 <span class="pointColor-gray">(상품금액 60,000원 + 부가세 6,000원)</span>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <a href="javascript: void(0);">신규입고</a>
                                        <!--tooltip-->
                                        <div class="tool-tip-wrap tool-gray">
                                            <a href="javascript:void(0)" class="tool-tip">툴팁</a>
                                            <div class="tool-tip-area renewal-tool-tip-area">
                                                <section class="tool-tip-title">
                                                    <h1>신규입고</h1>
                                                    <div class="tool-tip-inner">
                                                        <h2 class="dot">
                                                            "신규 또는 제작신규,제작미송" 유형 품목의<br>
                                                            (판매가 x 입고수량) 총합
                                                        </h2>
                                                    </div>
                                                </section>
                                                <button type="button" class="tool-tip-close">닫기</button>
                                            </div>
                                        </div>
                                        <!--//tooltip-->
                                    </th>
                                    <th class="plus-info-ico">
                                        <a href="javascript: void(0);">신규미송</a>
                                        <!--tooltip-->
                                        <div class="tool-tip-wrap tool-gray">
                                            <a href="javascript:void(0)" class="tool-tip">툴팁</a>
                                            <div class="tool-tip-area renewal-tool-tip-area">
                                                <section class="tool-tip-title">
                                                    <h1>신규미송</h1>
                                                    <div class="tool-tip-inner">
                                                        <h2 class="dot">               
                                                            “신규” 유형 품목 중 품절처리방식이 “미송 또는<br>
                                                            옵션변경”인 품목의 (판매가 x 잔여수량) 총합
                                                        </h2>
                                                    </div>
                                                </section>
                                                <button type="button" class="tool-tip-close">닫기</button>
                                            </div>
                                        </div>
                                        <!--//tooltip-->
                                    </th>
                                    <th class="plus-info-ico">
                                        <a href="javascript: void(0);">샘플입고</a>
                                        <!--tooltip-->
                                        <div class="tool-tip-wrap tool-gray">
                                            <a href="javascript:void(0)" class="tool-tip">툴팁</a>
                                            <div class="tool-tip-area renewal-tool-tip-area">
                                                <section class="tool-tip-title">
                                                    <h1>샘플입고금액</h1>
                                                    <div class="tool-tip-inner">
                                                        <h2 class="dot">               
                                                            "유료샘플, 샘플결제" 유형 품목의<br>
                                                            (판매가 x 입고수량) 총합
                                                        </h2>
                                                    </div>
                                                </section>
                                                <button type="button" class="tool-tip-close">닫기</button>
                                            </div>
                                        </div>
                                        <!--//tooltip-->
                                    </th>
                                    <th class="minus-info-ico">
                                        <a href="javascript: void(0);">반품</a>
                                        <!--tooltip-->
                                        <div class="tool-tip-wrap tool-gray">
                                            <a href="javascript:void(0)" class="tool-tip">툴팁</a>
                                            <div class="tool-tip-area renewal-tool-tip-area md">
                                                <section class="tool-tip-title">
                                                    <h1>반품</h1>
                                                    <div class="tool-tip-inner">
                                                        <h2 class="dot">          
                                                            "불량" 유형 품목 중 품절처리방식이 "환불"인 품목의<br>
                                                            (판매가 x 잔여수량) 총합<br>
                                                            "미송" 유형 품목 중 품절처리방식이 "환불"인 품목의<br>
                                                            (판매가 x 잔여수량) 총합
                                                        </h2>
                                                    </div>
                                                </section>
                                                <button type="button" class="tool-tip-close">닫기</button>
                                            </div>
                                        </div>
                                        <!--//tooltip-->
                                    </th>
                                    <th class="minus-info-ico">
                                        <a href="javascript: void(0);">매입환불</a>
                                        <!--tooltip-->
                                        <div class="tool-tip-wrap tool-gray">
                                            <a href="javascript:void(0)" class="tool-tip">툴팁</a>
                                            <div class="tool-tip-area renewal-tool-tip-area">
                                                <section class="tool-tip-title">
                                                    <h1>매입환불</h1>
                                                    <div class="tool-tip-inner">
                                                        <h2 class="dot">          
                                                            매입내역에 누적된 매입잔액 중<br>
                                                            거래처별로 환불처리가 가능한 금액 합계
                                                        </h2>
                                                    </div>
                                                </section>
                                                <button type="button" class="tool-tip-close">닫기</button>
                                            </div>
                                        </div>
                                        <!--//tooltip-->
                                    </th>
                                    <th class="plus-info-ico">조정금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>공급가액</td>
                                    <td class="text-ar">
                                        <span>400,000</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>300,000</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>400,000</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>0</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>400,000</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>0</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>0</span> 원
                                    </td>
                                </tr>
                                <tr>
                                    <td>부가세</td>
                                    <td class="text-ar">
                                        <span>40,000</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>40,000</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>40,000</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>0</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>40,000</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>0</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>0</span> 원
                                    </td>
                                </tr>
                                <tr class="tbl-gray">
                                    <td>합계</td>
                                    <td class="text-ar">
                                        <span>440,000</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>440,000</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>440,000</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>0</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>440,000</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>0</span> 원
                                    </td>
                                    <td class="text-ar">
                                        <span>0</span> 원
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-box01 mb20">
                    <div class="info">상품품목정보 (전체)</div>
                </div>
                <div class="tround-box detail-tbl detail-tbl-type02">
                    <div class="tbl-box scrollY">
                        <table class="tbl-list-view">
                            <colgroup>
                                <col style="width: 66px;">
                                <col style="width: 147px;">
                                <col style="width: autoxw;">
                                <col style="width: 147px;">
                                <col style="width: 147px;">
                                <col style="width: 147px;">
                                <col style="width: 147px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>유형</th>
                                    <th>상품명</th>
                                    <th>옵션</th>
                                    <th>판매가</th>
                                    <th>수량</th>
                                    <th>합계금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>7</td>
                                    <td>
                                        <div class="easy-pick-case">
                                            <span class="return">
                                            반납
                                            </span>
                                        </div>
                                    </td>
                                    <td>모스크바체크BL</td>
                                    <td>퍼플 / Free</td>
                                    <td class="text-ar">
                                        <span>5,000</span>원
                                    </td>
                                    <td>1</td>
                                    <td class="text-ar">
                                        <span>5,000</span>원
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>
                                        <div class="easy-pick-case">
                                            <span class="new">
                                            신규
                                            </span>
                                        </div>
                                    </td>
                                    <td>라운드 티셔츠</td>
                                    <td>블랙 / 55</td>
                                    <td class="text-ar">
                                        <span>105,000</span>원
                                    </td>
                                    <td>3</td>
                                    <td class="text-ar">
                                        <span>105,000</span>원
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        <div class="easy-pick-case">
                                            <span class="sample">
                                            샘플
                                            </span>
                                        </div>
                                    </td>
                                    <td>모스크바체크BL</td>
                                    <td>그린 / Free</td>
                                    <td class="text-ar">
                                        <span>35,000</span>원
                                    </td>
                                    <td>10</td>
                                    <td class="text-ar">
                                        <span>35,000</span>원
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        <div class="easy-pick-case">
                                            <span class="undeliver">
                                            미송
                                            </span>
                                        </div>
                                    </td>
                                    <td>브이넥티셔츠</td>
                                    <td>블랙 / 55</td>
                                    <td class="text-ar">
                                        <span>5,000</span>원
                                    </td>
                                    <td>1</td>
                                    <td class="text-ar">
                                        <span>5,000</span>원
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <div class="easy-pick-case">
                                            <span class="failure">
                                            불량
                                            </span>
                                        </div>
                                    </td>
                                    <td>테니스 스커트</td>
                                    <td>퍼플 / Free</td>
                                    <td class="text-ar">
                                        <span>7,000</span>원
                                    </td>
                                    <td>4</td>
                                    <td class="text-ar">
                                        <span>7,000</span>원
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <div class="easy-pick-case">
                                            <span class="new-produce">
                                            제작<br>신규
                                            </span>
                                        </div>
                                    </td>
                                    <td>2타입 두줄 조거 트레이닝 바지</td>
                                    <td>블랙 / 55</td>
                                    <td class="text-ar">
                                        <span>5,000</span>원
                                    </td>
                                    <td>10</td>
                                    <td class="text-ar">
                                        <span>5,000</span>원
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <div class="easy-pick-case">
                                            <span class="sample-payment">
                                            샘플<br>결제
                                            </span>
                                        </div>
                                    </td>
                                    <td>2타입 두줄 조거 트레이닝 바지</td>
                                    <td>그린 / Free</td>
                                    <td class="text-ar">
                                        <span>8,000</span>원
                                    </td>
                                    <td>50</td>
                                    <td class="text-ar">
                                        <span>8,000</span>원
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pageination-wrap">
                        <div class="pagination renewal">
                        <a href="#" class="first">처음</a>
                        <a href="#" class="prev">이전</a>
                        <input type="number" value="1" class="active">
                        <span class="slash"></span>
                        <span class="total-page">15</span>
                        <a href="#" class="next">다음</a>
                        <a href="#" class="last">마지막</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">닫기</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>