<div class="modal-pop modal-add-contact" id="modal-add-contact">
    <div class="modal-dialog">
        <div class="modal-inner w480">
            <section class="modal-head">
                <div class="modal-head-inner">
                    <h1>대화상대 추가</h1>
                    <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            </section>
            <div class="modal-body">
                <div class="form-control">
                    <input type="text" class="inp-search" placeholder="가게명을 일력해 주세요">
                    <button type="button" class="btn btn-search"></button>
                </div>
                <div class="notice-txt">
                    <span class="notice-ico">최근 6개월 이내에 주문이력이 있는 가게 중 하나를 선택할 수 있습니다.</span>
                </div>
                <div class="contact-list">
                    <ul>
                        <li>
                            <a href="javascript: void(0);">
                                <span>가게명</span> / <span>마켓명 동 층 열 호</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <span>1969(일구육구)</span> / <span>청평화 1층 나열 28호</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <span>1프로(일레븐)</span> / <span>테크노 3층 22호</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <span>502스타일</span> / <span>청평화 4층 D열 38호</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <span>AVON</span> / <span>APM플레이스 4층 16호</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <span>C.nergy(시너지)</span> / <span>무궁화회관(디오트외곽) 1층 6호</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <span>edd product(앤써)</span> / <span>디오트 4층 E열 2호</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <span>가브리엘</span> / <span>스튜디오W 3층 51호</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <span>더모스트</span> / <span>신발상가 C동 2층 29호</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <span>리페어</span> / <span>디오트 2층 F열 2호</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <span>리페어</span> / <span>디오트 2층 F열 2호</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pageination-wrap">
                    <div class="pagination renewal">
                        <a href="#" class="first">처음</a>
                        <a href="#" class="prev">이전</a>
                        <input type="number" value="1" class="active">
                        <span class="slash"></span>
                        <span class="total-page">15</span>
                        <a href="#" class="next">다음</a>
                        <a href="#" class="last">마지막</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <button type="button" name="button" class="btn btn-lg btn-point">확인</button>	
                    <button type="button" name="button" class="btn btn-lg btn-darkgray page-close">취소</button>
                </div>
            </div>
            <a href="javascript:void(0);" class="page-close"></a>
        </div>
    </div>
    <div class="dim"></div>
</div>
