{% extends "../_templates/layout.njk" %}
{% block content %}
<div class="section-left">
    <div class="column-wrap">
        <div id="wrap">
            <div class="content-head">
                <div class="page-title">
                  <h3 class="h3-tit">공지사항</h3>
                  <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
                </div>
            
                <div class="cont-info-right">
                  <ul class="breadcrumb">
                    <li>공급</li>
                    <li>서비스안내</li>
                    <li class="now" title="현재 페이지">공지사항</li>
                  </ul>
                </div>
            </div>

            <div class="tbl-round notice notice-renewal-wrap">
                <div class="notice-box ntit">
                    <h2>사이트 점검 안내</h2>
                    <div class="dib">
                        <span>등록일<em>2019-08-09 13:22</em></span>
                    </div>
                </div>
                <div class="scrollbar-inner notice">
                    <div class="notice-content">
                        <p>
                            안녕하세요 이지픽입니다. <br />
                            이지픽 서비스 개선을 위한 작업으로 인하여 <br />
                            아래와 같이 일시적으로 서비스 이용이 불가능할 예정입니다. <br />
                            <br />
                            - 작업일시 : 2021년 11월 27일 (토요일) | 오전 10:00 ~ 오후 10:00 (12시간) <br />
                            - 작업내용 : 사이트 점검에 따른 이지픽 서비스 이용 불가 <br />
                            ※ 작업 상황에 따라 점검 시간이 변경될 수 있습니다. <br />
                            <br />
                            서비스 이용에 불편을 드려 죄송합니다. <br />
                            <br />
                            안녕하세요 이지픽입니다. <br />
                            <br />
                            이지픽 서비스 개선을 위한 작업으로 인하여 <br />
                            아래와 같이 일시적으로 서비스 이용이 불가능할 예정입니다. <br />
                            <br />
                            - 작업일시 : 2021년 11월 27일 (토요일) | 오전 10:00 ~ 오후 10:00 (12시간) <br />
                            - 작업내용 : 사이트 점검에 따른 이지픽 서비스 이용 불가 <br />
                            ※ 작업 상황에 따라 점검 시간이 변경될 수 있습니다.
                        </p>
                        <p>
                            안녕하세요 이지픽입니다. <br />
                            이지픽 서비스 개선을 위한 작업으로 인하여 <br />
                            아래와 같이 일시적으로 서비스 이용이 불가능할 예정입니다. <br />
                            <br />
                            - 작업일시 : 2021년 11월 27일 (토요일) | 오전 10:00 ~ 오후 10:00 (12시간) <br />
                            - 작업내용 : 사이트 점검에 따른 이지픽 서비스 이용 불가 <br />
                            ※ 작업 상황에 따라 점검 시간이 변경될 수 있습니다. <br />
                            <br />
                            서비스 이용에 불편을 드려 죄송합니다. <br />
                            <br />
                            안녕하세요 이지픽입니다. <br />
                            <br />
                            이지픽 서비스 개선을 위한 작업으로 인하여 <br />
                            아래와 같이 일시적으로 서비스 이용이 불가능할 예정입니다. <br />
                            <br />
                            - 작업일시 : 2021년 11월 27일 (토요일) | 오전 10:00 ~ 오후 10:00 (12시간) <br />
                            - 작업내용 : 사이트 점검에 따른 이지픽 서비스 이용 불가 <br />
                            ※ 작업 상황에 따라 점검 시간이 변경될 수 있습니다.
                        </p>
                        <p>
                            안녕하세요 이지픽입니다. <br />
                            이지픽 서비스 개선을 위한 작업으로 인하여 <br />
                            아래와 같이 일시적으로 서비스 이용이 불가능할 예정입니다. <br />
                            <br />
                            - 작업일시 : 2021년 11월 27일 (토요일) | 오전 10:00 ~ 오후 10:00 (12시간) <br />
                            - 작업내용 : 사이트 점검에 따른 이지픽 서비스 이용 불가 <br />
                            ※ 작업 상황에 따라 점검 시간이 변경될 수 있습니다. <br />
                            <br />
                            서비스 이용에 불편을 드려 죄송합니다. <br />
                            <br />
                            안녕하세요 이지픽입니다. <br />
                            <br />
                            이지픽 서비스 개선을 위한 작업으로 인하여 <br />
                            아래와 같이 일시적으로 서비스 이용이 불가능할 예정입니다. <br />
                            <br />
                            - 작업일시 : 2021년 11월 27일 (토요일) | 오전 10:00 ~ 오후 10:00 (12시간) <br />
                            - 작업내용 : 사이트 점검에 따른 이지픽 서비스 이용 불가 <br />
                            ※ 작업 상황에 따라 점검 시간이 변경될 수 있습니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tar noti">
                <div class="dib">
                    <button type="button" name="button" class="btn btn-sm btn-primary">목록</button>
                </div>
            </div>

            <div class="tbl-round">
                <table class="tbl-register-row bod-none">
                    <colgroup>
                        <col style="width:120px;">
                        <col style="width:auto;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>이전글</th>
                            <td>
                                <div class="notice-box renewal-notice-box">
                                    <div class="f-left">
                                        <a href="#">
                                            <span class="txt-link">이전글이 없습니다.</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>다음글</th>
                            <td>
                                <div class="notice-box renewal-notice-box">
                                    <div class="f-left">
                                        <a href="#">
                                            <span class="txt-link">공지사항입니다.</span>
                                        </a>
                                    </div>
                                    <div class="f-right">
                                        <span>등록일<em>2022-05-31 18:29:08</em></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
    
</div>

{% endblock %}