{% extends "../_templates/layout.njk" %}
{% block content %}
<div id="wrap">

    <div class="content-head">
        <div class="page-title">
            <h3 class="h3-tit">마이픽관리</h3>
            <a href="#" class="btn-manual" target="_blank" title="매뉴얼">매뉴얼</a>
            <div class="form-box">
                <form onsubmit="return submitHandler();">
                    <fieldset>
                        <legend class="skip">통합검색</legend>
                        <label for="total-search" class="skip">검색어 입력</label>
                        <input type="search" name="total-search" id="total-search" title="검색어 입력" class="text"
                            placeholder="상품을 검색해보세요.">
                        <input type="submit" value="검색" class="submit">
                    </fieldset>
                </form>
            </div>
            <a href="" class="direct-cart-btn" target="_blank" title="장바구니 바로가기">장바구니 바로가기</a>
        </div>

        <div class="cont-info-right green-caption">
            <ul class="breadcrumb">
                <li>공급</li>
                <li>이지픽사입하기</li>
                <li class="now" title="현재 페이지">마이픽관리</li>
            </ul>
        </div>
    </div>

    <section class="mypick-setting-section">

        <div class="mypick-toptab-wrap">
            <ul class="tab mypick-icon-tab">
                <li data-tab="conttab1" class="active">
                    <a href="javascript: void(0);" class="tab-home">
                        <i></i>
                        <div class="text-box">
                            <h6>픽샵</h6>
                            <p>123</p>
                        </div>
                    </a>
                </li>
                <li data-tab="conttab2">
                    <a href="javascript: void(0);" class="tab-heart">
                        <i></i>
                        <div class="text-box">
                            <h6>픽템</h6>
                            <p>456</p>
                        </div>
                    </a>
                </li>
                <li data-tab="conttab3">
                    <a href="javascript: void(0);" class="tab-timer">
                        <i></i>
                        <div class="text-box">
                            <h6>최근 본 상품</h6>
                            <p>7,890</p>
                        </div>
                    </a>
                </li>
                <li data-tab="conttab4">
                    <a href="javascript: void(0);" class="tab-package">
                        <i></i>
                        <div class="text-box">
                            <h6>내 판매 상품</h6>
                            <p>1,357</p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="mypick-btn-wrap">
                <li class="green-btn">
                    <a href="#">
                        <span>이지톡 문의하기</span>
                        <!-- 2023-02-14 EZP-6415 아이콘 제거
                            <i><img src="../assets/images/share-icon-green.png" alt="share icon"></i> -->
                    </a>
                </li>
                <!-- 2022-11-30 EZP-6818 샘플제안관리 추가 -->
                <!-- li에 on이 붙었을 경우 미열람 제안서 있음 -->
                <li class="purple-btn on">
                    <a href="./sample-list.html">
                        <span>샘플 제안 관리</span>
                        <!-- <i><img src="../assets/images/share-icon-purple.png" alt="share icon"></i> -->
                    </a>
                </li>
                <!-- 2022-11-30 EZP-6415 디자인시안에는 입고매칭이 없어 제거
                    <li class="blue-btn">
                    <a href="#">
                        <span>입고 상품 매칭</span>
                        <i><img src="../assets/images/share-icon-blue.png" alt="share icon"></i>
                    </a>
                </li> -->
                <!-- 2022-11-30 EZP-6415 EC상품 매칭 관리 추가 -->
                <li class="blue-btn">
                    <a href="#">
                        <span>EC 상품 매칭 관리</span>
                        <!-- 2023-02-14 EZP-6415 아이콘 제거
                            <i><img src="../assets/images/share-icon-blue.png" alt="share icon"></i> -->
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-top-round">
            <ul class="tab-rounds tab">
              <li data-tab="conttab1" class="active">
                <a href="./matching-info.html"><span>매칭정보관리</span></a>
              </li>
              <li data-tab="conttab2">
                <a href="./order-matching-info.html">주문매칭관리</a>
              </li>
            </ul>
        </div>
        <div class="notice-wrap p-t-10 p-b-10">
            <div>
              <i class="ico-notice">
                <span class="txt-hide">공지아이콘</span>
              </i>
              매칭정보관리
              <br />
              <div class="easy-pick-text m-t-5">
                <p>상품 매칭 정보를 조회하거나 삭제할 수 있습니다.<br/>
                주문매칭관리 메뉴에서 매칭완료 했거나 내 쇼핑몰(EC) 상품으로 등록했을 때 이지픽 상품, EC 상품 정보가 매칭 정보로 등록됩니다.</p>
              </div>
            </div>
          </div>
          <div class="mSearchEngine folder">
            <form name="" id="">
              <input type="hidden" name="" value="">
              <div class="tborder-box">
                <div class="tbl-top-search">
                  <div class="table-row">
                    <table class="tbl-top">
                      <colgroup>
                        <col style="width:120px;">
                        <col style="width:auto">
                      </colgroup>
                      <tbody>
                        <tr class="rowFix rowFold">
                          <th>기간</th>
                          <td>
                            <div class="form-inline">
                              <div class="sel-date-type">
                                <button type="button" class="label-date active">1개월</button>
                                <ul class="sel-date-list">
                                  <li class="label-date">오늘</li>
                                  <li class="label-date">3일</li>
                                  <li class="label-date">7일</li>
                                  <li class="label-date active">1개월</li>
                                  <li class="label-date">3개월</li>
                                  <li class="label-date">6개월</li>
                                  <li class="label-date">1년</li>
                                  <li class="label-date">선택</li>
                                </ul>
                              </div>
                              <div class="calendar-box">
                                <div class="form-inline">
                                  <div class="form-control">
                                    <input type="text" class="cal-input" value="2019-04-01" data-range="cal01">
                                  </div>
                                  <div class="wave-txt">~</div>
                                  <div class="form-control">
                                    <input type="text" class="cal-input" value="2019-04-01" data-range="cal01">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="rowFix rowFold">
                          <th>검색</th>
                          <td>
                            <div class="form-inline">
                              <select name="" id="" class="default-select w120">
                                <option value="">전체</option>
                                <option value="">거래처명</option>
                                <option value="">이지픽품목코드</option>
                                <option value="">이지픽상품명</option>
                                <option value="">EC품목코드</option>
                                <option value="">EC상품명</option>
                              </select>
                              <div class="form-control searchValue">
                                <input type="text" class="search-input-w2" name="" id="" value="" placeholder="">
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="top-btn-search">
                    <button type="button" name="button" class="btn btn-lg btn-point">검색</button>
                    <button type="button" class="btn btn-lg sarchsortbtn reset m-t-5">초기화</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="gridTableArea">
            <div class="table-top-info">
              <div class="top-txt-inline">
                <span class="txt-inline">검색결과 <strong>1,000</strong>건
                    <!-- 2023-02-01 EZP-6415 카운트표시 추가 -->
                    <!-- 2023-02-21 EZP-6415 제거
                        <span class="txt-inline">(총 매칭정보 등록 건수 <strong>1,000</strong>개)</span> -->
              </div>
              <div class="sort-sel-area">
                <select id="list_limit" class="default-select">
                  <option value="20" selected="selected">20개씩 보기</option>
                  <option value="30">30개씩 보기</option>
                  <option value="50">50개씩 보기</option>
                  <option value="100">100개씩 보기</option>
                  <option value="200">200개씩 보기</option>
                </select>
              </div>
            </div>
            <div class="tround-box">
              <div class="tbl-round ">
                <div class="tbl-info-area">
                  <div class="f-left">
                    <div class="btns-multi">
                      <button type="button" name="button" class="btn btn-sm btn-outline-gray">삭제</button>
                    </div>
                  </div>
                </div>
                <!-- 그리드 테이블-->
                <div class="mGridTable tbl-height03 tbl-th-two td-height-60 ">
                    <table class="eChkColor" id="eMultiTable">
                        <caption>매칭정보관리</caption>
                        <thead>
                            <tr>
                                <th scope="col" rowspan="2" style="width: 50px;" class="resizebar">
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                </th>
                                <th scope="col" rowspan="2" style="width: 198px;" class="resizebar">등록일시</th>
                                <!-- 2023-02-16 EZP-6415 class bg-green 추가 -->
                                <th scope="col" colspan="4" style="width: 866px;" class="resizebar bar-center bg-green">이지픽 상품정보</th>
                                <!-- 2023-02-14 EZP-6415 class bg-yellow 추가 -->
                                <th scope="col" colspan="3" style="width: 557px;" class="bar-center bg-yellow">EC 상품정보</th>
                            </tr>
                            <tr>
                                <!-- 2023-02-16 EZP-6415 class bg-green 추가 시작 -->
                                <th scope="col" style="width: 130px;" class="bg-green">품목코드</th> <!-- 2023-02-07 EZP-6415 워딩변경 -->
                                <th scope="col" style="width: 316px;" class="bg-green">거래처명</th>
                                <th scope="col" style="width: 324px;" class="bg-green">상품명</th>
                                <th scope="col" style="width: 96px;" class="bg-green">옵션</th>
                                <!-- 2023-02-16 EZP-6415 class bg-green 추가 끝 -->
                                <!-- 2023-02-14 EZP-6415 class bg-yellow 추가 시작 -->
                                <th scope="col" style="width: 130px;" class="bg-yellow">EC품목코드</th>
                                <th scope="col" style="width: 324px;" class="bg-yellow">EC상품명</th> <!-- 2023-02-07 EZP-6415 워딩변경 -->
                                <th scope="col" style="width: 96px;" class="bg-yellow">옵션</th>
                                <!-- 2023-02-14 EZP-6415 class bg-yellow 추가 끝 -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                </td>
                                <td>2022-10-11 13:57:53</td>
                                <!-- 2023-02-01 EZP-6415 link 제거로 a 태그 제거 -->
                                <td>
                                    P0000000000
                                </td>
                                <td>진짜피카소(디오트 A동 1층 1호)</td>
                                <td class="overflow-unset">
                                    <a href="#" class="txt-link">2타입 두줄 조거 트레이닝 바지미송</a>
                                </td>
                                <!-- 2023-02-14 EZP-6415 r-line 추가 -->
                                <td class="r-line">
                                    <span>네이비<br/><em>S</em></span>
                                </td>
                                <td>P000000J00H</td>
                                <td class="overflow-unset">2타입 두줄 조거 트레이닝 바지미송</td>
                                <td><span>네이비<br/><em>S</em></span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                </td>
                                <td>2022-10-11 13:57:53</td>
                                <!-- 2023-02-01 EZP-6415 link 제거로 a 태그 제거 -->
                                <td>
                                    P0000000000
                                </td>
                                <td>진짜피카소(디오트 A동 1층 1호)</td>
                                <td class="overflow-unset">
                                    <a href="#" class="txt-link">2타입 두줄 조거 트레이닝 바지미송</a>
                                </td>
                                 <!-- 2023-02-14 EZP-6415 r-line 추가 -->
                                 <td class="r-line">
                                    <span>네이비<br/><em>S</em></span>
                                </td>
                                <td>P000000J00H</td>
                                <td class="overflow-unset">2타입 두줄 조거 트레이닝 바지미송</td>
                                <td><span>네이비<br/><em>S</em></span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                </td>
                                <td>2022-10-11 13:57:53</td>
                                <!-- 2023-02-01 EZP-6415 link 제거로 a 태그 제거 -->
                                <td>
                                    P0000000000
                                </td>
                                <td>진짜피카소(디오트 A동 1층 1호)</td>
                                <td class="overflow-unset">
                                    <a href="#" class="txt-link">2타입 두줄 조거 트레이닝 바지미송</a>
                                </td>
                                 <!-- 2023-02-14 EZP-6415 r-line 추가 -->
                                 <td class="r-line">
                                    <span>네이비<br/><em>S</em></span>
                                </td>
                                <td>P000000J00H</td>
                                <td class="overflow-unset">2타입 두줄 조거 트레이닝 바지미송</td>
                                <td><span>네이비<br/><em>S</em></span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                </td>
                                <td>2022-10-11 13:57:53</td>
                                <td>
                                    P0000000000
                                </td>
                                <td>진짜피카소(디오트 A동 1층 1호)</td>
                                <td class="overflow-unset">
                                    2타입 두줄 조거 트레이닝 바지미송
                                </td>
                                 <!-- 2023-02-14 EZP-6415 r-line 추가 -->
                                 <td class="r-line">
                                    <span>네이비<br/><em>S</em></span>
                                </td>
                                <td>P000000J00H</td>
                                <td class="overflow-unset">2타입 두줄 조거 트레이닝 바지미송</td>
                                <td><span>네이비<br/><em>S</em></span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                </td>
                                <td>2022-10-11 13:57:53</td>
                                <!-- 2023-02-01 EZP-6415 link 제거로 a 태그 제거 -->
                                <td>
                                    P0000000000
                                </td>
                                <td>진짜피카소(디오트 A동 1층 1호)</td>
                                <td class="overflow-unset">
                                    <a href="#" class="txt-link">2타입 두줄 조거 트레이닝 바지미송</a>
                                </td>
                                 <!-- 2023-02-14 EZP-6415 r-line 추가 -->
                                 <td class="r-line">
                                    <span>네이비<br/><em>S</em></span>
                                </td>
                                <td>P000000J00H</td>
                                <td class="overflow-unset">2타입 두줄 조거 트레이닝 바지미송</td>
                                <td><span>네이비<br/><em>S</em></span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                </td>
                                <td>2022-10-11 13:57:53</td>
                                <!-- 2023-02-01 EZP-6415 link 제거로 a 태그 제거 -->
                                <td>
                                    P0000000000
                                </td>
                                <td>진짜피카소(디오트 A동 1층 1호)</td>
                                <td class="overflow-unset">
                                    <a href="#" class="txt-link">2타입 두줄 조거 트레이닝 바지미송</a>
                                </td>
                                 <!-- 2023-02-14 EZP-6415 r-line 추가 -->
                                 <td class="r-line">
                                    <span>네이비<br/><em>S</em></span>
                                </td>
                                <td>P000000J00H</td>
                                <td class="overflow-unset">2타입 두줄 조거 트레이닝 바지미송</td>
                                <td><span>네이비<br/><em>S</em></span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-control check-one">
                                        <label>
                                            <input type="checkbox">
                                            <span>체크</span>
                                        </label>
                                    </div>
                                </td>
                                <td>2022-10-11 13:57:53</td>
                                <!-- 2023-02-01 EZP-6415 link 제거로 a 태그 제거 -->
                                <td>
                                    P0000000000
                                </td>
                                <td>진짜피카소(디오트 A동 1층 1호)</td>
                                <td class="overflow-unset">
                                    <a href="#" class="txt-link">2타입 두줄 조거 트레이닝 바지미송</a>
                                </td>
                                 <!-- 2023-02-14 EZP-6415 r-line 추가 -->
                                 <td class="r-line">
                                    <span>네이비<br/><em>S</em></span>
                                </td>
                                <td>P000000J00H</td>
                                <td class="overflow-unset">2타입 두줄 조거 트레이닝 바지미송</td>
                                <td><span>네이비<br/><em>S</em></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              <!-- //그리드 테이블-->  
            </div>
            {% include("../_templates/default/pagination.njk") %}

             <!-- 업로드품목 없는 case -->
             <div class="gridTableArea">
                <div class="tround-box">
                    <div class="tbl-round">
                        <div class="tbl-info-area">
                        <div class="f-left">
                            <div class="btns-multi">
                            <button type="button" name="button" class="btn btn-sm btn-outline-gray">삭제</button>
                            </div>
                        </div>
                        </div>
                        <!-- 그리드 테이블-->
                        <div class="mGridTable tbl-height03 tbl-th-two td-height-60">
                            <table id="eMultiTable1" class="eChkColor">
                                <thead>
                                    <tr>
                                        <th scope="col" rowspan="2" style="width: 50px;" class="resizebar">
                                            <div class="form-control check-one">
                                                <label>
                                                    <input type="checkbox">
                                                    <span>체크</span>
                                                </label>
                                            </div>
                                        </th>
                                        <th scope="col" rowspan="2" style="width: 198px;" class="resizebar">등록일시</th>
                                        <!-- 2023-02-16 EZP-6415 class bg-green 추가 시작 -->
                                        <th scope="col" colspan="4" style="width: 866px;" class="resizebar bar-center bg-green">이지픽 상품정보</th>
                                        <!-- 2023-02-14 EZP-6415 class bg-yellow 추가 -->
                                        <th scope="col" colspan="3" style="width: 557px;" class="bar-center bg-yellow">EC 상품정보</th>
                                    </tr>
                                    <tr>
                                        <!-- 2023-02-16 EZP-6415 class bg-green 추가 시작 -->
                                        <th scope="col" style="width: 130px;" class="bg-green">품목코드</th> <!-- 2023-02-07 EZP-6415 워딩변경 -->
                                        <th scope="col" style="width: 316px;" class="bg-green">거래처명</th>
                                        <th scope="col" style="width: 324px;" class="bg-green">상품명</th>
                                        <th scope="col" style="width: 96px;" class="bg-green">옵션</th>
                                        <!-- 2023-02-16 EZP-6415 class bg-green 추가 끝 -->
                                        <!-- 2023-02-14 EZP-6415 class bg-yellow 추가 시작 -->
                                        <th scope="col" style="width: 130px;" class="bg-yellow">EC품목코드</th>
                                        <th scope="col" style="width: 324px;" class="bg-yellow">EC상품명</th> <!-- 2023-02-07 EZP-6415 워딩변경 -->
                                        <th scope="col" style="width: 96px;" class="bg-yellow">옵션</th>
                                        <!-- 2023-02-14 EZP-6415 class bg-yellow 추가 끝 -->
                                    </tr>
                                </thead>
                                <tbody>
                                <tr class="tr-empty" no-resize>
                                    <td>
                                        <div class="txt">
                                            <i><img src="../assets/images/guide-ico.png" alt="guide-icon"></i>
                                            <!-- 2023-02-16 EZP-6415 워딩변경 -->
                                            <span>등록된 건이 없습니다.</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //그리드 테이블-->
                </div>
            {% include("../_templates/default/pagination.njk") %}
            </div>
            <!-- //업로드품목 없는 case -->
          </div>
        
    </section>

</div>

<!-- 픽템 > 마켓 선택 >  멀티 셀렉트 -->
<script src="../../js/ui/cp/jquery-migrate.js" type="text/javascript"></script>
<script src="../../js/ui/cp/multi_select.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
    $('#eMultiTable').fixResize({
      colResize: true,
      resizeVer: 'flex'
    });
    // 데이터 없을시 새로운 테이블
    $('#eMultiTable1').fixResize({
      colResize: true,
      resizeVer: 'flex'
    });

    // 2022-11-29 EZP-7409 (개발에서 기존소스를 같이 쓸 경우 오류가 있어 변경해준내용 그대로 작성) 시작
    const emptyTh = $('.tr-empty[no-resize=""]').parents('table').find('thead tr th').length - 2;
    const emptyMt = $('.tr-empty[no-resize=""]').parents('table').css('margin-top').replace('-', '');
    const emptyMg = emptyMt.replace('px', '');
    $('.tr-empty[no-resize=""] td').attr('colspan', emptyTh);
    $('.tr-empty[no-resize=""]').parents('table').css('height', `calc(100% + ${emptyMg}px)`);
    // 2022-11-17 EZP-7409 (개발에서 기존소스를 같이 쓸 경우 오류가 있어 변경해준내용 그대로 작성) 끝
    
  });
</script>

{% endblock %}