<div class="content-footer">
    <div class="content-footer-btns">
        <button type="button" name="button" class="btn btn-lg btn-darkgray mr10">이전 저장 내용으로 초기화</button>
        <button type="button" name="button" class="btn btn-lg btn-point">변경사항 저장</button>
    </div>
</div>
