<div class="content-footer">
    <div class="content-footer-btns">
        <button type="button" name="button" class="btn btn-lg btn-renewal-green mr10">이지픽 회원 탈퇴</button>
        <button type="button" name="button" class="btn btn-lg btn-darkgray renewal-btn-lg">취소</button>
    </div>
</div>
