<div class="content-footer">
    <div class="content-footer-btns">
        <button type="button" name="button" class="btn btn-lg btn-easypick-color mr10">서비스 신청</button>
        <button type="button" name="button" class="btn btn-lg btn-darkgray">취소</button>
    </div>
</div>
