
<div class="content-footer easypick-service-footer">
    <!-- 2022-10-06 EZP-7004 -->
    <!-- 2022-10-31 EZP-7306 div.content-footer 밖에서 안으로 위치이동 -->
    <!-- 2022-11-02 EZP-7344 하단플로팅 영역이 없을 경우 content-footer-acc-btn에 .bottom-none class를 넣어주세요 -->
    <div class="content-footer-acc-btn">
        <a href="../sub/index.html"><i class="new-product-ico"><img src="../../img/icons/new-product-btn-ico.png"></i><p>동대문 <span>신상품</span>을<br/>지금 바로 확인해보세요!</p></a>
    </div>

    <div class="service-footer-wrap">
        <div class="text-box">
            <dl>
                <dt>가장 쉬운 No.1 동대문 사입 서비스 '이지픽'</dt>
                <dd>간단하게 서비스 신청하고, <br class="tablet-br">이제 마켓플러스에서도 쉽게 Pick 하세요!</dd>
            </dl>
        </div>
        <ul class="button-box">
            <li class="green-con">
                <div class="con-wrap">
                    <div class="form-control">
                        <label>
                            <input type="checkbox" class="custom-service-input">
                            <span>개인정보 제3자 제공 동의 (필수)</span>
                        </label>
                    </div>
                    <a href="javascript:void(0);" class="popup-open" onclick="targetModalPopup('modal-easypick-privacy')">보기</a>
                </div>
                <div class="description-wrap">
                    <p>서비스 신청을 위해서는 동의가 꼭 필요합니다.</p>
                </div>
            </li>
            <li class="white-con">
                <a class="con-wrap" href="#">
                    <p>이지픽 서비스 신청하기</p>
                    <!-- 2022-09-06 EZP-6940 brown 붙어있는 이미지 추가 후 수정 -->
                    <i><img src="../../img/icons/brown-service-index-arrow.png" alt="serivce arrow"></i>
                </a>
                <div class="description-wrap">
                    <p>이지픽을 이미 이용하고 계시다면?</p>
                    <a href="javascript:void(0);" onclick="targetModalPopup('modal-easypick-account')">이지픽 계정 연동하기</a>
                </div>
            </li>
        </ul>
    </div>
</div>
