<div class="content-footer">
    <div class="content-footer-btns">
        <!-- 2022-11-10 EZP-7223 onclick 추가 -->
        <button type="button" name="button" class="btn btn-lg btn-point" onclick="targetModalPopup('direct-order-modal-case06-2')">동의하고 주문하기</button>
    </div>
</div>
